﻿@model dynamic

@{
    ViewBag.Title = "Something going wrong";
}

<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Damn we are broke today :(</h3>
            <div class="well" style="font-weight: normal;height: 500px;text-align: center;">
                <img style="width: 80%;" src="https://clicktorace.blob.core.windows.net/portalimages/broken-links.jpg" />
                <h2> But be assure we will look into this matter and if required we will fix this.</h2>
            </div>
        </div>
    </div>
</div>
