﻿@model Marathonrunners.Models.UpdateViewModelAddress
<div id="addressupdate">
    @using (Ajax.BeginForm("AddressUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "addressupdate",
        OnFailure = "update_ended",
        //OnSuccess = ""
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.Address)</span>
        <div class="clk2raceSettingsListContent">
            @Html.TextAreaFor(model => model.Address, new { @name = "address", @id = "address", @placeholder = "Address", @maxlength = "200", @cols = "26", @rows = "3" })
            @Html.ValidationMessageFor(model => model.Address)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>





