﻿@model Marathonrunners.Models.UpdateViewModelBloodGroup
<div id="bloodgroupupdate">
    @using (Ajax.BeginForm("BloodGroupUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "bloodgroupupdate",
        OnFailure = "update_ended",
        //OnSuccess = ""
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.BloodGroup)</span>
        <div class="clk2raceSettingsListContent">
            @Html.DropDownListFor(model => model.BloodGroup,
                                        new List<SelectListItem>{
                                            new SelectListItem { Text = "Select Bloodgroup", Value = ""},
                                            new SelectListItem { Text = "A+", Value = "A+"},
                                            new SelectListItem { Text = "A-", Value = "A-"},
                                            new SelectListItem { Text = "B+", Value = "B+"},
                                            new SelectListItem { Text = "B-", Value = "B-"},
                                            new SelectListItem { Text = "AB+", Value = "AB+"},
                                            new SelectListItem { Text = "AB-", Value = "AB-"},
                                            new SelectListItem { Text = "O+", Value = "O+"},
                                            new SelectListItem { Text = "O-", Value = "O-"},
                                            new SelectListItem { Text = "Others", Value = "Others"}
                                        }, new { @id = "blood_group", @name = "blood_group" })
            @Html.ValidationMessageFor(model => model.BloodGroup)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>






