﻿@model Marathonrunners.Models.UpdateViewModelChronicDisease
    <div id="firstnameupdate">
        @using (Ajax.BeginForm("ChronicDiseaseUpdate", "Setting", new AjaxOptions {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "firstnameupdate",
            OnFailure = "update_ended"
        })) {
            @Html.AntiForgeryToken()
            <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.ChronicDisease)</span>
            <div class="clk2raceSettingsListContent">
                @Html.TextBoxFor(model => model.ChronicDisease, new {
           @class = "chars", @name = "chronicdisease", @id = "chronicdisease",
           @placeholder = "None", @autocomplete = "off", @maxlength = "20"
       })
                @Html.ValidationMessageFor(model => model.ChronicDisease)
            </div>
            <span class="clk2raceSettingsListGroupEdit">
                <input class="buttonlink" type="submit" value="Update" />
                <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
            </span>
        }
    </div>
