﻿@model Marathonrunners.Models.UpdateViewModelDateOfBirth
<div id="dobupdate">
    @using (Ajax.BeginForm("DateOfBirthUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "dobupdate",
        OnFailure = "update_ended",
        OnSuccess = "load_datepicker"
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.DateOfBirth)</span>
        <div class="clk2raceSettingsListContent">
            @Html.TextBoxFor(model => model.DateOfBirth, new { @name = "datebirth", @id = "datebirth", @placeholder = "yyyy-mm-dd", @readonly = "readonly"})
            @Html.ValidationMessageFor(model => model.DateOfBirth)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>



