﻿@model Marathonrunners.Models.UpdateViewModelEmergencyContactName
<div id="emergencycontactnameupdate">
    @using (Ajax.BeginForm("EmergencyContactNameUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "emergencycontactnameupdate",
        OnFailure = "update_ended",
        //OnSuccess = ""
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.EmergencyContactName)</span>
        <div class="clk2raceSettingsListContent">
            @Html.TextBoxFor(model => model.EmergencyContactName, new { @name = "emcontactname", @id = "emcontactname", @placeholder = "Emergency Contact Name" })
            @Html.ValidationMessageFor(model => model.EmergencyContactName)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>








