﻿@model Marathonrunners.Models.UpdateViewModelEmergencyContactNumber
<div id="emergencycontactnumberupdate">
    @using (Ajax.BeginForm("EmergencyContactNumberUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "emergencycontactnumberupdate",
        OnFailure = "update_ended",
        //OnSuccess = ""
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.EmergencyContactNumber)</span>
        <div class="clk2raceSettingsListContent">
            @Html.TextBoxFor(model => model.EmergencyContactNumber, new { @class = "nums", @name = "emcontactnum", @id = "emcontactnum", @placeholder = "Emergency Contact No.",@minlength = "10",@maxlength = "15" })
            @Html.ValidationMessageFor(model => model.EmergencyContactNumber)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>









