﻿@model Marathonrunners.Models.UpdateViewModelFirstName
<div id="firstnameupdate">
    @using (Ajax.BeginForm("FirstNameUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "firstnameupdate",
        OnFailure = "update_ended"
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.FirstName)</span>
        <div class="clk2raceSettingsListContent">
            @Html.TextBoxFor(model => model.FirstName, new {
           @class = "chars", @name = "inputFname", @id = "inputFname",
           @placeholder = "First Name", @autocomplete = "off"})
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>


