﻿@model Marathonrunners.Models.UpdateViewModelGender
<div id="titleupdate">
    @using (Ajax.BeginForm("GenderUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "titleupdate",
        OnFailure = "update_ended"
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">Select Gender</span>
        <div class="clk2raceSettingsListContent">
            @Html.DropDownListFor(model => model.Title,
            new List<SelectListItem>{
                new SelectListItem { Text = "-", Value = ""},
                new SelectListItem { Text = "Male", Value = "1"},
                new SelectListItem { Text = "Female", Value = "2"}
                 
            }, new { @id = "title", @name = "Gender" })
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>

