﻿@model Marathonrunners.Models.UpdateViewModelIdentityProof
<div id="idproofupdate">
    @using (Ajax.BeginForm("IdentityProofUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "idproofupdate",
        OnFailure = "update_ended",
        //OnSuccess = ""
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.IdentityProof)</span>
        <div class="clk2raceSettingsListContent">
            @Html.DropDownListFor(model => model.IdentityProof,
                                        new List<SelectListItem>{
                                            new SelectListItem { Text = "Select ID", Value = ""},
                                            new SelectListItem { Text = "PAN", Value = "PAN"},
                                            new SelectListItem { Text = "Voter ID", Value = "Voter ID"},
                                            new SelectListItem { Text = "Passport", Value = "Passport"},
                                            new SelectListItem { Text = "Aadhar", Value = "Aadhar"},
                                            new SelectListItem { Text = "Driving License", Value = "Driving License"}
                                        }, new { @id = "identity_proof", @name = "identity_proof" })
            @Html.ValidationMessageFor(model => model.IdentityProof)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>

