﻿@model Marathonrunners.Models.UpdateViewModelIDNum
<div id="idnumupdate">
    @using (Ajax.BeginForm("IdNumUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "idnumupdate",
        OnFailure = "update_ended",
        //OnSuccess = ""
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.IDNum)</span>
        <div class="clk2raceSettingsListContent">
            @Html.TextBoxFor(model => model.IDNum, new { @name = "idno", @id = "idno", @placeholder = "ID Number", @maxlength = "20" })
            @Html.ValidationMessageFor(model => model.IDNum)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>






