﻿@model Marathonrunners.Models.UpdateViewModelLastName
<div id="lastnameupdate">
    @using (Ajax.BeginForm("LastNameUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "lastnameupdate",
        OnFailure = "update_ended"
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.LastName)</span>
        <div class="clk2raceSettingsListContent">
            @Html.TextBoxFor(model => model.LastName, new { @class = "chars", @name = "inputLnam", @id = "inputLnam", @placeholder = "Last Name", @autocomplete = "off" })
            @Html.ValidationMessageFor(model => model.LastName)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>


