﻿@model Marathonrunners.Models.UpdateViewModelMobile
<div id="mobileupdate">
    @using (Ajax.BeginForm("MobileUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "mobileupdate",
        OnFailure = "update_ended",
        //OnSuccess = ""
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.MobileNum)</span>
        <div class="clk2raceSettingsListContent">
            @Html.TextBoxFor(model => model.MobileNum, new { @class = "nums", @name = "mobile", @id = "mobile", @placeholder = "Mobile Number with country code",@minlength = "10",@maxlength = "15" })
            @Html.ValidationMessageFor(model => model.MobileNum)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>





