﻿@model Marathonrunners.Models.UpdateViewModelNameOnBIB
<div id="firstnameupdate">
    @using (Ajax.BeginForm("NameOnBibUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "firstnameupdate",
        OnFailure = "update_ended"
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">
            @Html.LabelFor(model => model.NameOnBIB
        )
        </span>
        <div class="clk2raceSettingsListContent">
            @Html.TextBoxFor(model => model.NameOnBIB, new {
           @class = "chars", @name = "nameonbib", @id = "nameonbib",
           @placeholder = "Name on BIB", @autocomplete = "off", @maxlength = "8"
       })
            @Html.ValidationMessageFor(model => model.NameOnBIB)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>
