﻿@model Marathonrunners.Models.UpdateViewModelNationality
<div id="nationalityupdate">
    @using (Ajax.BeginForm("NationalityUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "nationalityupdate",
        //OnFailure = "update_ended",
        OnSuccess = "update_ended",
        OnComplete = "load_nationality"
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.Nationality)</span>
        <div class="clk2raceSettingsListContent">
            @Html.DropDownListFor(model => model.Nationality, new List<SelectListItem>(), new { @name = "nationality", @id = "nationality", @onchange = "nationality_onchange();" })
            @Html.ValidationMessageFor(model => model.Nationality)
            @Html.HiddenFor(model => model.HiddenNationality, new { @id = "hidden_nationality" })
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>




