﻿@model Marathonrunners.Models.UpdateViewModelOccupation
<div id="occupationupdate">
    @using (Ajax.BeginForm("OccupationUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "occupationupdate",
        OnFailure = "update_ended",
        //OnSuccess = ""
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.Occupation)</span>
        <div class="clk2raceSettingsListContent">
            @Html.DropDownListFor(model => model.Occupation,
                                        new List<SelectListItem>{
                                            new SelectListItem { Text = "Select Occupation", Value = ""},
                                            new SelectListItem { Text = "Business", Value = "Business"},
                                            new SelectListItem { Text = "Self Employeed", Value = "Self Employeed"},
                                            new SelectListItem { Text = "Salaried", Value = "Salaried"},
                                            new SelectListItem { Text = "Retired", Value = "Retired"},
                                            new SelectListItem { Text = "House Wife", Value = "House Wife"},
                                            new SelectListItem { Text = "Student", Value = "Student"},
                                            new SelectListItem { Text = "Govt. Employee", Value = "Govt. Employee"},
                                            new SelectListItem { Text = "Sports Person", Value = "Sports Person"},
                                            new SelectListItem { Text = "Unemployed", Value = "Unemployed"},
                                            new SelectListItem { Text = "Others", Value = "Others"}
                                        }, new { @id = "occupation", @name = "occupation" })
            @Html.ValidationMessageFor(model => model.Occupation)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>






