﻿@model Marathonrunners.Models.UpdateViewModelRunningClub
<div id="runningclubupdate">
    @using (Ajax.BeginForm("RunningClubUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "runningclubupdate",
        OnFailure = "update_ended",
        //OnSuccess = ""
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.RunningClub)</span>
        <div class="clk2raceSettingsListContent">
            @Html.TextBoxFor(model => model.RunningClub, new { @name = "runclub", @id = "runclub", @placeholder = "None", @value = "None" })
            @Html.ValidationMessageFor(model => model.RunningClub)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>







