﻿@model Marathonrunners.Models.UpdateViewModelShirtSize
<div id="shirtsizeupdate">
    @using (Ajax.BeginForm("ShirtSizeUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "shirtsizeupdate",
        OnFailure = "update_ended",
        //OnSuccess = ""
    })) {
        @Html.AntiForgeryToken()
        <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.ShirtSize)</span>
        <div class="clk2raceSettingsListContent">
            @Html.DropDownListFor(model => model.ShirtSize,
                                        new List<SelectListItem>{
                                            new SelectListItem { Text = "Select Size", Value = ""},
                                            //new SelectListItem { Text = "XL", Value = "XXL"},
                                            new SelectListItem { Text = "XL", Value = "XL"},
                                            new SelectListItem { Text = "L", Value = "L"},
                                            new SelectListItem { Text = "M", Value = "M"},
                                            new SelectListItem { Text = "S", Value = "S"},
                                        }, new { @id = "tshirt_size", @name = "tshirt_size" })
            @Html.ValidationMessageFor(model => model.ShirtSize)
        </div>
        <span class="clk2raceSettingsListGroupEdit">
            <input class="buttonlink" type="submit" value="Update" />
            <a class="buttonlink" onclick="toggle_field_section(this)"><i class="fa fa-times fa-lg"></i></a>
        </span>
    }
</div>

