﻿<span class="clk2raceSettingsListLabel"></span>
<div class="clk2raceSettingsListContent">
    Successfully Updated!!
    <input type="hidden" id="success" value=@Html.Raw(ViewBag.Value) />
</div>
<span class="clk2raceSettingsListGroupEdit">
    @if (@ViewBag.Location != null && @ViewBag.Location == true) {
        <a class="buttonlink" onclick=" toggle_field_section(this,'UserLocation') "><i class="fa fa-times fa-lg"></i></a>
    } else {
        <a class="buttonlink" onclick=" toggle_field_section(this) "><i class="fa fa-times fa-lg"></i></a>
    }
</span>