﻿@model Marathonrunners.Models.UpdateViewModelUserLocation
<div id="userlocationupdate">
    @using (Ajax.BeginForm("UserLocationUpdate", "Setting", new AjaxOptions {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "userlocationupdate",
        OnFailure = "update_ended",
        OnSuccess = "load_userlocation"
    })) {
        @Html.AntiForgeryToken()

        <ul class="forminsideul">
            <li>
                <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.Country)</span>
                <div class="clk2raceSettingsListContent">
                    @Html.DropDownListFor(model => model.Country, new List<SelectListItem>(), new { @name = "country", @id = "country", @onchange = "print_state('state', this.selectedIndex);" })
                    @Html.ValidationMessageFor(model => model.Country)
                    @Html.HiddenFor(model => model.HiddenCountry, new { @id = "hidden_country" })
                </div>
                <span class="clk2raceSettingsListGroupEdit">
                    <input class="buttonlink" type="submit" value="Update" />
                    <a class="buttonlink" onclick="toggle_field_section(this,'UserLocation')"><i class="fa fa-times fa-lg"></i></a>
                </span>
            </li>
            <li id="state_div">
                <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.State)</span>
                <div class="clk2raceSettingsListContent">
                    @Html.DropDownListFor(model => model.State, new List<SelectListItem>(), "Select State", new { @name = "state", @id = "state", @onchange = "print_city('city', this.selectedIndex);" })
                    @Html.ValidationMessageFor(model => model.State)
                    @Html.HiddenFor(model => model.HiddenState, new { @id = "hidden_state" })
                </div>
            </li>
            <li id="other_state_div" style="display:none">
                <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.OtherState)</span>
                <div class="clk2raceSettingsListContent">
                    @Html.TextBoxFor(model => model.OtherState, new { @name = "other_state", @id = "other_state", @placeholder = "Other State" })
                    @Html.ValidationMessageFor(model => model.OtherState)
                </div>
            </li>
            <li id="city_div">
                <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.City)</span>
                <div class="clk2raceSettingsListContent">
                    @Html.DropDownListFor(model => model.City, new List<SelectListItem>(), "Select City", new { @name = "city", @id = "city", @onchange = "$('#hidden_city').val($('#city :selected').text());" })
                    @Html.ValidationMessageFor(model => model.City)
                    @Html.HiddenFor(model => model.HiddenCity, new { @id = "hidden_city" })
                </div>
            </li>
            <li id="other_city_div" style="display:none">
                <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.OtherCity)</span>
                <div class="clk2raceSettingsListContent">
                    @Html.TextBoxFor(model => model.OtherCity, new { @name = "other_city", @id = "other_city", @placeholder = "Other City" })
                    @Html.ValidationMessageFor(model => model.OtherCity)
                    @Html.Hidden("othercity")
                </div>
            </li>
            <li>
                <span class="clk2raceSettingsListLabel">@Html.LabelFor(model => model.PostalCode)</span>
                <div class="clk2raceSettingsListContent">
                    @Html.TextBoxFor(model => model.PostalCode, new { @class = "nums", @name = "postcode", @id = "postcode", @placeholder = "Zip / Postal Code", @minlength = "4", @maxlength = "9" })
                    @Html.ValidationMessageFor(model => model.PostalCode)
                </div>
            </li>
        </ul>
    }
</div>






