﻿
   

    <!-- CAROUSEL -->
    <div id="carousel">
        <div id="owl-demo" class="owl-carousel owl-theme">
            <div class="item">
                <img src="https://clicktorace.blob.core.windows.net/portalimages/cycle1.jpg" alt="">
                <div class="line">
                    <div class="text hide-s">
                        <div class="line">
                            <div class="prev-arrow hide-s hide-m"> <i class="icon-chevron_left"></i> </div>
                            <div class="next-arrow hide-s hide-m"> <i class="icon-chevron_right"></i> </div>
                        </div>
                        <h2>Completed</h2>
                        <p>Trivandrum Cyclathon 2017</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="https://clicktorace.blob.core.windows.net/portalimages/cycle2.jpg" alt="">
                <div class="line">
                    <div class="text hide-s">
                        <div class="line">
                            <div class="prev-arrow hide-s hide-m"> <i class="icon-chevron_left"></i> </div>
                            <div class="next-arrow hide-s hide-m"> <i class="icon-chevron_right"></i> </div>
                        </div>
                        <!--<h2>Upcoming ...</h2>
                        <p>Bangalore 10K Challenge. THE TOUGHER 10K</p>-->
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- FIRST BLOCK -->
    <div id="first-block">
        <div class="line">
            <h1>Upcoming Cycling Marathon</h1>
            <p>If you are a runner/cyclist, you must have gone through the long arduous process of filling in details (like your age, gender, marital status, number of grey hair strands on your head) whenever you register for a running/cycling event. </p>
        </div>
    </div>
    <!-- FEATURES -->

    <div id="our-work">
        <div class="line">
            <!--<h2 class="section-title">Upcoming Marathon</h2>-->
            <div class="tab-item tab-active">
                <div class="tab-content">
                    <div class="margin" style="padding-bottom:20px;">
                        <div class="s-12 m-6 l-3">
                            <a class="our-work-container lightbox margin-bottom">
                                <div class="our-work-text">
                                    <h4>Completed</h4>
                                    <p>Trivandrum Cyclathon 2017</p>
                                </div>
                                <img src="https://clicktorace.blob.core.windows.net/portalimages/m11.jpg" alt="">
                            </a>
                            <div class="regbtn"> <a href="#" onclick="alert('Registration closed for this event'); return false;" class="tab-label s-8 m-3 l-6">Closed</a></div>
                        </div>



                    </div>


                </div>
            </div>
        </div>
    </div>

    <!-- CONTACT -->
    <!-- MAP -->





