﻿
<div id="carousel">
    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/first.jpg" alt="">

        </div>
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/second.jpg" alt="">

        </div>
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/third.jpg" alt="">
        </div>
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/fourth.jpg" alt="">
        </div>
    </div>
</div>
<!-- FIRST BLOCK -->
<div id="first-block">
    <div class="line">
        <h1>Upcoming Marathon</h1>
        <p>If you are a runner/cyclist, you must have gone through the long arduous process of filling in details (like your age, gender, marital status, number of grey hair strands on your head) whenever you register for a running/cycling event. </p>
    </div>
</div>
<!-- FEATURES -->

<div id="our-work">
    <div class="line">
        <!--<h2 class="section-title">Upcoming Marathon</h2>-->
        <div class="tab-item tab-active">
            <div class="tab-content">
                <div class="margin" style="padding-bottom:20px;">
                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Saturday, 8th April, 2017</h4>
                                <p>Trivandrum Cyclathon 2017</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/cyclathon_trivendrum.jpg" alt="">
                        </a>
                        <p style="text-align:center" align="center"> <a href="Register/TrivandrumCyclathon17" class="tab-label s-8 m-3 l-6">Register</a></p>
                    </div>
                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>9th July 2017</h4>
                                <p>Bangalore 10K Challenge. THE TOUGHER 10K</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/m2.jpg" alt="">
                        </a>
                        <p style="text-align:center" align="center"> <a href="~/Register?eventid=b10k_2017" class=" tab-label s-8 m-3 l-6">Register</a> </p>
                    </div>
                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Upcoming</h4>
                                <p>Pune 10K Challenge</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/pune10k.jpg" alt="">
                        </a>
                    </div>
                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Upcoming</h4>
                                <p>IDBI Federal Life Insurance Mumbai Half Marathon</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/m3.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="margin" style="padding-bottom:20px;">
                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Upcoming</h4>
                                <p>Shriram Properties Bengaluru marathon</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/m4.jpg" alt="">
                        </a>
                    </div>
                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Upcoming</h4>
                                <p>New Delhi 10K Challenge</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/delhi10k.jpg" alt="">
                        </a>
                    </div>
                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Upcoming</h4>
                                <p>Hyderabad Ultra Marathon</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/hyderabad.jpg" alt="">
                        </a>
                    </div>
                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Upcoming</h4>
                                <p>IDBI Federal Life Insurance Kolkata Full Marathon</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/kolkata.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="margin" style="padding-bottom:20px;">
                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Upcoming</h4>
                                <p>IDBI Federal Life Insurance New Delhi Marathon</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/idbi.jpg" alt="">
                        </a>
                    </div>
                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Closed</h4>
                                <p>Strides For Autism</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/alfaa.jpg" alt="">
                        </a>
                    </div>
                    <!--<div class="s-12 m-6 l-3"><a class="our-work-container lightbox margin-bottom"><div class="our-work-text"><h4>Lorem Ipsum Dolor</h4><p>Laoreet dolore magna aliquam erat volutpat.</p></div><img src="https://clicktorace.blob.core.windows.net/portalimages/por6.jpg" alt=""></a></div>
                    <div class="s-12 m-6 l-3"><a class="our-work-container lightbox margin-bottom"><div class="our-work-text"><h4>Lorem Ipsum Dolor</h4><p>Laoreet dolore magna aliquam erat volutpat.</p></div><img src="https://clicktorace.blob.core.windows.net/portalimages/por3.jpg" alt=""></a></div>-->
                </div>
            </div>
        </div>
    </div>
</div>
