﻿<div id="carousel">
    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/tri2.jpg" alt="">
            <div class="line">
                <div class="text hide-s">
                    <div class="line">
                        <div class="prev-arrow hide-s hide-m"> <i class="icon-chevron_left"></i> </div>
                        <div class="next-arrow hide-s hide-m"> <i class="icon-chevron_right"></i> </div>
                    </div>
                    <h2>Completed</h2>
                    <p>TriathlonEvents 1</p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/tri1.jpg" alt="">
            <div class="line">
                <div class="text hide-s">
                    <div class="line">
                        <div class="prev-arrow hide-s hide-m"> <i class="icon-chevron_left"></i> </div>
                        <div class="next-arrow hide-s hide-m"> <i class="icon-chevron_right"></i> </div>
                    </div>
                    <h2>Upcoming ...</h2>
                    <p>STriathlonEvents 2</p>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- FIRST BLOCK -->
<div id="first-block">
    <div class="line">
        <h1>Upcoming Triathlon Events</h1>
        <p>If you are a swimmer, you must have gone through the long arduous process of filling in details (like your age, gender, marital status, number of grey hair strands on your head) whenever you register for a running/cycling event. </p>
    </div>
</div>
<!-- FEATURES -->

<div id="our-work">
    <div class="line">
        <!--<h2 class="section-title">Upcoming Marathon</h2>-->
        <div class="tab-item tab-active">
            <div class="tab-content">
                <div class="margin" style="padding-bottom:20px;">
                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Completed</h4>
                                <p>TriathlonEvents 1</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/tlogo1.jpg" alt="">
                        </a>
                        <p style="text-align:center" align="center"> <a href="#" class="tab-label s-8 m-3 l-6">Register</a></p>
                    </div>
                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Upcoming</h4>
                                <p>TriathlonEvents</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/tlogo1.jpg" alt="">
                        </a>
                        <p style="text-align:center" align="center"> <a href="#" class="tab-label s-8 m-3 l-6">Register</a> </p>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>

