﻿<!-- CAROUSEL -->
<div id="carousel">
    <div id="owl-demo" class="owl-carousel owl-theme">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/first.jpg" alt="">
        </div>
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/second.jpg" alt="">
        </div>
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/third.jpg" alt="">
        </div>
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/fourth.jpg" alt="">
        </div>

    </div>
</div>
<!-- FIRST BLOCK -->
<div id="first-block">
    <div class="line">
        <h1>Upcoming Marathon</h1>
        <p>If you are a runner/cyclist, you must have gone through the long arduous process of filling in details (like your age, gender, marital status, number of grey hair strands on your head) whenever you register for a running/cycling event. </p>
    </div>
</div>
<!-- FEATURES -->

<div id="our-work">
    <div class="line">
        <!--<h2 class="section-title">Upcoming Marathon</h2>-->
        <div class="tab-item tab-active">
            <div class="tab-content">
                <div class="margin" style="padding-bottom:20px;">

                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>9th July 2017</h4>
                                <p>Bangalore 10K Challenge.<br>THE TOUGHER 10K</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/m2.jpg" alt="">
                        </a>
                        <div class="regbtn">	 <a href="~/Register?eventid=b10k_2017" class="tab-label s-8 m-3 l-6">Register</a></div>
                    </div>



                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>20th August, 2017</h4>
                                <p>IDBI Federal Life Insurance <br>Mumbai Half Marathon</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/m3.jpg" alt="">
                        </a>
                        <div class="regbtn">	<a href="~/Register?eventid=idbimhm_2017" class="tab-label s-8 m-3 l-6">Register</a></div>
                    </div>


                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>15th October, 2017</h4>
                                <p>Shriram Properties<br> Bengaluru marathon</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/m4.jpg" alt="">
                        </a>
                        <div class="regbtn">	<a href="~/Register?eventid=spbm2017" class="tab-label s-8 m-3 l-6">Register</a></div>
                    </div>


                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Upcoming</h4>
                                <p>29th Oct 2017 <br> New Delhi 10K Challenge</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/m5.jpg" alt="">
                        </a>
                        <div class="regbtn">	<a href="#" class="tab-label s-8 m-3 l-7" style="background-color:#017CD5">Upcoming</a></div>
                    </div>

                </div>


                <!-- second row -->

                <div class="margin" style="padding-bottom:20px;">

                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Upcoming</h4>
                                <p>Hyderabad Ultra Marathon</BR>50K&nbsp; 25K&nbsp; 12.5K &nbsp; 5K</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/m6.jpg" alt="">
                        </a>
                        <div class="regbtn">	<a href="#" class="tab-label s-8 m-3 l-7" style="background-color:#017CD5">Upcoming</a></div>
                    </div>



                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Upcoming</h4>
                                <p>17th Dec 2017 <br>Pune 10K Challenge</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/m7.jpg" alt="">
                        </a>
                        <div class="regbtn">	<a href="#" class="tab-label s-8 m-3 l-7" style="background-color:#017CD5">Upcoming</a></div>
                    </div>


                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>04th Feb 2018</h4>
                                <p> IDBI Federal Life Insurance <br>Kolkata Full Marathon</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/m8.jpg" alt="">
                        </a>
                        <div class="regbtn">	<a href="#" class="tab-label s-8 m-3 l-7" style="background-color:#017CD5">Upcoming</a></div>
                    </div>


                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>25th Feb 2018 </h4>
                                <p>IDBI Federal Life Insurance<br> New Delhi Marathon</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/m9.jpg" alt="">
                        </a>
                        <div class="regbtn">	<a href="#" class="tab-label s-8 m-3 l-7" style="background-color:#017CD5">Upcoming</a></div>
                    </div>



                </div>


                <!-- third row -->

                <div class="margin" style="padding-bottom:20px;">

                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Closed</h4>
                                <p>Trivandrum Cyclathon 2017 <br>Saturday,8th April, 2017</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/m11.jpg" alt="">
                        </a>
                        <div class="regbtn">	<a href="#" onclick="alert('Registration closed for this event'); return false;" class="tab-label s-8 m-3 l-6" style="background-color:#000000">Closed</a></div>
                    </div>



                    <div class="s-12 m-6 l-3">
                        <a class="our-work-container lightbox margin-bottom">
                            <div class="our-work-text">
                                <h4>Closed</h4>

                                <p>Strides For Autism <br> 02nd April, 2017</p>
                            </div>
                            <img src="https://clicktorace.blob.core.windows.net/portalimages/m10.jpg" alt="">
                        </a>
                        <div class="regbtn">	<a href="#" onclick="alert('Registration closed for this event'); return false;" class="tab-label s-8 m-3 l-6" style="background-color:#000000">Closed</a></div>
                    </div>

                </div>








            </div>
        </div>
    </div>
</div>

<!-- CONTACT -->
<!-- MAP -->
