﻿@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/abttop.jpg" alt="">
            <div class="line">

            </div>

        </div>

        <!-- FIRST BLOCK -->
        <div id="first-block">
            <div class="line">
                <h1>About Us</h1>
                <p style="text-align:left"><strong>Click2race</strong> is your one stop solution to register for all our happening races in India. Enter your details once and enjoy the benefits of quick check-ins across all our races. We will ensure that the process is smooth and efficient. Be rest assured that your data is secure and safe with Click2race. </p>
            </div>
        </div>
        <!-- FEATURES -->

        <div id="services">
            <div class="line">
                <div class="margin">
                    <div class="s-12 m-8 l-12 margin-bottom">
                        <i class="icon-vector"></i>
                        <div class="service-text">
                            <h3>Our Mission</h3>
                            <p>
                                <ul style="color:#FFFFFF">
                                    <li>To make sure that runners/cyclists/swimmers only worry about preparing for the race day and not about the PROCESS of registration.</li>
                                    <li>Fitter and a healthier society by encouraging more and more participation in the less known sports activities.</li>

                                </ul>
                            </p>
                        </div>
                    </div>
                    <div class="s-12 m-8 l-8 margin-bottom">
                        <i class="icon-eye"></i>
                        <div class="service-text">
                            <h3>Our Vision</h3>
                            <p>Fitter and a healthier society by encouraging more and more participations in the less known sports activities.</p>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

    <!-- CONTACT -->
    <!-- MAP -->

</section>
<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>


<!-- popup texts -->
<!-- poptext ends -->
<script type="text/javascript" src="js/responsee.js"></script>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        var theme_slider = $("#owl-demo");
        $("#owl-demo").owlCarousel({
            navigation: false,
            slideSpeed: 800,
            paginationSpeed: 400,
            autoPlay: 6000,
            addClassActive: true,
            transitionStyle: "fade",
            singleItem: true
        });
        $("#owl-demo2").owlCarousel({
            slideSpeed: 300,
            autoPlay: true,
            navigation: true,
            navigationText: ["&#xf007", "&#xf006"],
            pagination: false,
            singleItem: true
        });

        // Custom Navigation Events
        $(".next-arrow").click(function () {
            theme_slider.trigger('owl.next');
        })
        $(".prev-arrow").click(function () {
            theme_slider.trigger('owl.prev');
        })
    });
</script>


