﻿@{
    ViewBag.Title = "Contact Us";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


   <section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/contattop.jpg" alt="">
            <div class="line">

            </div>

        </div>

        <!-- FIRST BLOCK -->
        <!-- FEATURES -->
        <div id="contact">
            <div class="line">

                <div class="margin">
                    <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
                        <img src="https://clicktorace.blob.core.windows.net/portalimages/contact.jpg" alt="">
                    </div>
                    <div class="s-12 m-12 l-4 margin-bottom right-align">

                        <!-- <address>
                            <p><strong>Adress:</strong> Gallayova 19, 841 02 Bratislava</p>
                            <p><strong>Country:</strong> Slovakia - Europe</p>
                            <p><strong>E-mail:</strong> info@visiondesign.sk</p>
                         </address>-->
                        <br />

                    </div>
                    <div class="s-12 m-12 l-5">
                        <form class="customform" action="">
                            <!--<h3>Name</h3>-->
                            <div class="s-12"><input name="#" placeholder="Name" title="Name" type="text" /></div>


                            <div class="s-12"><input name="#" placeholder="Email" title="Email" type="email" /></div>


                            <div class="s-12"><input name="#" placeholder="Phone Number" title="Phone Number" type="number" /></div>

                            <h3>How can we help you?</h3>
                            <div class="s-12"><textarea name="#" placeholder="Phone Number" title="message"> </textarea></div>




                            <div class="s-12 m-12 l-4"><button class="color-btn" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- FEATURES -->
        <!-- CONTACT -->
        <!-- MAP -->
</div>
</section>

<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>


<!-- popup texts -->
<!-- poptext ends -->



   