﻿@{
    ViewBag.Title = "Click2Race";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";

}


   <section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/top.jpg" alt="">
            <div class="line">

            </div>

        </div>

        <!-- FIRST BLOCK -->
        <!-- FEATURES -->

        <div id="services">
            <div id="first-block" style="text-align:left">
                <div class="line">
                    <h1>Disclaimer</h1><br>
                    <h3>YOU EXPRESSLY UNDERSTAND AND AGREE THAT :</h3>
                    <p>Your use of the service is at your sole risk. The service is provided on an "as is" and "as available" basis. Click2race and its subsidiaries, affiliates, officers, employees, agents, partners and licensors expressly disclaim all warranties of any kind, whether express or implied, including, but not limited to the implied warranties of merchantability, fitness for a particular purpose and non-infringement.</p><br>
                    <p>Click2race and its subsidiaries, affiliates, officers, employees, agents, partners and licensors make no warranty that (a) The service will meet your requirements; (b) The service will be uninterrupted, timely, secure or error-free; (c) The results that may be obtained from the use of the service will be accurate or reliable; (d) The quality of any products, services, information or other material purchased or obtained by you through the service will meet your expectations; and (e) Any errors in the software will be corrected.</p><br>
                    <p>Any material downloaded or otherwise obtained through the use of the service is accessed at your own discretion and risk, and you will be solely responsible for any damage to your computer system or loss of data that results from the download of any such material.</p><br>

                </div><br><br>
                </div>
            </div>
        </div>



                <!-- CONTACT -->
                <!-- MAP -->

</section>
<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>


<!-- popup texts -->
<!-- poptext ends -->






 