﻿@{
    ViewBag.Title = "Groups";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/grouptop.jpg" alt="">
            <div class="line"> </div>
        </div>

        <!-- FIRST BLOCK -->
        <div id="about-us">
            <div class="line">
                <article class="s-12 m-6 l-6" style="background-color:#055b82;">
                    <h2>BHUKMP</h2>
                    <h4>Bengaluru</h4>
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/bhukmp.png" alt="" />
                    <p>
                        Epicenter of runners in Bangalore! BHUKMP, Hindi for Earthquake. This expands to Bangalore, Hyderabad, Ultra, Kaveri Trail, Mumbai and Puducherry. We did not bother to create a mission statement, we definitely don't lose sleep about the fact that we do not have vision, but we do care deeply about three things, eat , talk and run and do all three things like there is no tomorrow. we also love being photographed as a group Members of the group are known to run 4-6 of these marathons in a single running season. The signature weekly long run (on saturday, dubbed Dandi) is a 30k stretch that starts in Koramangala (5:30am), merges with the 'reverse Dandi' gang at Cubbon Park, heads to Sankey Tank via Yeshwantpur and ends in Cubbon Park, followed by a marathon long breakfast. 10km on sunday keeps all the weekend runners marathon ready. <br> <strong>To run with them contact- Chandra Katuri--09880524435</strong>
                    </p>
                    <div class="about-us-icons">
                        <i class="icon-facebook"></i>
                    </div>
                </article>


                <article class="s-12 m-6 l-6">
                    <h2>Jayanagar Jaguars</h2>
                    <h4>Bengaluru</h4>
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/jj.png" alt="" />
                    <p>
                        A loose collection of people of all ages and persuasions with the sole goal of keeping fit and having fun doing it! Based in Bangalore, the group was conceptualised in Jayanagar, a suburb in South of Bangalore. The group seems to be so contagious, the numbers of the Jaguars is ever increasing. Join us on our runs in Jaynagar or on our Bicycling jaunts! Jayanagar Jaguars - A loose collection of people of all ages and persuasions with the sole goal of keeping fit and having fun doing it! Based in Bangalore, the group was conceptualised in Jayanagar, a suburb in South of Bangalore. The group seems to be so contagious, the numbers of the Jaguars is ever increasing. Join us on our runs in Jaynagar or on our Bicycling jaunts! All are welcome! <br>
                        To know more about them visit their Facebook page--Jayanagar Jaguars
                    </p>
                    <div class="about-us-icons">
                        <a href="https://www.facebook.com/JayanagarJaguars" target="_blank" title="www.facebook.com/JayanagarJaguars"> <i class="icon-facebook"></i> </a>
                    </div>
                </article>

                <div class="clear"> </div>

                <article class="s-12 m-6 l-6">
                    <h2>Pace Makers</h2>
                    <h4>Bengaluru</h4>
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/pm.png" alt="" />
                    <p>
                        The PaceMakers is a running group of spirited long distance (from 10K to Marathon) runners of all abilities – ranging from novice to experienced, who coach under the leadership and guidance of Coach Pani – an ex-IAF athlete with many meritorious achievements to his credit in competitive races across various distances. The objective of PaceMakers is to improve performance and avoid sports injury through the application of various Principles of Training like The Overload Principle, Specificity, Periodization, Reversibility etc. Planned Performance Training (PPT) seeks to achieve high improvement in performance and is structured so that Peak Performance occurs at predetermined moments within the competitive season. A Structured Training Plan is developed for each athlete, based on their current performance, fitness and individual aspirations. The program is balanced between Volume & Intensity and is gradually increased to peak at the right time before an event.
                    </p>
                    <div class="about-us-icons">
                        <a href="http://www.pace-makers.in" target="_blank" title="www.pace-makers.in"> <i class="icon-sli-social-dribbble"></i> </a>
                    </div>
                </article>



                <article class="s-12 m-6 l-6" style="background-color:#055b82;">
                    <h2>Protons Running</h2>
                    <h4>Bengaluru</h4>
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/potons.png" alt="" />
                    <p>
                        The Protons team - all of whom are established runners in the community have brought out their experience and wisdom from their years of learning and running. We also have brought on expertise of our esteemed partners (viz. Sports Physiotherapy, Nutrition, etc.) and created a holistic program for best results. It is our vision to take running to all localities and cities of India. Its always better when you don't have to travel much for your training. If it can happen in your neighborhood, you save time and effort on travel. At the moment we are launching from 5 locations in Bangalore. Over time, we will be adding more localities so that you can find one closer to your home. You can change your locations anytime, by informing us.<br><br>
                        <strong>Bangalore Launch Locations : Central - Cubbon Park  |  North - Kamanahalli  |  South - Koramangala  |  East - KTPO, Whitefield  |  West - Bangalore University Gnana Bharathi Campus, Mysore Road </strong><br>

                    </p>
                    <div class="about-us-icons">
                        <a href="http://protonssports.com/" target="_blank" title="www.pace-makers.in"> <i class="icon-sli-social-dribbble"></i> </a>
                    </div>
                </article>

                <div class="clear"> </div>

                <article class="s-12 m-6 l-6" style="background-color:#055b82;">
                    <h2>Soles of Bangalore</h2>
                    <h4>Bengaluru</h4>
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/sole.png" alt="" />
                    <p>
                        The group takes inspiration from Soles of Cochin and is focused on promoting running as an activity for healthy living and to develop as runners through group runs. The group has runners of varying pace and during group runs, runners of different pace form sub-groups and pace each other. The Friday night run is an unique activity of the group, most runs happen in and around HSR Layout which is the base location for the group. In an effort to improve as a group and to learn from experience of veteran runners, the group intends to invite experienced runners in Bangalore to run with them.
                    </p>
                    <div class="about-us-icons">
                        <a href="https://www.facebook.com/groups/375143039294699/" target="_blank" title="www.facebook.com/groups/375143039294699/"> <i class="icon-facebook"></i> </a>
                    </div>
                </article>

                <article class="s-12 m-6 l-6">
                    <h2>The Trial Blazers</h2>
                    <h4>Bengaluru</h4>
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/tb.png" alt="" />
                    <p>
                        This group promotes getting fit in a healthy and natural way. So let us welcome you all to join us in the mission of “Getting FIT – The HEALTHY Way”<br><br>
                    </p>
                    <div class="about-us-icons">
                        <a href="https://www.facebook.com/TheTrailBlazersBangalore" target="_blank" title="www.facebook.com/TheTrailBlazersBangalore"> <i class="icon-facebook"></i> </a>
                    </div>
                </article>

                <div class="clear"> </div>

                <article class="s-12 m-6 l-6" style="float:left">
                    <h2>Chandigarh RUNNERS</h2>
                    <h4>Chandigarh</h4>
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/chandighar.png" alt="" />
                    <p>
                        "Every day is a good day when you run." This is what we believe at “Chandigarh Runners”. We are group of people who exist because of common purpose that is “RUNNING”. “Running -is about the sweat in your hair and the blisters on your feet, making your life worth living and most importantly be healthy & fit” The City Beautiful is having an active group of people, who plan & execute run on daily basis in different parts of the city (including Mohali, Panchkula). Some members have already done Full Marathons, some Half and some are beginners. The beauty of the group is that we have people from all age groups walking, jogging or running for a healthy lifestyle. We encourage both men and women to adopt running as a healthy lifestyle. Our long runs are generally planned on Sunday Mornings. We all gather at a common meeting point, motivate each other during the course of the route and then stop for a good early morning breakfast to celebrate our accomplishment of the day. Chandigarh Runners has helped many people to increase their strength, stamina, endurance, pace and so on and we would like to take this good cause to all people, whosoever is serious about healthy living. The best part is that, anyone can be part of this group and there is no involvement of any money. Why walk, when you can Run!
                    </p>
                    <div class="about-us-icons">
                        <a href="https://www.facebook.com/groups/chandigarhrunners/" target="_blank" title="www.facebook.com/groups/chandigarhrunners/"> <i class="icon-facebook"></i> </a>
                    </div>
                </article>

            </div>
        </div>
    </div>


        <!-- FEATURES -->
        <!-- CONTACT -->
        <!-- MAP -->
</section>
<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>


<!-- popup texts -->
<!-- poptext ends -->
<script type="text/javascript" src="js/responsee.js"></script>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript">
        jQuery(document).ready(function ($) {
            var theme_slider = $("#owl-demo");
            $("#owl-demo").owlCarousel({
                navigation: false,
                slideSpeed: 800,
                paginationSpeed: 400,
                autoPlay: 6000,
                addClassActive: true,
                transitionStyle: "fade",
                singleItem: true
            });
            $("#owl-demo2").owlCarousel({
                slideSpeed: 300,
                autoPlay: true,
                navigation: true,
                navigationText: ["&#xf007", "&#xf006"],
                pagination: false,
                singleItem: true
            });

            // Custom Navigation Events
            $(".next-arrow").click(function () {
                theme_slider.trigger('owl.next');
            })
            $(".prev-arrow").click(function () {
                theme_slider.trigger('owl.prev');
            })
        });
</script>
