﻿@{
    ViewBag.Title = "Click2Race";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";

}


    <section id="maincontainer">
   

    <!-- CONTACT -->
    <!-- MAP -->

</section>

<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>


<!-- popup texts -->
<!-- poptext ends -->
@*<script type="text/javascript" src="js/responsee.js"></script>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript">
         jQuery(document).ready(function($) {
           
        });
</script>*@


 