﻿@{
    ViewBag.Title = "Racebook";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/third.jpg" alt="">
            <div class="line">

            </div>

        </div>

        <!-- FIRST BLOCK -->
        <div id="first-block">
            <div class="line">
                <h1>RaceBook</h1>
                <p>Tracking your training made easy....................COMING SOON!!! </p>
            </div>
        </div>
        <!-- FEATURES -->
        <!-- CONTACT -->
        <!-- MAP -->

</section>
<!-- FOOTER -->
<footer>
    <div class="line">
        <div class="s-12 l-6">
            <p>Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br> <a href="disclaimer.html">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a href="privacypolicy.html">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="terms.html">Terms of Use</a></p>
        </div>
        <div class="s-12 l-6">

        </div>
    </div>
</footer>