﻿@{
    ViewBag.Title = "Runner's Wallet";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


 <section>
         <!-- CAROUSEL --> 
     <div id="carousel">
         <div class="item">
             <img src="https://clicktorace.blob.core.windows.net/portalimages/wallettop.jpg" alt="">
             <div class="line">

             </div>

         </div>

         <!-- FIRST BLOCK -->
         <!-- LATEST NEWS -->
         <div id="latest-news">
             <div class="line">
                 <!--              <h2 class="section-title">Latest News</h2>
                -->
                 <div class="margin">
                     <div class="s-12 m-6 l-6">
                         <div class="s-12 l-2">
                             <div class="news-date">
                                 <p><i class="icon-sli-credit-card icon3x"></i></p>
                             </div>
                         </div>
                         <div class="s-12 l-10">
                             <div class="news-text">
                                 <h4>Registrations made Simpler than Ever</h4>
                                 <p>Add any amount to your click2race wallet, and use it any time for registering for any event by just sending us an email. Now that is what we call Convenience!! #runnerswallet</p><br>
                                 <p>Add money to your wallet by transferring amount to the below bank details once done send us an email at support@click2race.com</p>
                             </div>
                         </div>
                     </div>
                     <div class="s-12 m-6 l-6">
                         <div class="s-12 l-2">
                             <div class="news-date">
                                 <p><i class="icon-sli-book-open icon3x"></i></p>
                             </div>
                         </div>
                         <div class="s-12 l-10">
                             <div class="news-text">
                                 <h4>Bank Details</h4>
                                 <ul style="list-style:none;">
                                     <li>Account name : <b>click2race</b></li>
                                     <li>Account Number : <b>CBCA01000428</b></li>
                                     <li>Branch Name :<b> CHANDIGARH- CPBB – 646</b></li>
                                     <li>Bank Name : <b>Corporation Bank, Sec-35C, Chandigarh</b></li>
                                     <li>Account type : <b>Current Account</b></li>
                                     <li>IFSC No : <b>CORP0000646</b></li>

                                 </ul>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div> 
         <!-- FEATURES -->
         <!-- CONTACT -->
         
         <!-- MAP -->
         	
      </section>
     
<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>


<!-- popup texts -->
<!-- poptext ends -->
@*<script type="text/javascript" src="js/responsee.js"></script>
<script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>
<script type="text/javascript">
        jQuery(document).ready(function ($) {
            var theme_slider = $("#owl-demo");
            $("#owl-demo").owlCarousel({
                navigation: false,
                slideSpeed: 800,
                paginationSpeed: 400,
                autoPlay: 6000,
                addClassActive: true,
                transitionStyle: "fade",
                singleItem: true
            });
            $("#owl-demo2").owlCarousel({
                slideSpeed: 300,
                autoPlay: true,
                navigation: true,
                navigationText: ["&#xf007", "&#xf006"],
                pagination: false,
                singleItem: true
            });

            // Custom Navigation Events
            $(".next-arrow").click(function () {
                theme_slider.trigger('owl.next');
            })
            $(".prev-arrow").click(function () {
                theme_slider.trigger('owl.prev');
            })
        });
</script>*@


