﻿@{
    ViewBag.Title = "Click2Race";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";

}

<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/top.jpg" alt="">
            <div class="line">

            </div>

        </div>

        <!-- FIRST BLOCK -->
        <!-- FEATURES -->

        <div id="services">
            <div id="first-block" style="text-align:left">
                <div class="line">
                    <h1>Terms and Conditions</h1><br>
                    <ul style="color:#fff">
                        <li>We value your privacy information, so your privacy information will be protected, click2race.com is committed to safeguarding your privacy when making online registrations. When registering our account, users shall provide the personal registration information.</li>
                        <li>As part of the order process, we collect following essential customer information: Name, Shipping/Billing Address, Email Address, Phone Number, Occupation, Id card details, recent photograph, blood group. The contact information is only used to get in touch with you when necessary.</li>
                        <li>The information you provide to us is not given or sold to any outside party except for the race organisers. Your email address is used only to provide you with an order confirmation and tracking number.</li>
                        <li>Your phone number is used to contact you in case of a problem with registration of your. Your Credit Card information is only used to confirm whether the billing address is the same with the shipping address.</li>
                        <li>Please choose the event carefully, confirmed registrations are non-refundable, non-transferrable and cannot be modified. Provide us with a secure email address that you can access regularly, as this will be our primary means of contacting you during the run up to the event.</li>
                        <li>Users of email services that offer filtering/blocking of messages from unknown email address should add <a href="mailto:support@click2race.com">support@click2race.com </a>to their address list.</li>
                        <li>Any notice sent to the email address registered with the organizers shall be deemed as received by the runners.</li>
                        <li>Please fill out only those fields that are necessary for mailing purposes. Do not provide redundant data in multiple fields (i.e. do not list the same data for city, province, and country), as this will only complicate our ability to contact you, if necessary.</li>
                        <li>By registering you agree that running long distance running / cycling / swimming / duathlons / triathlons are extreme sports and can be injurious to body and health. You take full responsibility for participating the and do not hold the organizing committee or society or other organizing persons or entities responsible for any injury or accident.</li>
                        <li>You agree that Click2Race and associated companies or entities that organize the run shall not be liable for any loss, damage, illness or injury that might occur as a result of your participation in the Event.</li>
                        <li>You confirm that you filled in a questionnaire on your medical condition as requested in order to assist them in case of an emergency.</li>
                        <li>You acknowledge and agree that your personal information can be stored and used by Click2race.com or any other company in connection with the organization, promotion and administration of the Event and for the compilation of statistical information.</li>
                        <li>Click2race will contact the runners only by email or if required by phone. Any notice sent to the email address registered with the Organizers shall be deemed as received by the runners.</li>
                        <li>If you have any questions, concerns, or comments about our privacy notice, please kindly e-mail us. We respect your privacy and we will not share the information you provide us with outside companies or organizations. We have your best interest at heart and believe you will appreciate our conviction to your security. This is our commitment.</li>
                        <li>Click2race will be only LIABLE OF THE AMOUNT WHICH THE USER PAYS TO US.</li>
                        <li>There is no cancellation/refund of the amount in case of a successfull transaction.</li>
                        <li> Any health problems during or after run, the event organizers and event location owners will not be responsible.</li>


                    </ul>

                </div>
            </div>
        </div>
    </div>

                <!-- CONTACT -->
                <!-- MAP -->

</section>


<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>


<!-- popup texts -->
<!-- poptext ends -->


 