﻿@{
    ViewBag.Title = "Admin Module";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Click2race :: Admin Page</title>
    <link rel="stylesheet" href="../Contents-New/admin/css/components.css">
    <link rel="stylesheet" href="../Contents-New/admin/css/icons.css">
    <link rel="stylesheet" href="../Contents-New/admin/css/responsee.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../Contents-New/admin/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../Contents-New/admin/js/jquery-ui.min.js"></script>
    <!----font-Awesome----->
    <link rel="stylesheet" href="../Contents-New/admin/css/font-awesome.min.css">
    <!----font-Awesome----->
    <!-- date picker starts -->
    <!--

        Copyright 2009 Itamar Arjuan
        jsDatePick is distributed under the terms of the GNU General Public License.

        ****************************************************************************************

        Copy paste these 2 lines of code to every page you want the calendar to be available at
    -->
    <link rel="stylesheet" type="text/css" media="all" href="../Contents-New/admin/jsDatePick_ltr.min.css" />
    <!--
        OR if you want to use the calendar in a right-to-left website
        just use the other CSS file instead and don't forget to switch g_jsDatePickDirectionality variable to "rtl"!

        <link rel="stylesheet" type="text/css" media="all" href="../Contents-New/admin/jsDatePick_ltr.css" />
    -->
    <script type="text/javascript" src="../Contents-New/admin/jsDatePick.min.1.3.js"></script>
    <!--
        After you copied those 2 lines of code , make sure you take also the files into the same folder :-)
        Next step will be to set the appropriate statement to "start-up" the calendar on the needed HTML element.

        The first example of Javascript snippet is for the most basic use , as a popup calendar
        for a text field input.
    -->
    <script type="text/javascript">
	window.onload = function(){
		new JsDatePick({
			useMode:2,
			target:"inputField",
			dateFormat:"%d-%M-%Y"
			/*selectedDate:{				This is an example of what the full configuration offers.
				day:5,						For full documentation about these settings please see the full version of the code.
				month:9,
				year:2006
			},
			yearsRange:[1978,2020],
			limitToToday:false,
			cellColorScheme:"beige",
			dateFormat:"%m-%d-%Y",
			imgPath:"https://clicktorace.blob.core.windows.net/portalimages/",
			weekStartDay:1*/
		});
	};
    </script>

    <!-- date picker ends -->


</head>
<body class="size-1140">
    <!-- TOP NAV WITH LOGO -->
    <header>
        <nav>
            <div class="line">
                <div class="s-12 l-2"> <a href="index.html"><img class="s-5 l-12 center" src="https://clicktorace.blob.core.windows.net/portalimages/logo.png"></a> </div>
                <div class="top-nav s-12 l-10 right">
                    <p class="nav-text">User Name</p>
                    <ul class="right">
                        <li><a>User Name : </a></li>
                        <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- ASIDE NAV AND CONTENT -->
    <div class="line">
        <div class="box  margin-bottom">
            <div class="margin">
                <!-- ASIDE NAV 1 -->
                <aside class="s-12 l-3">
                    <h3>Admin</h3>
                    <div class="aside-nav">
                        <ul>
                            <li style="padding:15px;">Dashboard</li>
                            <li> <a>Events</a></li>
                            <li> <a>Organisers</a> </li>
                            <li><a>Users</a></li>
                        </ul>
                    </div>
                </aside>
                <!-- CONTENT -->
                <section class="s-12 l-9">
                    <h1>Add Event</h1>
                    <form class="customform" action="">
                        <div class="line">
                            <div class="margin">
                                <div class="s-12 l-4">
                                    <div class="box-dark">
                                        <input type="text" id="name" placeholder="Enter the Event name">
                                    </div>
                                </div>
                                <div class="s-12 l-4">
                                    <div class="box-dark">
                                        <input type="text" size="12" id="inputField" placeholder="select the date" />
                                    </div>
                                </div>
                                <div class="s-12 l-4">
                                    <div class="box-dark"><a class="button rounded-full-btn cancel-btn margin-bottom" href="#"><i class="icon-check"></i> Add Event</a> </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="line">
                        <div class="l-12 s-12">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Event Name</th>
                                        <th>Organiser</th>
                                        <th>City</th>
                                        <th>Participant Count</th>
                                        <th>Event Type</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>New Delhi Marathon</td>
                                        <td>Snap Fitness</td>
                                        <td>Bengaluru </td>
                                        <td>1000</td>
                                        <td>Running</td>
                                        <td>Edit / Delete / View</td>
                                    </tr>
                                    <tr>
                                        <td>New Delhi Marathon</td>
                                        <td>Snap Fitness</td>
                                        <td>Bengaluru </td>
                                        <td>1000</td>
                                        <td>Running</td>
                                        <td>Edit / Delete / View</td>
                                    </tr>
                                    <tr>
                                        <td>New Delhi Marathon</td>
                                        <td>Snap Fitness</td>
                                        <td>Bengaluru </td>
                                        <td>1000</td>
                                        <td>Running</td>
                                        <td>Edit / Delete / View</td>
                                    </tr>
                                    <tr>
                                        <td>New Delhi Marathon</td>
                                        <td>Snap Fitness</td>
                                        <td>Bengaluru </td>
                                        <td>1000</td>
                                        <td>Running</td>
                                        <td>Edit / Delete / View</td>
                                    </tr>
                                    <tr>
                                        <td>New Delhi Marathon</td>
                                        <td>Snap Fitness</td>
                                        <td>Bengaluru </td>
                                        <td>1000</td>
                                        <td>Running</td>
                                        <td>Edit / Delete / View</td>
                                    </tr>
                                    <tr>
                                        <td>New Delhi Marathon</td>
                                        <td>Snap Fitness</td>
                                        <td>Bengaluru </td>
                                        <td>1000</td>
                                        <td>Running</td>
                                        <td>Edit / Delete / View</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </section>
                <!-- ASIDE NAV 2 -->

            </div>
        </div>
    </div>
    <!-- FOOTER -->

    <script type="text/javascript" src="../Contents-New/admin/js/responsee.js"></script>
</body>
</html>
