﻿@{
    ViewBag.Title = "Admin Module";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Click2race :: Admin Page</title>
    <link rel="stylesheet" href="../Contents-New/admin/css/components.css">
    <link rel="stylesheet" href="../Contents-New/admin/css/icons.css">
    <link rel="stylesheet" href="../Contents-New/admin/css/responsee.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../Contents-New/admin/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../Contents-New/admin/js/jquery-ui.min.js"></script>
    <!----font-Awesome----->
    <link rel="stylesheet" href="../Contents-New/admin/css/font-awesome.min.css">
    <!----font-Awesome----->
</head>
<body class="size-1140">
    <!-- TOP NAV WITH LOGO -->
    <header>
        <nav>
            <div class="line">
                <div class="s-12 l-2"> <a href="index.html"><img class="s-5 l-12 center" src="https://clicktorace.blob.core.windows.net/portalimages/logo.png"></a> </div>
                <div class="top-nav s-12 l-10 right">
                    <p class="nav-text">User Name</p>
                    <ul class="right">
                        <li><a>User Name : xyz12345</a></li>
                        <li><a><i class="fa fa-envelope-o" aria-hidden="true"></i></a></li>
                        <li><a><i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- ASIDE NAV AND CONTENT -->
    <div class="line">
        <div class="box  margin-bottom">
            <div class="margin">
                <!-- ASIDE NAV 1 -->
                <aside class="s-12 l-3">
                    <h3>Admin</h3>
                    <div class="aside-nav">
                        <ul>
                            <li style="padding:15px;">Dashboard</li>
                            <li> <a>Events</a>	 </li>
                            <li> <a>Organisers</a> </li>
                            <li><a>Users</a></li>
                        </ul>
                    </div>
                </aside>
                <!-- CONTENT -->
                <section class="s-12 l-9">
                    <h1>Event Details</h1>
                    <form class="customform" action="">
                        <div class="line">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Event Name</th>
                                        <th>Revenues</th>
                                        <th>Organisers</th>
                                        <th>Participants</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Event Date</td>
                                        <td>$ 2000</td>
                                        <td>Snap fitness</td>
                                        <td>980</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <br>
                        <br>
                        <div class="line">
                            <div class="margin">
                                <div class="s-12 l-4">
                                    <div class="box-dark">
                                        <input type="text" id="name" placeholder="Search Event name">
                                    </div>
                                </div>
                                <div class="s-12 l-2">
                                    <div class="box-dark"><a class="button rounded-btn reload-btn s-12 margin-bottom" href="#"><i class="icon-sli-eye"></i> Search</a> </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="line">
                        <div class="l-12 s-12">
                            <table>
                                <thead>
                                    <tr>
                                        <th>User Name</th>
                                        <th>Email</th>
                                        <th>Phone </th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>New Delhi Marathon</td>
                                        <td>Snap Fitness</td>
                                        <td>Bengaluru </td>
                                        <td>1000</td>
                                        <td>Edit/Delete/View </td>
                                    </tr>
                                    <tr>
                                        <td>New Delhi Marathon</td>
                                        <td>Snap Fitness</td>
                                        <td>Bengaluru </td>
                                        <td>1000</td>
                                        <td>Edit/Delete/View </td>
                                    </tr>
                                    <tr>
                                        <td>New Delhi Marathon</td>
                                        <td>Snap Fitness</td>
                                        <td>Bengaluru </td>
                                        <td>1000</td>
                                        <td>Edit/Delete/View </td>
                                    </tr>
                                    <tr>
                                        <td>New Delhi Marathon</td>
                                        <td>Snap Fitness</td>
                                        <td>Bengaluru </td>
                                        <td>1000</td>
                                        <td>Edit/Delete/View </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </section>
                <!-- ASIDE NAV 2 -->

            </div>
        </div>
    </div>
    <!-- FOOTER -->

    <script type="text/javascript" src="../Contents-New/admin/js/responsee.js"></script>
</body>
</html>