﻿@model Marathonrunners.Models.AdminViewModel
@{
    ViewBag.Title = "Force Mail Sender";
}

<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Force Mail Sender</h3>
            <div class="well" style="height: 700px">
                <div class="register">
                    @using (Html.BeginForm("ForceMailSender", "Admin", FormMethod.Post, new { @id = "reg_form", @class = "form-horizontal", @role = "form" })) {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        <div class="control-group">
                            @Html.LabelFor(model => model.EmailId, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.EmailId, new {
                               @class = "chars", @name = "emailid", @id = "emailid",
                               @placeholder = "Email Id", @autocomplete = "off"
                           })
                                @Html.ValidationMessageFor(model => model.EmailId)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Name, new {
                               @class = "chars", @name = "name", @id = "name",
                               @placeholder = "Name", @autocomplete = "off"
                           })
                                @Html.ValidationMessageFor(model => model.Name)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.Address, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Address, new {
                               @name = "address", @id = "address",
                               @placeholder = "Address", @autocomplete = "off"
                           })
                                @Html.ValidationMessageFor(model => model.Address)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.EventName, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.EventName, new {
                               @name = "eventname", @id = "eventname",
                               @placeholder = "EventName", @autocomplete = "off"
                           })
                                @Html.ValidationMessageFor(model => model.EventName)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.Amount, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Amount, new {
                               @name = "amount", @id = "amount",
                               @placeholder = "Amount", @autocomplete = "off"
                           })
                                @Html.ValidationMessageFor(model => model.Amount)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.Mobile, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.Mobile, new {
                               @name = "mobile", @id = "mobile",
                               @placeholder = "Mobile", @autocomplete = "off"
                           })
                                @Html.ValidationMessageFor(model => model.Mobile)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.TransactionId, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.TransactionId, new {
                               @name = "transactionid", @id = "transactionid",
                               @placeholder = "TransactionId", @autocomplete = "off"
                           })
                                @Html.ValidationMessageFor(model => model.TransactionId)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.DateAndTime, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(model => model.DateAndTime, new {
                               @name = "dateandtime", @id = "dateandtime",
                               @placeholder = "Date and Time", @autocomplete = "off"
                           })
                                @Html.ValidationMessageFor(model => model.DateAndTime)
                            </div>
                        </div>
                        <div style="text-align: center">
                            <input class="btn btn-large btn-success" type="submit" id="submitbtn" value="Register" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>