﻿@{
    ViewBag.Title = "Admin Module";
    Layout = "~/Views/Shared/_LayoutAdminNew.cshtml";
}

<h1>Page Index</h1>
<ul>
    <li><a href="~/Account/Login">Login Page</a></li>
    <li><a href="~/Account/AddEvent">Add Event page</a></li>
    <li><a href="~/Account/EventDetails">Event Details Page</a></li>

</ul>
