﻿@{
    ViewBag.Title = "Admin Module";
    Layout = "~/Views/Shared/_LayoutAdminNew.cshtml";
}

<h1>Register</h1>
<form class="customform" action="" style="text-align:center">
    <div class="line"> </div>
    <br>
    <br>

</form>
