﻿@{
    ViewBag.Title = "APR Marathon";
}
@section ExtendedMetaInformation {
    <meta name="description" content="Embassy Pedal for the Planet cycling event">
    <meta name="keywords" content="pedal, cycling, planet, fitness, adventure, outdoor, event, activities, Embassy Pedal">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">APR Marathon </h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/APRMarathon2015banner.png" alt="pedal_banner" class="img-rounded" />
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "apr_2015" } }) role="button">Register</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About the Event</h4>
                    <p>
                        APR Marathon is an annual fundraising event organized by APR Charitable Trust. The trust’s main vision is to improve quality of life for underprivileged via education and empowerment programs resulting in long term social impact.
                        <br />
                        <b>The motto of the Trust is “No child must do the work of her household help parents”</b>
                    </p>
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Details</h4>
                    <p>Event Date: 22nd November, 2015</p>
                    <p>Venue: : Adarsh Palm Retreat project office, outer ring road Sarjapur</p>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Run Category</th>
                            <th>Start Time</th>
                        </tr>
                        <tr>
                            <td>21km</td>
                            <td>5:15am</td>
                        </tr>
                        <tr>
                            <td>10km</td>
                            <td>7:30am</td>
                        </tr>
                        <tr>
                            <td>5km</td>
                            <td>7:30am</td>
                        </tr>
                        <tr>
                            <td>2km</td>
                            <td>9am</td>
                        </tr>
                    </table>
                    <br>
                    <h4>Entry Fee:</h4>
                    <table>
                        <tr>
                            <td>Individual</td>
                            <td>850INR</td>
                        </tr>
                        <tr>
                            <td>Couple</td>
                            <td>1450INR</td>
                        </tr>
                        <tr>
                            <td>Family </td>
                            <td>1950INR</td>
                        </tr>
                    </table>
                </div><br />
                <hr>
                <div id="Prizes">
                    <h4>Prizes</h4>
                    <p style="color:orangered">Podium Finishers will get a Prize Medal and Certificate.</p>
                </div>
                <hr>
                <h4>Age Restrictions:</h4>
                <div id="rules">
                    <p>1. HM: Minimum age is 18 years</p>
                    <p>2. 10k: 13+</p>
                    <strong>Note: Parental consent required for any deviation from above.</strong>
                </div>
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "apr_2015" } }) role="button">Register</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #terms_hover a:hover {
        color: orangered;
    }
</style>
