﻿    @{
    ViewBag.Title = "Bengaluru 10K Challenge";
    Layout =  "~/Views/Shared/_LayoutNew.cshtml";
}
<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item imgtop">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/blr10ktop.jpg" alt="">

        </div>
        <div class="line" align="center" style="padding-left:40%;">
            <a href="~/Register/FastLane?eventid=b10k_2017" class="tab-label s-12 m-6 l-4">Click to Register</a>
        </div>

        <!-- FIRST BLOCK -->
        <div id="first-block">
            <div class="line">
                <h1>Bengaluru 10K Challenge</h1>
                <p style="color:#FFAE00">
                    Sunday, 9th July, 2017. <br><strong>Event Location</strong> : Announced Soon
                </p>
            </div>
        </div>
        <!-- FEATURES -->

        <div id="first-block" style="text-align:left">

            <div class="line">
                <h1>About the Event</h1>
                <p>Bengaluru 10K Challenge is all about achieving your personal best! Our second edition had an overwhelming response with over 10000 runners. So here is our third edition of the 10K challenge. Bring on that fire in you to run and set your personal best!</p>
                <br>
                <h1>About Organisers</h1>
                <p>NEB Sports, organises big banner events such as Shriram Properties Bengaluru Marathon, IDBI Federal Life Insurance New Delhi Marathon, IDBI Federal Life Insurance Mumbai Half Marathon, IDBI Federal Life Insurance Kolkata Full Marathon, Bengaluru 10k Challenge, Delhi 10k Challenge, Pune 10K Challenge, NIDJAM, and more. The focus of our events is to provide a good experience to participants and encourage people to adapt a fit and healthy lifestyle.</p>
                <br>
                <h1>10K Challenge & 5K Fun Run</h1>
                <table style="text-align:center">
                    <tbody>
                        <tr>
                            <td><strong>Category</strong></td>
                            <td><strong>10K Challenge</strong></td>
                            <td><strong>5K Fun Run</strong></td>
                        </tr>
                        <tr>
                            <td>Participant's Age</td>
                            <td>14 and above</td>
                            <td>Any age group	</td>
                        </tr>
                        <tr>
                            <td>Reporting Time</td>
                            <td>NA</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td>NA</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>End Time</td>
                            <td>NA</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Cutoff time</td>
                            <td>NA</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Registration Fees</td>
                            <td>850 INR</td>
                            <td>650 INR</td>
                        </tr>

                    </tbody>
                </table><br>

                <br>

                <p>
                    <strong>NOTE :</strong>
                    <ul style="color:white">
                        <li>We may close the registrations early if all the slots are filled. You can follow us on FB and website to get more updates about the race.</li>
                        <li>There will be no on-spot registrations at the Expo.</li>
                        <li>For the 5K run, minors must be accompanied by an adult.</li>
                    </ul>

                </p>

            </div><br>

            <br>
            <br>
            <div class="line" align="center" style="padding-left:40%;">
                <a href="~/Register/FastLane?eventid=b10k_2017" class="tab-label s-12 m-6 l-4">Click to Register</a>
            </div>
        </div>

        <!-- CONTACT -->
        <!-- MAP -->

</section>
<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>