﻿@{
    ViewBag.Title = "SPBM 2015";
}
@section ExtendedMetaInformation {
    <meta name="description" content="Shriram Properties Bengaluru Marathon 2015">
    <meta name="keywords" content="SPBM 2015,bm_2015,Shriram Properties,Bengaluru Marathon,Charity Run,Bengaluru,Bengaluru Annual city marathon">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header"> SPBM 2015</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/bm_promo1.jpg" alt="bengaluremarathonlogo" class="img-rounded" />
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll","Register",new RouteValueDictionary(){{"eventid","bm_2015"}}) role="button">Continue</a></span>
                </div>
                <br />
                <div id="aboutevent">
                    <h4>About Event</h4>
                    Running in India has been growing by leaps and bounds over the years and Bengaluru is one of the cities leading this change. Bengaluru boasts of having the largest runners community in India and many Bengaluru runners across different age categories have been winning at the major marathon events in the country. Bengaluru has been referred to as the fitness capital of India. Having said that, the city doesn't have a world-class full and half marathon, until now.

                    After a long wait, Bengaluru finally has an Annual city marathon, which will take runners through important landmarks of the city. Apart from the full and half marathons, this race will also have Charity run targeted at new runners. We believe this event will go a long way in further promoting running in the city and encourage a fit and healthy lifestyle.
                </div>
                <hr>
                <div id="aboutmanagement">
                    <h4>About Organisers</h4>
                    Organisers are a group from the Bengaluru Running Community under the aegis of "Bengaluru Marathon".
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Various Categories</h4>
                    There are 3 categories of runs:-
                    <ol>
                        <li>Full Marathon - <strong>950 INR</strong></li>
                        <li>Half Marathon - <strong>850 INR</strong></li>
                        <li>Charity Run(5KM) - <strong>500 INR</strong></li>
                    </ol>
                    <h5>First 1000 HM and 1000 FM will be getting customised "In Training" T-shirts</h5>
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Race Route and Start Time</h4>
                    <p><strong>Full Marathon</strong> -- To be announced.</p>
                    <p><strong>Half Marathon</strong> -- To be announced.</p>
                    <p><strong>Fun Run</strong> -- To be announced.</p>
                    <p><strong>START TIME -- To be announced</strong></p>
                </div>
                <hr>
                <div id="prizes">
                    <h4>Prizes</h4>
                    <p style="font-size:medium;color:orangered">Cash prizes worth 55lakhs to be won.</p>
                </div>
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll","Register",new RouteValueDictionary(){{"eventid","bm_2015"}}) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>