﻿@{
    ViewBag.Title = "Bangalore Runners Unity Run";
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Bangalore Runners Unity Run</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://click2race.blob.core.windows.net/portalimages/brurbanner.jpg" alt="Bengaluru Runners Unity Run" class="img-rounded" />
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane","Register",new RouteValueDictionary(){{"eventid","brur_2016"}}) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About Event and the Organisers</h4>
                    <p style="color:orangered">Bangalore Runners Unity Run 2016!</p>
                    <p>The Annual Bangalore Runner’s get together is here again!</p>
                    <p>As you all know this event is not just a run but a family get together. It is specially designed to bring the families of the runners together and to express gratitude for all their support in making us passionate runners. And what better way to thank them for helping our steady run through the year than sharing a bit of the fun with them?</p>
                    <p>As has been our tradition, this year’s event too will not only have the run, but also plenty of fun activities for participating families—and all this away from the busy city landscape. Based on a lot of requests and feedback we have decided to keeps the same route as last year with a few interesting additions to it.</p>
                    <p>This time, the exciting part is the mixed terrain for the run, including picturesque landscapes, small hamlets and plenty of green cover—and absolutely no traffic! And while you run, your family members can stroll through, walk or jog through the semi-forested areas in and around the resort. This year there are a lot of new activities apart the activities you did last year. Apart from the activities which you enjoyed last year such as swimming pool, rain dance and children’s play area this year there will be additional activities like zorbing, pinpall, dirt carting, zip line etc#.</p>
                    <p>This year, to help us with participation statistics and to ensure quantity of food and activity management, you will need to register yourself and your family members by paying nominal registration charges. The surplus amount after expenses are accounted for will be donated for a cause.</p>
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date:</h4><h5 style="color:orangered"> 20th March,2016</h5>
                    <h4>Event Location:</h4><h5 style="color:orangered"> Elim Resort, off Kanakapura Road</h5>
                    <h4>Reporting Time:</h4><h5 style="color:orangered">6.00am</h5>
                    <h4>Start Time:</h4><h5 style="color:orangered">6.30am</h5>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <ol>
                        <li>Individual(above 10years) 400INR</li>
                        <li>1 Adult + 1 kid 400INR</li>
                        <li>2 Adult + 1 kid 800INR</li>
                        <li>2 Adult + 2 kid 800INR</li>
                    </ol>
                    <p>Note:</p>
                    <ol>
                        <li>This is not a timed run, so no timing chips will be provided.</li>
                        <li>Individual registration should be done for kids elder than 10years</li>
                    </ol>
                </div>
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane","Register",new RouteValueDictionary(){{"eventid","brur_2016"}}) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>