﻿@{
    ViewBag.Title = "Contours Women's Day Run";
}
@section ExtendedMetaInformation {
    <meta name="description" content="Contours Women Day Run">
    <meta name="keywords" content="Running, EGL, Fitness, Women, Run, Fit, Cycle, Exercise">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">The Bull Run</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/cwdr.jpg" alt="bull_banner" class="img-rounded" />
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll", "Register", new RouteValueDictionary() { { "eventid", "bull_2015" } }) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About Event</h4>
                    <p>Contours brings to you our 7th edition of the Contours Women’s Day Run (CWDR) to celebrate the achievements of the Indian Woman. An annual event held to raise awareness and help empower children in need, our previous editions have secured the future for over 700 children.</p>
                    <br/>
                    <p>Our 2016 edition aims to raise funds and awareness for Shristi Special Academy, who in collaboration with Special Olympics Bharat is training and grooming Persons with disabilities (PWDs) for the Special Olympics . Together we envision a world where Persons with disabilities (PWDs) receive unconditional acceptance, respect and care.</p>
                    <br/>
                    <p>Contours is a chain of international fitness studios dedicated to improving the health and fitness of women. We are India’s largest women’s fitness chain with 12 gyms and over 2200 women achieving their fitness goals. Come celebrate International Women’s Day with Contours </p>
                </div>
                <br />
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date:</h4><h5 style="color:orangered"> 6th March, 2016</h5>
                    <h4>Event Location:</h4><h5 style="color:orangered">Embassy GolfLinks (EGL), Domlur, Bangalore</h5>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Distance</th>
                            <th>Registration fee</th>
                            <th>Start Time</th>
                            <th>Reporting Time</th>
                        </tr>
                        <tr>
                            <td>10km</td>
                            <td>600/-</td>
                            <td>6:30am</td>
                            <td>6am</td>
                        </tr>
                        <tr>
                            <td>5km</td>
                            <td>600/-</td>
                            <td>6:45am</td>
                            <td>6am</td>
                        </tr>
                    </table>
                </div>
                <hr>
                <hr>
                    <div style="text-align: center;font-size: large">
                        <span id="enroll_link"><a href=@Url.Action("Enroll", "Register", new RouteValueDictionary() { { "eventid", "cwdr_2016" } }) role="button">Continue</a></span>
                    </div>
                </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #terms_hover a:hover {
        color: orangered;
    }
</style>
