﻿@{
    ViewBag.Title = "CLIMB against sexual abuse";
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">CLIMB against sexual abuse</h3>
            <div class="well">
                <div id="logo" style="text-align: center;">
                    @*<img src="https://clicktorace.blob.core.windows.net/portalimages/trot_slider.jpg" alt="cwdrpic" class="img-rounded" />*@
                </div>
                <br />
                <br />
                <div style="text-align: center; font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() {{"eventid", "climb_2016"}}) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <h4>About Event</h4>
                    <p><strong>CLIMB against sexual abuse!</strong></p><br />
                    <p>CLIMB is a global non-profit organisation, trying to break the silence on sexual violence and creating a powerful movement of change. We are continuously expanding with our presence in over 18 countries. Our team of over 30 members serves the borderless world, spreading awareness, undoing the stigma, and changing the social mindset. We believe in building a better society, which not only will inspire social citizens to celebrate a survivor’s triumph with love and compassion but will also survivors to help others in their healing journey.</p>
                    <br />
                    <p><strong>Odanadi Seva Samithi</strong></p>
                    <p>Odanadi is an NGO based in Mysore. Odanadi addresses all forms of sexual violence against women and children, with special focus on human trafficking. They have adopted a holistic approach to combat sexual violence through prevention, rescue, rehabilitation, awareness and training programs.</p>
                    <br />
                    <p>It is a fund raising event. CLIMB will be taking 18 individuals from different parts of the world on an expedition to Kilinajaro. Kilimanjaro is more than just a highest mountain in Africa – it is a symbol of victory for survivors to show their appreciation of life and ability to shatter convention. The climb aims to change the notion of the survivors being victims and instead encourages survivors to come forward and celebrate their conquest. With our Kilimanjaro climb and subsequent video, we aim to reach more than 10 million lives. </p>
                </div>
                <hr>
                <div id="eventdate">
                    <h5>Event Date -- June 26th, 2016 - Sunday</h5>
                    <h5>Event Location -- Chamundi Hill footsteps, Mysuru </h5>
                    <h5>Race Details (Distance/Fee/Start Time) - It is a fund raising event. The participants have to climb the Chamundi hill steps. (1000 steps and it concludes at Mahishasura point, where the participants will be addressed by the event organizers to speak about the cause and spread the message and create awareness. The event will be flagged off at 6.30 am by the MP Shri Prathap Simha and Actress Nidhi Subbaiah. Participants are expected to assemble at start point at 6 am. There will be free tender coconut distribution at the end point for all participants, volunteers and organisers, along with water aid stations.</h5>
                    <h5>Prizes if any – No prizes</h5>
                    <h5>Age Category or any race specific rules – Open to all age groups.</h5>
                </div>
                <hr>
                <div style="text-align: center; font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() {{"eventid", "climb_2016"}}) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>