﻿@{
    ViewBag.Title = "4X4 Offroader Workshop";
}
@section ExtendedMetaInformation {
    <meta name="description" content="4x4 Offroader an event by Coorg Adventure Club ">
    <meta name="keywords" content="Offroading,adventure,jeep,4X4,Coorg">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">4x4 Offroader Workshop </h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/coorg1_banner.jpg" alt="psnrun_banner" class="img-rounded" />
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll", "Register", new RouteValueDictionary() { { "eventid", "coorg1_2015" } }) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>Itenerary</h4>
                    <b>Day 1</b>
                    <p>1. Arrive at COORG ADVENTURE CLUB by 4</p>
                    <p>2. Briefing,Bonfire and Dinner from 7 pm onwards.</p>

                    <b>DAY 2</b>
                    <p>1.Breakfast at 6:30 am</p>
                    <p>2. 7 am Drive (4X4)</p>
                    <p>3.  1 pm Lunch</p>
                    <p>4.  4 pm Obstacle course/Football</p>
                    <p>5.  Dinner,Bonfire and Entertainment 7 pm onwards</p>

                    <b>DAY 3</b>
                    <p>1.  Breakfast 7 am onwards</p>
                    <p>2. Checkout after breakfast.</p>
                </div>
                <br />
                <h4>About Organisers</h4>
                <p>Event By :  Coorg Adventure Club </p>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date:</h4><h5 style="color:orangered"> 24th-26th July, 2015</h5>
                    <h4>Event Location:</h4><h5 style="color:orangered"> COORG ADVENTURE CLUB,VIRAJPET</h5>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Pricing</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Package</th>
                            <th>Registration fee</th>
                            <th>Inclusions</th>
                        </tr>
                        <tr>
                            <td>Drive Only Package</td>
                            <td>1000/- per person</td>
                            <td>This includes lunch</td>
                        </tr>
                        <tr>
                            <td>Club Package</td>
                            <td>4999/- per person</td>
                            <td>This includes all meals and stay at the dormitory in the  COORG ADVENTURE CLUB</td>

                        </tr>
                        <tr>
                            <td>Premium Package</td>
                            <td>9999/- per person (On a twin sharing occupancy)</td>
                            <td>This includes stay and breakfast at Ambatty Greens Resort in the deluxe rooms.All other meals will be at the COORG ADVENTURE CLUB</td>
                        </tr>
                    </table>
                </div>
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll", "Register", new RouteValueDictionary() { { "eventid", "coorg1_2015" } }) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #terms_hover a:hover {
        color: orangered;
    }
</style>
