﻿@using System.Web.UI.WebControls
@model Marathonrunners.Core.Entities.UserInfo
@{
    ViewBag.Title = "Trivandrum Marathon";
}
<script>

    window.onload = function () {
        var check = document.getElementById("termsandconditions");
        var sbmt = document.getElementById("pay");
        if (check.checked == false) {
            sbmt.disabled = true;
            sbmt.style.backgroundColor = "Grey";
        }
    };

    EnableSubmit = function (val) {

        var sbmt = document.getElementById("pay");

        if (val.checked == true) {
            sbmt.disabled = false;
            sbmt.style.backgroundColor = "Orange";
        }
        else {
            sbmt.disabled = true;
            sbmt.style.backgroundColor = "Grey";
        }
    }
</script>
<div id="mainBody">
    <div class="row" style="background-color: white">
        <h3 class="center_header">Register for Trivandrum Marathon</h3>
        <div class="leftedit">
            @Html.Partial("_Edit", @Model)
        </div>
        <div class="rightpay">
            <div class="mid-section">
                <div>
                    <input type="hidden" id="userid" value=@Model.EmailId />
                    <label>Select the Category of the Run</label>
                    <select id="typeofrun">
                        <option value="1">Full Marathon (Rs.1000/-)</option>
                        <option value="2">Half Marathon (Rs.800/-)</option>
                        <option value="3">10K (Rs.700/-)</option>
                    </select><br />
                    <input type="checkbox" id="termsandconditions" value="Yes" onclick="EnableSubmit(this)" />
                    I agree to the <span class="underline" id="terms_hover"><a href="#" data-reveal-id="myModal" onclick="generic_popup('/TermsConditionsHtml/TermsAndConditions.html')" style="color:white">terms and conditions</a></span><br><br>
                    <button class="btn-success" id="pay" data-product="tracs_2015" style="font-size:large">Pay</button>
                </div>
            </div>
        </div>
    </div>
</div>
