﻿@model Marathonrunners.Core.Entities.UserInfo
@{
    ViewBag.Title = "4X4 Offroader Workshop";
}
<script>

    window.onload = function () {
        var check = document.getElementById("termsandconditions");
        var sbmt = document.getElementById("pay");
        if (check.checked == false) {
            sbmt.disabled = true;
            sbmt.style.backgroundColor = "Grey";
        }

    };

    EnableSubmit = function (val) {

        var sbmt = document.getElementById("pay");

        if (val.checked == true) {
            sbmt.disabled = false;
            sbmt.style.backgroundColor = "Orange";
        }
        else {
            sbmt.disabled = true;
            sbmt.style.backgroundColor = "Grey";
        }
    }
</script>

<div id="mainBody">
    <div class="row" style="background-color: white">
        <h3 class="center_header">4X4 Offroader Workshop</h3>
        @*<div class="alert alert-info fade in" style="text-align: left; color:orangered">
            Note: If you want to register your family members(children) for the event from the same account, please edit details like Name, DOB etc.
        </div>*@
        <div class="leftedit">
            @Html.Partial("_Edit", @Model)
        </div>
        <div class="rightpay">
            <div class="mid-section">
                <div>
                    <input type="hidden" id="userid" value=@Model.EmailId />
                    <label>Select the Package:</label>
                    <select id="typeofrun">
                        <option value="" data-type="none">--Select--</option>
                        <option value="1">Drive only(1000/-)</option>
                        <option value="2">Club Package(4999/-)</option>
                        <option value="3">Premium Package(9999/-)</option>
                    </select><br />
                    @*<fieldset>
                        <legend>Student Discount - 200 INR</legend>
                        <input type="checkbox" id="student" />
                        I am a student <span id="terms_hover"><a href="#" data-reveal-id="myModal" onclick="generic_popup('/TermsConditionsHtml/StudentTermsAndConditions.html')" style="color:white">(terms and conditions)</a></span>
                    </fieldset>
                    <br />*@
                    <input id="validdata" type="hidden" value="false" />
                    <input id="validemail" type="hidden" value="false" />
                    <label for="termsandconditions" class="checkbox">
                        <input type="checkbox" id="termsandconditions" value="Yes" onclick="EnableSubmit(this)" />
                        I agree to the <span class="underline" id="terms_hover"><a href="#" data-reveal-id="myModal" onclick="generic_popup('/TermsConditionsHtml/TermsAndConditions.html')" style="color:white">terms and conditions</a></span>
                    </label>
                    <br>
                    <button class="btn-success" id="pay" data-product="coorg1_2015" style="font-size:large">Pay</button>
                </div>
            </div>
        </div>
    </div>
</div>
