﻿@using System.Web.UI.WebControls
@model Marathonrunners.Core.Entities.UserInfo

@{
    ViewBag.Title = "WTC Skyscraper Dash-Bengaluru '15";
}

<script>

    window.onload = function () {
        var check = document.getElementById("termsandconditions");
        var sbmt = document.getElementById("pay");
        if (check.checked == false) {
            sbmt.disabled = true;
            sbmt.style.backgroundColor = "Grey";
        }
    };

    EnableSubmit = function (val) {

        var sbmt = document.getElementById("pay");

        if (val.checked == true) {
            sbmt.disabled = false;
            sbmt.style.backgroundColor = "Orange";
        }
        else {
            sbmt.disabled = true;
            sbmt.style.backgroundColor = "Grey";
        }
    }
</script>

<div id="mainBody">
    <div class="row" style="background-color: white">
        <h3 class="center_header">Register for WTC Skyscraper Dash-Bengaluru '15</h3>
        <div class="leftedit">
            @Html.Partial("_Edit", @Model)
        </div>
        <div class="rightpay">
            <div class="mid-section">
                <div>
                    <input type="hidden" id="userid" value=@Model.EmailId />
                    <label>Select the Category of the Run</label>
                    @if (DateTime.Now > new DateTime(2015, 6, 9))                    {
                        <select id="typeofrun">
                            <option value="1">The Dash (Rs.684/-)</option>
                            <option value="2">The 2km+Dash (Rs.912/-)</option>
                        </select><br />
                    }
                    else                    {
                        <select id="typeofrun">
                            <option value="1">The Dash (Rs.456/-)</option>
                            <option value="2">The 2km+Dash (Rs.684/-)</option>
                        </select><br />
                    }
                    <input type="checkbox" id="termsandconditions" value="Yes" onclick="EnableSubmit(this)" />
                    I agree to the <span class="underline" id="terms_hover"><a href="#" data-reveal-id="myModal" onclick="generic_popup('/TermsConditionsHtml/TermsAndConditions.html')" style="color:white">terms and conditions</a></span><br><br>
                    <button class="btn-success" id="pay" data-product="sky_2015" style="font-size:large">Pay</button>
                </div>
            </div>
        </div>
    </div>
</div>
