﻿@using System.Web.UI.WebControls
@model Marathonrunners.Core.Entities.UserInfo
@{
    ViewBag.Title = "Spice coast";
}
<script>

    window.onload = function () {
        var check = document.getElementById("termsandconditions");
        var sbmt = document.getElementById("pay");
        if (check.checked == false) {
            sbmt.disabled = true;
            sbmt.style.backgroundColor = "Grey";
        }
    };

    EnableSubmit = function (val) {

        var sbmt = document.getElementById("pay");

        if (val.checked == true) {
            sbmt.disabled = false;
            sbmt.style.backgroundColor = "Orange";
        }
        else {
            sbmt.disabled = true;
            sbmt.style.backgroundColor = "Grey";
        }
    }
</script>
<div id="mainBody">
    <div class="row" style="background-color: white">
        <h3 class="center_header">Register for Spice Coast Marathon</h3>
        <div class="leftedit">
            @Html.Partial("_Edit", @Model)
        </div>
        <div class="rightpay">
            <div class="mid-section">
                <div>
                    <input type="hidden" id="userid" value=@Model.EmailId />
                    <label>Select the Category of the Run</label>
                    <select id="typeofrun" name="spice_coast_family_fun">
                        <option value="1">Family Fun Run (Rs.500/-)</option>
                        <option value="2">Federal Bank Family Run (5Km) (Rs.250/-)</option>
                    </select><br />
                    <div id="spice_bank_details" style="visibility:hidden;display:none">
                        <fieldset>
                            <legend>Bank Details</legend>
                            <textarea id="spice_bnk_dtls" name="spice_bnk_dtls" placeholder="Federal Bank Account No. and Branch"></textarea>
                        </fieldset>
                    </div>
                    <input type="checkbox" id="termsandconditions" value="Yes" onclick="EnableSubmit(this)" />
                    I agree to the <span class="underline" id="terms_hover"><a href="#" data-reveal-id="myModal" onclick="generic_popup('/TermsConditionsHtml/TermsAndConditions.html')" style="color:white">terms and conditions</a></span><br><br>
                    <button class="btn-success" id="pay" data-product="spice_2015" style="font-size:large">Pay</button>
                </div>
            </div>
        </div>
    </div>
</div>
