﻿@using System.Web.UI.WebControls
@model Marathonrunners.Core.Entities.UserInfo
@{
    ViewBag.Title = "SPBM 2015";
}
<script>

    window.onload = function () {
        var check = document.getElementById("termsandconditions");
        var sbmt = document.getElementById("pay");
        if (check.checked == false) {
            sbmt.disabled = true;
            sbmt.style.backgroundColor = "Grey";
        }
    };

    EnableSubmit = function (val) {

        var sbmt = document.getElementById("pay");

        if (val.checked == true) {
            sbmt.disabled = false;
            sbmt.style.backgroundColor = "Orange";
        }
        else {
            sbmt.disabled = true;
            sbmt.style.backgroundColor = "Grey";
        }
    }
</script>
<div id="mainBody">
    <div class="row" style="background-color: white">
        <h3 class="center_header">Register for SPBM 2015</h3>
        <div class="leftedit">
            @Html.Partial("_Edit", @Model)
        </div>
        <div class="rightpay">
            <div class="mid-section">
                <div>
                    <input type="hidden" id="userid" value=@Model.EmailId />
                    <label>Select the Category of the Run</label>
                    @if (ViewBag.EventId != null && ViewBag.EventId == "bc_10k") {
                        <select id="typeofrun">
                            <option value="1">10K (550 INR)</option>
                            <option value="2">5K (450 INR)</option>
                        </select>
                        <br />
                    } else {  <select id="typeofrun">
                        <option value="1">Full Marathon (950 INR)</option>
                        <option value="2">Half Marathon (850 INR)</option>
                        <option value="3">Charity Run (5K) (500 INR)</option>
                    </select><br />
                    }
                    <fieldset>
                        <legend>Timing Details</legend>
                        <label>Personal best run time</label>
                        <input id="runtiming" name="runtiming" placeholder="hh:mm:ss">
                        <label>Link of the timing</label>
                        <input id="timinglink" name="timinglink">
                        <label>Distance(Km)</label>
                        <input id="distance" name="distance" placeholder="Ex: 42.2">
                        <label>Event Name</label>
                        <input id="eventname" name="eventname"><br>
                        Note: If you do not upload timing link, then you will be placed in the general category.
                    </fieldset>
                    <br />
                    @if (ViewBag.EventId != null && ViewBag.EventId == "bc_10k") {
                        <fieldset>
                            <legend>Student Discount - 100 INR</legend> 
                            <input type="checkbox" id="student" />
                            I am a student <span class="underline" id="terms_hover"><a href="#" data-reveal-id="myModal" onclick="generic_popup('/TermsConditionsHtml/StudentTermsAndConditions.html')" style="color:white">(terms and conditions)</a></span>
                        </fieldset>
                        <br />
                    }
                    <fieldset>
                        <legend>Terms & Condition</legend>
                        <input type="checkbox" id="termsandconditions" value="Yes" onclick="EnableSubmit(this)" />
                        I agree to the <span class="underline" id="terms_hover"><a href="#" data-reveal-id="myModal" onclick="generic_popup('/TermsConditionsHtml/TermsAndConditions.html')" style="color:white">terms and conditions</a></span><br><br>
                    </fieldset>
                    <button class="btn-success" id="pay" data-product=@ViewBag.EventId style="font-size:large">Pay</button><br/>
                    <span style="color: orange">NOTE: Please make sure to update the address, as T-shirts will be delivered.</span>
                </div>
            </div>
        </div>
    </div>
</div>
