﻿@using System.Web.UI.WebControls  
@model Marathonrunners.Core.Entities.UserInfo

@{
    ViewBag.Title = "The Run 4 Life";
}

<script>

    window.onload = function () {
        var check = document.getElementById("termsandconditions");
        var sbmt = document.getElementById("pay");
        if (check.checked == false) {
            sbmt.disabled = true;
            sbmt.style.backgroundColor = "Grey";
        }
    };

    EnableSubmit = function (val) {

        var sbmt = document.getElementById("pay");

        if (val.checked == true) {
            sbmt.disabled = false;
            sbmt.style.backgroundColor = "Orange";
        }
        else {
            sbmt.disabled = true;
            sbmt.style.backgroundColor = "Grey";
        }
    }
</script>

<div id="mainBody">
    <div class="row" style="background-color: white">
        <h3 class="center_header">Register for The Run 4 Life</h3>
        <div class="leftedit">
            @Html.Partial("_Edit", @Model)
        </div>
        <div class="rightpay">
            <div class="mid-section">
                <div>
                    <input type="hidden" id="userid" value=@Model.EmailId />
                    <label>Select the Category of the Run</label>
                               {
                        <select id="typeofrun">
                            <option value="1">10km - Adult (Rs.300/-)</option>
                            <option value="2">10km - Children (Rs.100/-)</option>
                            <option value="3">5km - Adult (Rs.300/-)</option>
                            <option value="4">5km - Children (Rs.100/-)</option>
                        </select><br />
                    }
                    <input type="checkbox" id="termsandconditions" value="Yes" onclick="EnableSubmit(this)" />
                    I agree to the <span class="underline" id="terms_hover"><a href="#" data-reveal-id="myModal" onclick="generic_popup('/TermsConditionsHtml/TermsAndConditions.html')" style="color:white">terms and conditions</a></span><br><br>
                    <button class="btn-success" id="pay" data-product="run_2015" style="font-size:large">Pay</button>
                </div>
            </div>
        </div>
    </div>
</div>
