﻿@using marathonrunners.Models
@{
    var eventDetails = (EventDetails)ViewBag.EventDetails;
    ViewBag.Title = @eventDetails.EventTitle;
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

@section ExtendedMetaInformation {
    <meta name="description" content="@eventDetails.EventTitle">
    <meta name="keywords" content="@eventDetails.EventTitle , @eventDetails.EventId">
}
<style type="text/css">
    input[type="text"], select, .uneditable-input {
        height: 30px;
        width: 219px;
    }
</style>
<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item"> <img src="https://clicktorace.blob.core.windows.net/portalimages/regtop.jpg" alt=""> </div>
        <!-- form starts -->

    </div>
</section>

@if (!ViewData.ModelState.IsValid)
{
    @Html.ValidationSummary()
}
<div id="contact">
    <div class="line">






        @if (eventDetails.IsDonationEvent)
        {
            <h3 class="center_header" style="text-align:center;">Donate for @eventDetails.EventTitle </h3>
        }
        else if (eventDetails.EventId == "SPBM_2017")
        {
            <h3  class="center_header" style="text-align:center;">Register for @eventDetails.EventTitle Inaugural Run  </h3>
            <img src="https://click2race.blob.core.windows.net/portalimages/Inaugural Run02.jpg" />

        }
        else if (eventDetails.EventId == "IDBI_Promo_Run")
        {
            <h3 class="center_header" style="text-align:center;">Register for @eventDetails.EventTitle - Adidas Promo Run 2</h3>
        }

        else if (eventDetails.EventId == "IDBILIMHM_Training_Run")
        {
            <h3 class="center_header" style="text-align:center;">Register for @eventDetails.EventTitle - Adidas Training Run - 1</h3>
        }
        else if (eventDetails.EventId == "HUM5K_2017")
        {
            <h3 class="center_header" style="text-align:center;">Register for @eventDetails.EventTitle Run</h3>
        }
        else
        {
            <h3 class="center_header" style="text-align:center;">Register for @eventDetails.EventTitle </h3>
        }



        @if (!ViewData.ModelState.IsValid)
        {
            <div>
                @Html.ValidationSummary()
        </div>
        }

        <div class="s-12 m-12 l-12" style="text-align:center">
            <h5>All the fields are Mandatory</h5>
            <p>Please select the race </p>
            @if (eventDetails.IsDonationEvent)
            {
                ViewBag.NumberOfForms = 1;
                ViewBag.EventCategoryIndex = 0;
                @Html.Partial("FastLanePartial")
            }
            else if (true)
            {

                @*<div class="s-12">*@
                <div class="controls">
                    <input type="hidden" name="EventId" id="EventId" value="@eventDetails.EventId" />
                    <select data-val="true" data-val-required="Please select the Event Category" id="EventCategoryFastLane" name="EventCategory" onchange="EventCategoryFastLaneChange()">
                        <option value="">--Select--</option>
                        @foreach (var eventd in eventDetails.EventCategoryList.Select((x, index) => new
                        {
                            Index = index,
                            x.EventTitle,
                            x.Price,
                            x.NumberOfRegistrtionsAllowed,
                            x.NumberOfUserSelectionDisabled
                        }))
                        {
                            if (eventDetails.EventCategoryList.First().IsFreeEvent)
                            {
                                <option value="@eventd.Index" data-numberofforms="@eventd.NumberOfRegistrtionsAllowed">@eventd.EventTitle Free</option>
                            }
                            else
                            {
                                <option value="@eventd.Index" data-numberofforms="@eventd.NumberOfRegistrtionsAllowed">@eventd.EventTitle @eventd.Price INR</option>
                            }
                        }
                    </select>

                </div>



            }
            else
            {
                <div class="s-12">
                    <input type="hidden" name="EventId" id="EventId" value="@eventDetails.EventId" />

                    <select>
                        <option value="">--Select--</option>
                        @foreach (var eventd in eventDetails.EventCategoryList.Select((x, index) => new
                                {
                                    Index = index,
                                    x.EventTitle,
                                    x.Price,
                                    x.NumberOfRegistrtionsAllowed
                                }))
                        {
                            <option value="@eventd.Index" data-numberofforms="@eventd.NumberOfRegistrtionsAllowed">@eventd.EventTitle @eventd.Price INR</option>
                        }
                    </select>

                </div>

            }
            <div id="wrapper" style="width:100%;">

            </div>
        </div>
    </div>
</div>






















