﻿@using System.Diagnostics
@using System.Web.UI.WebControls
@using marathonrunners.Models
@using ModelState = System.Web.ModelBinding.ModelState
@model Marathonrunners.Models.FastLaneViewModel
@{
    ViewBag.Title = "Register";
}


@{
    var eventDetails = (EventDetails)ViewBag.EventDetails;
    var numberofforms = (int)ViewBag.NumberOfForms;
    var eventCategoryIndex = (int)ViewBag.EventCategoryIndex;
    var eventCategory = eventDetails.EventCategoryList[eventCategoryIndex];
    var hiddenFields = eventCategory.HiddenFields;
    bool isDuplicateRegistrationAllowed = eventDetails.MultipleRegistrationFastLane == MultipleRegistrationType.Allowed;
    Layout = null;
}
@if (numberofforms == 1)
{

}

    @*This logic beneath is very ugly. MEMO: Add a new minimum age field in EventData for each
        event category and just pass it to the load_datepicker_generic *@
    @if (eventDetails.EventId.Equals("idbimhm_2017"))
    {
        var minimumAge = 3;
        if (eventCategoryIndex == 0)
        {
            minimumAge = 18;
        }
        else if (eventCategoryIndex == 1)
        {
            minimumAge = 15;
        }
        <script>
            load_datepicker_generic(@minimumAge)
        </script>
    }
    else if (eventDetails.EventId.Equals("spbm2017"))
    {
        var minimumAge = 3;
        if (eventCategoryIndex == 0 || eventCategoryIndex == 1)
        {
            minimumAge = 18;
        }
        else if (eventCategoryIndex == 2)
        {
            minimumAge = 6;
        }
        <script>
            load_datepicker_generic(@minimumAge)
        </script>
    }
    else if (eventDetails.EventId.Equals("HUM5K_2017"))
    {
        var minimumAge = 3;
        if (eventCategoryIndex == 0)
        {
            minimumAge = 5;
        }
        <script>
            load_datepicker_generic(@minimumAge)
        </script>
    }

    else if (Convert.ToString(eventDetails.EventId) == "tc_2017")
    {
        if (eventCategoryIndex == 0)
        {
            <script>
                load_datepicker_tc_champ();
            </script>
        }

        if (eventCategoryIndex == 1)
        {
            <script>
                load_datepicker_tc_fit();
            </script>
        }


        if (eventCategoryIndex == 2)
        {
            <script>
                load_datepicker_tc_kids();
            </script>
        }
    }
    else if (Convert.ToString(eventDetails.EventId) == "b10k_2017")
    {
        if (eventCategoryIndex == 0)
        {
            <script>
                load_datepicker_b10k();
            </script>
        }
        if (eventCategoryIndex == 1)
        {
            <script>
                load_datepicker_b5k();
            </script>
        }
    }
    else
    {
        <script>
            load_datepicker_multiforms();
        </script>

    }
    @Scripts.Render("~/bundles/multiforms")

    <script>
        $(function () {
            var pleaseWaitDiv = $('<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-header"><h1>Processing...</h1></div><div class="modal-body"><div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div></div></div>');

            $(document).ajaxStart(function () {
                pleaseWaitDiv.modal();
            });

            $(document).ajaxStop(function () {
                pleaseWaitDiv.modal('hide');
            });

            $("#fastlaneform").submit(function (e) {
                if ($("#fastlaneform").valid()) {
                    var isDuplicateRegistrationAllowed = $('#IsDuplicateRegistrationAllowed').val();
                    //debugger;
                    if (isDuplicateRegistrationAllowed == "True") submit_form();
                    var eventId = $('#EventId').val();
                    var eventCategoryIndex = $('#EventCategory').val();
                    var emailid = $('#input_email').val();
                    $.ajax({
                        type: "GET",
                        url: '/Register/IsDuplicateRegistrationFastLane/?userid=' + emailid + '&eventId=' + eventId + '&eventCategory=' + eventCategoryIndex,
                        crossDomain: true,
                        success: function (data, status_text, error) {
                            pleaseWaitDiv.modal('hide');
                            var jsonData = JSON.parse(data);
                            if (jsonData.IsError) {
                                alert("Request failed with error: " + error);
                            } else {
                                //debugger;
                                if (jsonData.IsDuplicate) {
                                    alert(jsonData.ErrorMessage);
                                } else {
                                    document.getElementById('fastlaneform').submit(); //MEMO: Making a direct call because from ajax context asp.net mvc client side validation is not triggering for some reason
                                }
                            }
                        },
                        error: function (request, status_text, error) {
                            pleaseWaitDiv.modal('hide');
                            alert("Request failed with error: " + error);
                        }
                    });
                }
                e.preventDefault();
                //Return false regardless of validation to stop form submitting
                //prior to ajax doing its thing
                return false;
            });
        });

        function submit_form() {
            if ($.validator.unobtrusive != undefined) {
                $.validator.unobtrusive.parse("fastlaneform");
            }
            var v = document.getElementById('fastlaneform');
            if (v.valid()) {
                v.submit();
            }
        }
    </script>
    <script>

        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>

    <div>


        <!-- form Stats -->
        @using (Html.BeginForm("PaymentConfirmFastLane", "Register", FormMethod.Post))
        {
            numberofforms = 1;
            @Html.AntiForgeryToken()
            <div>

                @if (!hiddenFields.Contains(Fields.title))
                {
                    <div class="s-12">
                        <select style="width :219px" class="span1" data-val="true" data-val-number="The field Title* must be a number." data-val-required="Please select the Title" id="title" name="Title">
                            <option value="">Select Gender</option>
                            <option value="1">Male</option>
                            <option value="2">Female</option>

                        </select>
                        <span class="field-validation-valid" data-valmsg-for="Title" data-valmsg-replace="true"></span>

                    </div>
                }
                else
                {
                    <input type="hidden" name="title" id="title" value="NOT DEFINED" />
                }
                <input type="hidden" name="EventId" id="EventId" value="@eventDetails.EventId" />
                <input type="hidden" name="NumberOfForms" id="NumberOfForms" value="@numberofforms" />
                <input type="hidden" name="EventCategory" id="EventCategory" value="@eventCategoryIndex" />
                <input type="hidden" name="IsDuplicateRegistrationAllowed" id="IsDuplicateRegistrationAllowed" value="@isDuplicateRegistrationAllowed.ToString()" />

                <div class="s-12">
                    <input class="chars" data-val="true" data-val-required="Please enter your First Name" id="inputFname" name="FirstName" placeholder="First Name" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="FirstName" data-valmsg-replace="true"></span>


                </div>
                <div class="s-12">
                    <input class="chars" data-val="true" data-val-required="Please enter your Last Name" id="inputLnam" name="LastName" placeholder="Last Name" type="text" value="" />
                    <span class="field-validation-valid" data-valmsg-for="LastName" data-valmsg-replace="true"></span>

                </div>
                @if (!hiddenFields.Contains(Fields.DateOfBirth))
                {
                    <div class="s-12">
                        @*<input type="date" name="checkin" class="form-control" required="required" placeholder="Date of Birth" style="padding:20px;">*@
                        <input class="datebirth" data-val="true" data-val-date="The field Date of Birth* must be a date." data-val-required="Please enter your Date Of Birth" id="datebirth" name="DateOfBirth" placeholder="yyyy-mm-dd" readonly="readonly" type="text" value="" />
                        <span class="field-validation-valid" data-valmsg-for="DateOfBirth" data-valmsg-replace="true"></span>

                    </div>
                }
                else
                {
                    <input type="hidden" name="DateOfBirth" id="DateOfBirth" value="NOT DEFINED" />
                }
                <div class="s-12">
                    <input data-val="true" data-val-email="Invalid Email Address" data-val-required="Please enter your Email Address" id="input_email" name="EmailAddress" placeholder="Email ID" type="email" value="" />
                    <span class="field-validation-valid" data-valmsg-for="EmailAddress" data-valmsg-replace="true"></span>

                </div>
                @if (!hiddenFields.Contains(Fields.MobileNum))
                {
                    <div class="s-12">

                        <input class="nums" data-val="true" maxlength="10" data-val-number="The field Mobile No.* must be a number." data-val-required="Please enter your Mobile No." id="mobile" minlength="10" name="MobileNum" placeholder="Mobile number" type="text" value="" />
                        <span class="field-validation-valid" data-valmsg-for="MobileNum" data-valmsg-replace="true"></span>

                        <p> Note: Please enter your contact number without the country code.<br> Eg - If your number is +91-9123456789, then you will enter as 9123456789</p>
                    </div>


                }
                else
                {
                    <input type="hidden" name="MobileNum" id="MobileNum" value="NOT DEFINED" />
                }
                @if (!hiddenFields.Contains(Fields.Address))
                {
                    <div class="s-12">
                        <textarea cols="26" data-val="true" data-val-required="Please enter your Address" id="Address" maxlength="200" minlength="10" name="Address" placeholder="Address" rows="3"></textarea>
                        <span class="field-validation-valid" data-valmsg-for="Address" data-valmsg-replace="true"></span>

                    </div>
                }
                else
                {
                    <input type="hidden" name="Address" id="Address" value="NOT DEFINED" />
                }
                @if (!hiddenFields.Contains(Fields.City))
                {
                    <div class="s-12">
                        @*<input data-val="true" data-val-required="City is required" id="city" maxlength="25" minlength="3" name="City @index" placeholder="City" type="text" value="" />*@
                        <select style="width :219px" class="span1" data-val-required="City is required" id="City" name="City">
                            <option value="">Select City</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Agra">Agra</option>
                            <option value="Ahmadabad">Ahmadabad</option>
                            <option value="Allahabad">Allahabad</option>
                            <option value="Amritsar">Amritsar</option>
                            <option value="Asansol">Asansol</option>
                            <option value="Bangalore">Bangalore</option>
                            <option value="Bhopal">Bhopal</option>
                            <option value="Chennai">Chennai</option>
                            <option value="Coimbatore">Coimbatore</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Dhanbad">Dhanbad</option>
                            <option value="Faridabad">Faridabad</option>
                            <option value="Hyderabad">Hyderabad</option>
                            <option value="Indore">Indore</option>
                            <option value="Jabalpur">Jabalpur</option>
                            <option value="Jaipur">Jaipur</option>
                            <option value="Jamshedpur">Jamshedpur</option>
                            <option value="Kanpur">Kanpur</option>
                            <option value="Kochi">Kochi</option>
                            <option value="Kolkata (Calcutta)">Kolkata (Calcutta)</option>
                            <option value="Lucknow">Lucknow</option>
                            <option value="Ludhiana">Ludhiana</option>
                            <option value="Mumbai">Mumbai</option>
                            <option value="Madurai">Madurai</option>
                            <option value="Meerut">Meerut</option>
                            <option value="Nagpur">Nagpur</option>
                            <option value="Nashik">Nashik</option>
                            <option value="Patna">Patna</option>
                            <option value="Pune">Pune</option>
                            <option value="Rajkot">Rajkot</option>
                            <option value="Surat">Surat</option>
                            <option value="Vadodara">Vadodara</option>
                            <option value="Varanasi">Varanasi</option>
                            <option value="Vijayawada">Vijayawada</option>
                            <option value="Visakhapatnam">Visakhapatnam</option>

                        </select>
                        <span class="field-validation-valid" data-valmsg-for="City" data-valmsg-replace="true"></span>

                    </div>
                }
                else
                {
                    <input type="hidden" name="City" id="City" value="NOT DEFINED" />
                }
                @if (!hiddenFields.Contains(Fields.PostalCode))
                {
                    <div class="s-12">
                        <input class="nums" data-val="true" data-val-number="The field Pincode* must be a number." data-val-required="Please enter the Pin Code" id="mobile" maxlength="6" minlength="4" name="PostalCode" placeholder="Pincode" type="text" value="" />
                        <span class="field-validation-valid" data-valmsg-for="PostalCode" data-valmsg-replace="true"></span>
                    </div>
                }
                else
                {
                    <input type="hidden" name="PostalCode" id="PostalCode" value="NOT DEFINED" />
                }
                @if (!hiddenFields.Contains(Fields.IdentityProof))
                {
                    <div class="s-12">
                        <select data-val="true" data-val-required="Please select your Identity Proof" id="IdentityProof" name="IdentityProof">
                            <option id="none" value="">Select ID</option>
                            <option id="p" value="PAN">PAN</option>
                            <option id="v" value="Voter ID">Voter ID</option>
                            <option id="pp" value="Passport">Passport</option>
                            <option id="a" value="Aadhar">Aadhar</option>
                            <option id="dl" value="Driving License">Driving License</option>
                        </select>
                        <span class="field-validation-valid" data-valmsg-for="IdentityProof" data-valmsg-replace="true"></span>

                    </div>
                }
                else
                {
                    <input type="hidden" name="IdentityProof" id="IdentityProof" value="NOT DEFINED" />
                }

                @if (!hiddenFields.Contains(Fields.IdNumber))
                {
                    <div class="s-12">
                        <input data-val-required="Please enter IdNumber" id="IdNumber" min="8" maxlength="13" name="IdNumber" placeholder="Id Number" type="text" value="" required pattern="[a-zA-Z0-9\s]*" />
                        <span class="field-validation-valid" data-valmsg-for="IdNumber" data-valmsg-replace="true"></span>

                    </div>

                }
                else
                {
                    <input type="hidden" name="IdNumber" id="IdNumber" value="NOT DEFINED" />
                }


                @if (!hiddenFields.Contains(Fields.PhotoIdProof))
                {
                    <div class="s-12">
                        <input data-val="true" data-val-required="Please choose an image" id="PhotoIdProof" name="PhotoIdProof" type="file" />
                        <span class="field-validation-valid" data-valmsg-for="PhotoIdProof" data-valmsg-replace="true"></span>

                    </div>
                }
                else
                {
                    <input type="hidden" name="PhotoIdProof" id="PhotoIdProof" value="NOT DEFINED" />
                }
                @if (!hiddenFields.Contains(Fields.ShirtSize))
                {
                    <div class="s-12">
                        <select data-val="true" data-val-required="Please select your T-Shirt Size" id="tshirt_size" name="ShirtSize">
                            <option value="">Select Tshirt Size</option>
                            <option value="XXL">XXL</option>
                            <option value="XL">XL</option>
                            <option value="L">L</option>
                            <option value="M">M</option>
                            <option value="S">S</option>
                            <option value="Not Opted">Not Opted</option>
                            @*<option value="S">XS</option>*@
                        </select>
                        <span class="field-validation-valid" data-valmsg-for="ShirtSize" data-valmsg-replace="true"></span>

                    </div>
                }
                else
                {
                    <input type="hidden" name="ShirtSize" id="ShirtSize" value="NOT DEFINED" />
                }
                @if (!hiddenFields.Contains(Fields.BloodGroup))
                {
                    <div class="s-12">
                        <select data-val="true" data-val-required="Please select your Blood Group" id="blood_group" name="BloodGroup">
                            <option value="">Select Bloodgroup</option>
                            <option value="A+">A+</option>
                            <option value="A-">A-</option>
                            <option value="B+">B+</option>
                            <option value="B-">B-</option>
                            <option value="AB+">AB+</option>
                            <option value="AB-">AB-</option>
                            <option value="O+">O+</option>
                            <option value="O-">O-</option>
                        </select>
                        <span class="field-validation-valid" data-valmsg-for="BloodGroup" data-valmsg-replace="true"></span>
                    </div>
                }
                else
                {
                    <input type="hidden" name="BloodGroup" id="BloodGroup" value="NOT DEFINED" />
                }

                @if (!hiddenFields.Contains(Fields.EmergencyContact))
                {
                    <div class="s-12">
                        <input class="nums" data-val="true" data-val-number="The field Emergency Contact No.* must be a number." data-val-required="Please enter Emergency Contact No." id="emcontactnum" maxlength="10" minlength="10" name="EmergencyContactNumber" placeholder="Emergency Contact No." type="text" value="" />
                        <span class="field-validation-valid" data-valmsg-for="EmergencyContactNumber" data-valmsg-replace="true"></span>
                    </div>
                }
                else
                {
                    <input type="hidden" name="EmergencyContactNumber" id="EmergencyContactNumber" value="NOT DEFINED" />
                }

                @if (!hiddenFields.Contains(Fields.EmergencyContactName))
                {
                    <div class="s-12">
                        <input data-val="true" data-val-required="Please enter Emergency Contact Name" id="emcontactname" maxlength="25" minlength="3" name="EmergencyContactName" placeholder="Emergency Contact Name" type="text" value="" />
                        <span class="field-validation-valid" data-valmsg-for="EmergencyContactName" data-valmsg-replace="true"></span>

                    </div>
                }
                else
                {
                    <input type="hidden" name="EmergencyContactName" id="EmergencyContactName" value="NOT DEFINED" />
                }

                @if (!hiddenFields.Contains(Fields.NameOnBib))
                {
                    <div class="s-12">
                        <input class="chars" data-val="true" data-val-required="Please enter Name On Bib" id="nameonbib" maxlength="25" minlength="3" name="NameOnBib" placeholder="Name On Bib" type="text" value="" />
                        <span class="field-validation-valid" data-valmsg-for="NameOnBib" data-valmsg-replace="true"></span>

                    </div>
                }
                else
                {
                    <input type="hidden" name="NameOnBib" id="NameOnBib" value="NOT DEFINED" />
                }
                @if (!hiddenFields.Contains(Fields.ChronicDDropdown))
                {
                    <div class="s-12">
                        <p>Do you suffer from any chronic diseases? </p>
                        @Html.DropDownListFor(model => model.ChronicDDropdown,
                                    new List<SelectListItem>{
                                new SelectListItem { Text = "Select", Value = ""},
                                new SelectListItem { Text = "Yes", Value = "yes"},
                                new SelectListItem { Text = "No", Value = "no"},
                               }, new { @name = "ChronicDDropdown", @id = "ChronicDDropdown", @placeholder = "None", @maxlength = "20", @onchange = "if (this.value=='yes'){this.form['chronicdisease'].value='';this.form['chronicdisease'].style.visibility='visible'}else {this.form['chronicdisease'].value='NA';this.form['chronicdisease'].style.visibility='hidden' };" })
                        @Html.ValidationMessageFor(model => model.ChronicDDropdown)
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.ChronicDisease, new { Value = "NA", @name = "chronicdisease", @id = "chronicdisease", @placeholder = "Please enter disease name", @maxlength = "20", style = "visibility:hidden;" })
                        @Html.ValidationMessageFor(model => model.ChronicDisease)
                    </div>

                }
                else
                {
                    <input type="hidden" name="ChronicDDropdown" id="ChronicDDropdown" value="NOT DEFINED" />
                }
                @if (!hiddenFields.Contains(Fields.PromoCode))
                {
                    <div class="s-12" style="text-align:left;">
                        <input id="PromoCode" maxlength="15" minlength="3" name="PromoCode" placeholder="Promo Code" type="text" value="" />
                        <span class="field-validation-valid" data-valmsg-for="PromoCode" data-valmsg-replace="true"></span>
                    </div>
                }
                else
                {
                    <input type="hidden" name="PromoCode" id="PromoCode" value="" />
                }
                <div class="s-12">
                    @Html.CheckBoxFor(model => model.AgreesToTerms, new { @name = "terms_and_conditions", @id = "terms_and_conditions", @checked = true })
                    I agree to the <span class="underline"><a href="#" onclick=" window.open('/TermsConditionsHtml/terms_conditoin.html'); return false;">terms and conditions</a></span>
                </div>


                <div class="s-12">
                    @*<input type="checkbox">&nbsp;&nbsp;Please keep me posted on click2race Events*@
                    @Html.CheckBoxFor(model => model.KeepMePosted, new { @name = "keep_me_posted", @id = "keep_me_posted", @checked = true })
                    Please keep me posted on click2race Events
                    @Html.ValidationMessageFor(model => model.KeepMePosted)
                </div>

                <div class="s-12 m-12 l-2" style="margin-left:40%; padding-top:20px;">
                    @*<button class="color-btn" type="submit">Register</button>*@

                    @if (!eventDetails.IsDonationEvent)
                    {
                        <input style="height:40px;width:100px;padding-top:10px;" type="submit" id="submitbtn" value="Register" />
                    }
                    else
                    {
                        <input style="height:40px;width:100px;padding-top:10px;" type="submit" id="submitbtn" value="Donate" />
                    }
                </div>



            </div>
        }
    </div>
    <br />
    <div class="s-12">

        @if (eventDetails.EventId == "b10k_2017")
        {

            <p>
                Disclaimer*:T-shirts are sponsored and is ordered 6 months before the event. While we will try our best to give you the right size t-shirt, please note that there could be shortage of specific sizes. Any request for replacement during shortage will not be entertained.
            </p>
        }
    </div>



