﻿@{
    ViewBag.Title = "IDBI Federal Life Insurance Mumbai Half Marathon";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";

}

<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item imgtop">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/mhmtop.jpg" alt="">

        </div>
        <div class="line" align="center" style="padding-left:40%;">
            <a href="/Register/FastLane?eventid=idbimhm_2017" class="tab-label s-12 m-6 l-4">Click to Register</a>
        </div>

        <!-- FIRST BLOCK -->
        <div id="first-block">
            <div class="line">
                <h1>IDBI Federal Life Insurance Mumbai Half Marathon 2017</h1>
                <p style="color:#FFAE00">
                    20th August, 2017 <br><strong>Event Location</strong> : Announced Soon
                </p>
            </div>
        </div>
        <!-- FEATURES -->

        <div id="first-block" style="text-align:left">

            <div class="line">
                <h1>About the Event</h1>
                <p><strong>IDBI Federal Life Insurance Mumbai Half Marathon 2017</strong></p>
                <p>Running in India has been growing by leaps and bounds over the years with Mumbai being a trendsetter in distance running. Mumbai boasts of the Country's largest numbers in the Half Marathon distance. Mumbai will now have its 2nd edition of the IDBI Federal Life Insurance Mumbai Half Marathon event which will take the runners through important landmarks of the city. We believe this event will go a long way in further promoting running in the city and encourage a fit and healthy lifestyle.</p>
                <br>
                <h1>About Organisers</h1>
                <p>NEB Sports, organizers of IDBI Federal Life Insurance Mumbai Half Marathon also have big banner events such as Shriram Properties Bengaluru Marathon, IDBI Federal Life Insurance New Delhi Marathon, IDBI Federal Life Insurance Kolkata Full Marathon, Bengaluru 10k Challenge, Delhi 10k Challenge, Pune 10K Challenge, NIDJAM, Junior Badminton Championship and more. The focus of our events is to provide a good experience to participants and encourage people to adapt a fit and healthy lifestyle.</p>
                <br>
                <h1>Event Details</h1>
                <table style="text-align:center">
                    <tbody>
                        <tr>
                            <td><strong>Category</strong></td>
                            <td><strong>21K Half Marathon</strong></td>
                            <td><strong>10K Run</strong></td>
                            <td><strong>5K Fun Run</strong></td>
                        </tr>
                        <tr>
                            <td>Participant's Age</td>
                            <td>18+ Years as on Event Date</td>
                            <td>15+ Years as on Event Date</td>
                            <td>Any Age Group	</td>
                        </tr>
                        <tr>
                            <td>Reporting Time</td>
                            <td>NA</td>
                            <td>NA</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td>NA</td>
                            <td>NA</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>End Time</td>
                            <td>NA</td>
                            <td>NA</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Cutoff time</td>
                            <td>NA</td>
                            <td>NA</td>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <td>Registration Fees</td>
                            <td>1350 INR</td>
                            <td>950 INR</td>
                            <td>650 INR</td>
                        </tr>

                    </tbody>
                </table><br>

                <br>

                <p>
                    <strong>NOTE :</strong>
                    <ul style="color:white">
                        <li>For more info, visit us at <a href="http://www.mumbaihalfmarathon.com" target="_blank"><span style="color:#FFBE00">http://www.mumbaihalfmarathon.com</span></a> </li>
                        <li>We may close the registrations early if all the slots are filled. You can follow us on FB and website to get more updates about the race.</li>
                        <li>There will be no on-spot registrations at the Expo.</li>
                        <li>For the 5K run, minors must be accompanied by an adult.</li>
                    </ul>

                </p>

            </div><br>

            <br>
            <br>
            <div class="line" align="center" style="padding-left:40%;">
                <a href="/Register/FastLane?eventid=idbimhm_2017" class="tab-label s-12 m-6 l-4">Click to Register</a>
            </div>
        </div>
    </div>
        <!-- CONTACT -->
        <!-- MAP -->

</section>
<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>