﻿@{
    ViewBag.Title = "Not Found";
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Oops!!</h3>
            <div class="well" style="height: 700px">
                <div class="register">
                    <h2>We could not find what you are searching for :(</h2>
                </div>
            </div>
        </div>
    </div>
</div>