﻿@{
    ViewBag.Title = "Kaikondrahalli Lake";
}
@section ExtendedMetaInformation {
    <meta name="description" content="Appeal to runners in the city to donate towards the upkeep of Kaikondrahalli Lake​ on Sarjapur Road">
    <meta name="keywords" content="Kaikondrahalli Lake,kkh_2015, Donation">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Kaikondrahalli Lake</h3>
            <div class="well">
                <div id="logo" style="text-align: center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/fairytale.jpg" alt="fairytale" class="img-rounded" />
                </div>
                <p>
                    This is an appeal to runners in the city to donate towards the upkeep of Kaikondrahalli Lake on Sarjapur Road. This is a community run lake managed by MAPSAS trust with some funding from United Way. Watch the amazing story of how the surrounding community came together to salvage a lake from a dumping ground and transformed it into the gem of the neighborhood.
                </p>
                <p>
                    Infrastructure works were funded by the BBMP with supervision from local residents and expert inputs from ecologists, bird watchers and water specialists. The monthly maintenance of the lake ~1.5L, so far has been taken care of by corporate funding. Unfortunately, there has been 50% cut in funding from this month and going forward, funds are likely to dwindle further. While multiple corporates have been approached for funding, some of them agree only to match the community contribution. Hence we are requesting communities surrounding the lake and the people using the lake for walking, jogging and recreation for contributing towards its upkeep.
                </p>
                <p>
                    It is a well known fact that BBMP spends sizeable portion of its funds towards maintaining roads, footpaths and gardens in the Central Business District in Bangalore, while the outskirts of the city lie in pathetic form of neglect. Not so far back in the past, we have run in locations like Serene Sarjapura, Killer Kanakpura and Easy EGL and found over the years, impossible to run there in the recent past due to real estate developments. Although some of us brave the Bangalore roads and dogs early mornings to get our daily shot of Runners’ high and some of us would drive all the way to cubbon park from the edge of the city to run in that haven, most runners find refuge in the local lung spaces, lakes and parks like Kaikondrahalli Lake. While Cubbon and Lalbagh are maintained with Tax payer’s money, Kaikondrahalli Lake is entirely a community managed lake. If community does not maintain the lake, perhaps the civic body will take it up and in about a year’s time, it will probably look like this
                </p>
                <div id="logo" style="text-align: center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/pic_article_amanikane2.jpg" alt="pic_article_amanikane2" class="img-rounded" />
                </div>
                <p>And may be couple of years down the line, if we are lucky, it will look like this</p>
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/dry-land-and-a-cow.jpg" alt="dry-land-and-a-cow" class="img-rounded" />
                </div>
                <p>Then, we can spend a few more crores of the tax payer’s money to rejuvenate it again. Sigh!</p>
                <hr>
                <p>
                    <strong>
                        Can we all pay it forward and contribute to this lake in need and going forward, other lakes and parks like these, we run at, so, we don’t run out of places to run? Please contribute what you can. Suggested amount is "Your yearly mileage in kilometers for the last year" :). The more you have run, the more you owe the beautiful tree lined avenues and the parks in the city.
                    </strong>
                </p>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "kkh_2015" } }) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #terms_hover a:hover {
        color: orangered;
    }
</style>
