﻿@{
    ViewBag.Title = "Kere Relay 2016";
}
@section ExtendedMetaInformation {
    <meta name="description" content="Kere Relay 2016">
    <meta name="keywords" content="Kere Relay 2016,kr_relay_2016,Amphitheater Kaikondrahalli Lake">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Kere Relay 2016</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/kere_banner_2016.png" alt="Kere Relay 2016" class="img-rounded" />
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { {"eventid", "kr_relay_2016" } }) role="button">Continue</a></span>
                </div>
                <br />
                <div id="aboutevent">
                    <h4>About Event</h4>
                    This is a fun event where each team, a team of 3, represents their apartment/Society/Family. You can have more than one teams representing each apartments/Societies/Families. The winner team/ apartment/Society/Family the crown of the lake runners, awarded by the dignitaries present. The prize is yet to be decided.</div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Categories</h4>
                    <ol>
                        <li><strong>Adults:</strong> Adults representing the same apartment/Society. No Gender bar, Age 18+ years.</li>
                        <li><strong>Kids:</strong> Kids representing the same apartment/Society. No Gender bar, Age - 9 to18 years.</li>
                        <li><strong>Family:</strong>Team representing the same Family. No Gender bar, Age>9 years.</li>
                    </ol>
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date:</h4><h5 style="color: orangered"> 9<sup>th</sup> Jan 2016</h5>
                    <h4>Event Time:</h4><h5 style="color: orangered"> 8AM</h5>
                    <h4>Race Fee:</h4><h5 style="color: orangered"> 300/- INR</h5>
                    <h4>Distance:</h4><h5 style="color: orangered"> Adults - 1 Loop(2km), Family and Kids - 600m</h5>
                    <h4>Event Location:</h4><h5 style="color:orangered"> Amphitheater @@ Kaikondrahalli Lake, Bengaluru</h5>
</div>
                <hr>
                <div id="prizes">
                    <h4>Prizes</h4>
                    <p style="font-size:medium;color:orangered">Yet to be announced</p>
                </div>
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { {"eventid", "kr_relay_2016" } }) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
