﻿@{
    ViewBag.Title = "Chamundi Hill Challenge";
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Chamundi Hill Challenge</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/mysore_banner.jpg" alt="Chamundi Hill Challenge" class="img-rounded" />
                </div>
                <br/>
                <br/>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll","Register",new RouteValueDictionary(){{"eventid","mysore_2015"}}) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About Event and the Organisers</h4>
                    <p>
                        Mysuru City still has that old world charm and a relaxed atmosphere! The Mysuru Palace, the Old Architectural Buildings, The Mysuru Zoo, Jagan Mohan Palace, Lalitha Mahal Palace, Manasa Gangotri and of course the Chamundi Hill.
                        <br/>
                        Mysoorunners is a group conceptualised by runners in Mysuru for the joy of inducting more runners into the community, guide them on the right way to go about it, promote fitness through running and share the joy of running!
                        This has taken us a step further to sharing our joy of running, the beautiful and majestic Chamundi Hill located in the middle of town and still maintaining it's own calm and serenity.
                        <br/>    
                        The creation of Chamundi Hill Challenge took it's roots from those thoughts and will become reality on 22 November 2015. We take great pleasure in sharing our joys of running on and around the winding roads, inclines, undulations, trails and the wonderful experience of ascending and descending age old steps leading to the Chamundeshwari Temple.
                        So come, enjoy and celebrate the beautiful Chamundi Hill with a choice of the Challenge 21, Tough10 or the Easy 5 runs.
                        <br/>
                        Challenge 21 and Tough 10 will be timed races.
                        Challenge 21 will comprise 2 loops of 6.5K Road, Ascend, Descend and Run 130 Steps and Cobbled Track and 4K Trail Run.
                        <br/>
                        Tough 10 will be the same route but just 1 loop.
                        <br/>
                        Easy 5 will be a 2.5K uphill and 2.5K downhill run and will not be timed.

                        All runners in all 3 categories will get Finisher Medals and T Shirts. At the end of the race breakfast will be served as well.
                    </p>
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date:</h4><h5 style="color:orangered"> 22nd November,2015</h5>
                    <h4>Event Time:</h4><h5 style="color:orangered">6am</h5>
                    <h4>Event Location:</h4><h5 style="color:orangered">Chamundi Hills, Mysore</h5>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Distance</th>
                            <th>Registration Fee</th>
                        </tr>
                        <tr>
                            <td>Challenge 21k</td>
                            <td>900/-</td>
                        </tr>
                        <tr>
                            <td>Tough 10k</td>
                            <td>800/-</td>
                        </tr>
                        <tr>
                            <td>Easy 5k</td>
                            <td>500/-</td>
                        </tr>
                    </table>
                    <br/>
                    <p>Note : Race day T shirts and medals and Post Race breakfast will be provided to all the registered runners</p>
                    <p>If you are trying to make payment through International Card(Foreign Card), then please contact support@click2race.in</p>
                </div>
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll","Register",new RouteValueDictionary(){{"eventid","mysore_2015"}}) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>