﻿@{
    ViewBag.Title = "NEB Test Run";
}
@section ExtendedMetaInformation {
    <meta name="description" content="NEB Test Run 2017">
    <meta name="keywords" content="NEB Test Run 2017">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">NEB Test Run</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/nebbengaluru10k.jpg" alt="bengaluru10k" class="img-rounded" />
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
 
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "nebrun_2017" } }) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About Event</h4>
                    <p>The first edition of Neb test Run  is taking place in Koramangala Indoor Stadium on July 9, 2017. Come and experience a race you won't forget in your lifetime.</p>
                    <p>
                        Run, Walk, Jog or crawl to the finish line and get the runner's high. Prizes for all the winners and runner's up across different categories.
                    </p>
                    <p>
                        <strong>Get exciting gifts just by participating!</strong>
                    </p>
                    <p>
                        <b>First 100 participants get Adidas T-shirt free</b>
                    </p>
                </div>
                <br />
                  <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date:</h4><h5 style="color:orangered"> 9th July, 2017</h5>
                    <h4>Event Location:</h4><h5 style="color:orangered">Koramangala Indoor Stadium, Bengaluru, Karnataka</h5>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Distance</th>
                            <th>Registration fee</th>
                            <th>Start Time</th>
                            <th>Cut Off Time</th>
                        </tr>
                        <tr>
                            <td>10 KM Run</td>
                            <td>10/-</td>
                            <td>6am</td>
                            <td>10am</td>
                        </tr>
                        <tr>
                            <td>5 KM Hope Run</td>
                            <td>5/-</td>
                            <td>6am</td>
                            <td>10am</td>
                        </tr>
                       
                    </table>
                    <p>Note:Registrations opens now.</p>
                </div>
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "nebrun_2017" } }) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #terms_hover a:hover {
        color: orangered;
    }
</style>
