﻿@model Marathonrunners.Models.PayInitViewModel
<div style="background-color: #246BB2; color: white; padding: 10px;">
    @*Order ID*@
    <div style="background-color: #F39C12;height: 40px; border-bottom-color: white; border-bottom-style: double; padding: 20px;">
        <table>
            <tr>
                <td>EmailId:</td>
                <td>@Model.EmailId</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>@Model.FullName</td>
            </tr>
        </table>
    </div>
    @*Event Details*@
    <div>
        <div style="min-height: 200px;">
            <div style="width: 80%;  background-color: #246BB2; float: left;">
                <h3>Event Details</h3>
                <p style="font-size:large">@Model.Title</p>
                <p style="font-size:large">@Model.EventType</p>
                <p style="font-size:large">@Model.Location</p>
                <p style="font-size:large">@Model.DateOfEvent</p>
            </div>
            <div style="width: 20%; background-color: yellowgreen; float: right; text-align: center;">
                <h3>Fee</h3>
                @if (Model.Donation != null) {
                    int originalAmount = @Model.Fee - (int)@Model.Donation;
                    <p>(@originalAmount + @Model.Donation)</p>
                }
                <p>@Model.Fee INR</p>
            </div>
        </div>
        <div style="text-align: center; padding-bottom: 10px; border-top-color: white; border-top-style: double; margin-top: 10px;">
            <h4 style="color: #F39C12">
                'Please Note: After successful payment, if you do not receive the Registration confirmation
                mail from us within 15 minutes then please contact support@click2race.in. Thank you!'
            </h4><br /><br />
            <h5>By clicking on 'Confirm' you agree to the Terms and Conditions.</h5>
            @using (Html.BeginForm("PaymentConfirm", "Register", FormMethod.Post)) {
                @Html.AntiForgeryToken()
                <input id="EventId" name="EventId" type="hidden" value="@Model.EventId" />
                <input id="EventTitle" name="EventTitle" type="hidden" value="@Model.Title" />
                <input id="EventType" name="EventType" type="hidden" value="@Model.EventType" />
                <input id="EventDate" name="EventDate" type="hidden" value="@Model.DateOfEvent" />
                <input id="Location" name="Location" type="hidden" value="@Model.Location" />
                <input id="EmailId" name="EmailId" type="hidden" value="@Model.EmailId" />
                <input id="Amount" name="Amount" type="hidden" value=@Model.Fee />
                <input id="Student" name="Student" type="hidden" value="@Model.Student.ToString()" />
                <input id="PromoCode" name="PromoCode" type="hidden" value="NONE"/>
                <input id="SubCategory" name="SubCategory" type="hidden" value="NONE" />
                int donationAmount = @Model.Donation ?? 0;
                string donationTo = @Model.DonationTo ?? "";
                string bankDetails = @Model.FedDetails ?? "NONE";
                <input id="Donation" name="Donation" type="hidden" value="@donationAmount" />
                <input id="DonationTo" name="DonationTo" type="hidden" value="@donationTo" />
                <input id="FedDetails" name="FedDetails" type="hidden" value="@bankDetails" />
                <button class="btn btn-success" type="submit" id="confirm">Confirm</button>
            }
        </div>
    </div>
</div>
