﻿@{
    ViewBag.Title = "Embassy Pedal for the Planet";
}
@section ExtendedMetaInformation {
    <meta name="description" content="Embassy Pedal for the Planet cycling event">
    <meta name="keywords" content="pedal, cycling, planet, fitness, adventure, outdoor, event, activities, Embassy Pedal, CXO">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Embassy Pedal for the Planet </h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/pedal_banner.jpg" alt="pedal_banner" class="img-rounded" />
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "pedal_cxo_2015" } }) role="button">Register</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About the Event</h4>
                    <p>The ‘Embassy Pedal for the Planet’, a unique cycling event targeted primarily at the corporate community. 
                     The event has been conceptualised by the Embassy Group, India’s leading property developer with one of the largest office parks portfolio in the country and a host of luxury residential developments in Bangalore.  
                     As responsible developers we would like to promote the cause of cycling to work for a greener planet.
                     All proceeds will be donated to the NGO Colours of Life who work with Embassy Group to support over 10 government schools covering 2,000 children in Bangalore city. </p>
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Details</h4>
                    <p>Event Date: 23rd August, 2015</p>
                    <p>Time: 6.30 am onwards</p>
                    <p>Venue: Embassy Manyata Business Park</p>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Pricing</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Category</th>
                            <th>Laps</th>
                            <th>Total Distance(In Kms)</th>
                            @*<th>Start Time(AM)</th>*@
                            <th>Total Race Time(min)</th>
                            @*<th>Early Bird Fee(INR)</th>*@
                            <th>Regular Fee(INR)</th>
                        </tr>
                        <tr>
                            <td>CXO Race</td>
                            <td>3</td>
                            <td>6</td>
                            @*<td>9:30</td>*@
                            <td>50min</td>
                            @*<td>500</td>*@
                            <td>700</td>

                        </tr>
                        <tr>
                            <td>Fun Ride-CXO</td>
                            <td>2</td>
                            <td>4</td>
                            @*<td>10:30</td>*@
                            <td>45min</td>
                            @*<td>200</td>*@
                            <td>200</td>
                        </tr>
                    </table>
                </div>
                <hr>
                @*<div id="Prizes">
                    <h4>Prizes</h4>
                    <p style="color:orangered">To be announced soon</p>
                </div>*@
                <h4>CXO Race participants will receive the following as part of their registration kit:</h4>
                <ol>
                    <li>Sling bag</li>
                    <li>Sipper</li>
                    <li>Dry fit T-shirt</li>
                    <li>Bib</li>
                </ol>
                <strong><span style="color: red">*Fun Ride – participants will receive a bib only</span></strong><br/><br/>
                <ol>
                    <li>It is advisable to bring your own cycles and helmets as there are limited cycles for hire</li>
                    <li>Wearing a helmet is mandatory for all participants</li>
                    <li>Breakfast will be available on purchase at the venue</li>
                    <li>Please collect your bibs and registration kit on 21st and 22nd August, as you will not be able to collect them on Race day.</li>
                    <li>Cancellations: No cancellations will be permitted once the payment has been made</li>
                </ol><br />
                <p>Registration kits can be collected at the Amphitheatre, Embassy Manyata Business Park from 10am to 6pm on the 21st & 22nd of August</p>

                <hr>
                <h4>Age Restrictions:</h4>
                <div id="rules">
                    <p>1. Minimum age is 18 years for all the categories apart from Fun ride</p>
                    <p>2. Fun Ride: 10 years and above.</p>
                </div>
                <hr>
                <h4>About Organisers</h4>
                <p>
                    Embassy Group is one of the leading property developers in India with a track record of over three decades in real estate development.
                    Embassy has an extensive land bank across the country and has developed over 37 million sq ft of prime commercial, residential and retail space in India as well as Malaysia and Serbia.
                    Embassy’s portfolio of real estate developments spans the commercial, residential, retail and hospitality segments of the real estate industry.
                    While the commercial real estate business includes the development of business parks for the IT/ITeS sector, SEZs and corporate office space, Embassy’s ongoing residential projects include luxury apartments, villas and integrated townships.
                </p>
                <p><strong>Embassy’s Sustainability ethos </strong></p>
                <p>
                    Embassy is in the business of enhancing lifespaces and enriching lives. In line with this mission is our commitment to sustainability and green living.
                    We are cognizant of the global need to impede the deleterious effects of climate change, and so all our ongoing and future projects are specifically designed to have sustainability features that have a minimal impact on the environment.
                </p>
                <p>Embassy’s future projects are designed for LEED certification and our ongoing and future residential projects are  designed to obtain an IGBC Green Homes gold or platinum in our efforts to create sustainable developments.</p>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "pedal_cxo_2015" } }) role="button">Register</a></span>
                </div>
                </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #terms_hover a:hover {
        color: orangered;
    }
</style>
