﻿@using System.Configuration
@model Marathonrunners.Models.TransactionViewModel
@{
    ViewBag.PostUrl = ConfigurationManager.AppSettings["PAYU_BASE_URL"];
}
<form id="postform" name="postform" action="@ViewBag.PostUrl" method="POST">
    <input type="hidden" name="key" value="@Model.Key" />
    <input type="hidden" name="txnid" value="@Model.TxnId" />
    <input type="hidden" name="amount" value="@Model.Amount" />
    <input type="hidden" name="productinfo" value="@Model.ProductInfo" />
    <input type="hidden" name="firstname" value="@Model.FirstName" />
    <input type="hidden" name="lastname" value="@Model.LastName" />
    <input type="hidden" name="address1" value="@Model.Address" />
    <input type="hidden" name="city" value="@Model.City" />
    <input type="hidden" name="state" value="@Model.State" />
    <input type="hidden" name="country" value="@Model.Country" />
    <input type="hidden" name="zipcode" value="@Model.Pincode" />
    <input type="hidden" name="email" value="@Model.EmailId" />
    <input type="hidden" name="phone" value="@Model.Phone" />
    <input type="hidden" name="udf1" value="@Model.EventId" />
    <input type="hidden" name="udf2" value="@Model.EventDate" />
    <input type="hidden" name="udf3" value="@ViewBag.Bib" />
    <input type="hidden" name="surl" value="@Model.Surl" />
    <input type="hidden" name="furl" value="@Model.Furl" />
    <input type="hidden" name="hash" value="@Model.Hash" />
    <input type="hidden" name="service_provider" value="@Model.ServiceProvider" />
</form>

<script language='javascript'>
    var v = document.postform;
    v.submit();
</script>