﻿@{
    ViewBag.Title = "Current Concepts in Knee Rehabilitation";
}
@section ExtendedMetaInformation {
    <meta name="description" content="Current Concepts in Knee Rehabilitation">
    <meta name="keywords" content="Injury Prevention for Runners, injury, doctor, running">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Current Concepts in Knee Rehabilitation</h3>
            <div class="well" style="min-height:700px">
                <div id="logo" style="text-align:center;">
                    @* <img src="https://clicktorace.blob.core.windows.net/portalimages/protons_banner.jpg" alt="pedal_banner" class="img-rounded" />*@
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    @*<span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "trot_workshop_2015" } }) role="button">Register</a></span>*@
                </div>
                <div id="aboutevent">
                    <br />
                    <br />
                    <table>
                        <tr>
                            <td>
                                Topic :
                            </td>
                            <td>
                                Current Concepts in Knee Rehabilitation.
                                First Bangalore Knee Rehab course
                                Knee Sports Injury Updates
                            </td>
                        </tr>
                        <tr>
                            <td>Date :</td>
                            <td>20/12/2015</td>
                        </tr>
                        <tr>
                            <td>Venue :</td>
                            <td>Hotel JP Fortune, Race Course Road, Bengalore
                            </td>
                        </tr>
                        <tr>
                            <td>Timing :</td>
                            <td>9:30am - 4:30pm</td>
                        </tr>
                        <tr>
                            <td>Registration fee:</td>
                            <td>850/-INR</td>
                        </tr>
                        <tr>
                            <td>Inclusions :</td>
                            <td>Sessions on ACL, PCL, Meniscus & Patellofemoral Injuries, Clinical Examination Session, Surgical Video technique demonstration, Evidence Based Rehabiliation symposium
                            </td>
                        </tr>
                        <tr><td></td><td></td></tr>
                        <tr><td></td><td></td></tr>
                        <tr><td></td><td></td></tr>
                        <tr><td></td><td></td></tr>
                        <tr>
                            <td>Guest Speakers:</td>
                            <td>
                                <ol>
                                    <li>Dr. Sachin Tapasvi, Arthroscopic & Sports Surgeon, Pune</li>
                                    <li>Dr. Chirag Thonse, Course Director, Arthroscopic & Sports Surgeon, Bangalore</li>
                                    <li>Dr. Gladson Johnson, PT</li>
                                    <li>Dr. Pramod Ravindra, PT</li>
                                    <li>Dr. Amith Srivastava, PT</li>
                                    <li>Nikita Suresh, Nutritionist</li>
                                </ol>
                            </td>
                        </tr>
                    </table>
                    <br />
                    <p>
                        <p>Topics To Be covered:-</p><br/>
                        <ol>
                            <li>Sessions on ACL, PCL, Meniscus & Patellofemoral Injuries</li>
                            <li>Clinical Examination Session</li>
                            <li>Surgical Video technique demonstration</li>
                            <li>Evidence Based Rehabiliation symposium</li>
                        </ol>                     
                        <br />
                    <p>Event Manager - Protons Sports</p>
                    <p>For Registrations contact - 9620733175, timtim@protonssports.com
                       <br />
                </div>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "pro_workshop_2015" } }) role="button">Register</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #terms_hover a:hover {
        color: orangered;
    }
</style>
