﻿@{
    ViewBag.Title = "PSN RUN FOR A CAUSE";
}
@section ExtendedMetaInformation {
    <meta name="description" content="PSN RUN FOR A CAUSE brought to you by Eid Milan in association with PSAOWA and psn running ninjas">
    <meta name="keywords" content="PSN Run for a cause,Eid Milan,PSAOWA,PSN Running Ninjas,psnrun_2015">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">PSN RUN FOR A CAUSE</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/psn_banner.jpg" alt="psnrun_banner" class="img-rounded" />
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll", "Register", new RouteValueDictionary() { { "eventid", "psnrun_2015" } }) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About Event</h4>
                    <p>The first edition of PSN Run for a cause is taking place in Prestige Shantiniketan on July 26, 2015. Come and experience a race you won't forget in your lifetime.</p>
                    <p>
                        Run, Walk, Jog or crawl to the finish line and get the runner's high. Prizes for all the winners and runner's up across different categories.
                    </p>
                    <p>
                        <strong>Get exciting gifts just by participating!</strong>
                    </p>
                    <p>
                        Each penny collected from the run will be used for charity and kindly note this run is only open for residents of PSN.
                    </p>
                </div>
                <br />
                <h4>About Organisers</h4>
                <p> This run is brought to you by <strong>Eid Milan</strong> in association with <strong>PSAOWA</strong> and <strong>"PSN Running Ninjas"</strong>, a group of enthusiastic runners from PSN who love to run.</p>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date:</h4><h5 style="color:orangered"> 26th July, 2015</h5>
                    <h4>Event Location:</h4><h5 style="color:orangered">Prestige Shantiniketan, Whitefield Road, Bengaluru, Karnataka 560048</h5>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Distance</th>
                            <th>Registration fee</th>
                            <th>Start Time</th>
                            <th>Cut Off Time</th>
                        </tr>
                        <tr>
                            <td>10 KM Charity Run</td>
                            <td>400/-</td>
                            <td>6am</td>
                            <td>9am</td>
                        </tr>
                        <tr>
                            <td>5 KM Charity Run</td>
                            <td>300/-</td>
                            <td>6am</td>
                            <td>9am</td>
                        </tr>
                        <tr>
                            <td>2.5 KM Charity Run\Walk</td>
                            <td>250/-</td>
                            <td>6am</td>
                            <td>9am</td>
                        </tr>
                        <tr>
                            <td>1 KM Fun for Children upto 10 Years</td>
                            <td>100/-</td>
                            <td>6am</td>
                            <td>9am</td>
                        </tr>
                    </table>
                    <p>Note:Registrations open's from 07.06.2015 to 25.06.2015 (or when sufficient numbers reach).</p>
                </div>
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll", "Register", new RouteValueDictionary() { { "eventid", "psnrun_2015" } }) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #terms_hover a:hover {
        color: orangered;
    }
</style>
