﻿@model Marathonrunners.Models.TransactionSuccessfullModel
@{
    
    Layout = "../Shared/_Layout.cshtml";
    ViewBag.Title = "Success";
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h2 class="center_header"> </h2>
            <div class="well" style="height: 700px">
                <div id="suc" style="font-size:larger; text-align:center">
                   <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />
                    Your transaction has been successful
                    Your Transaction ID is : <strong>@ViewBag.TransactionId</strong>
                    
                    <br />
                    <br />
                    <h5>You will receive more details from us in the coming days. For any queries, you may write to us at support@click2race.in or team@nebsports.com.</h5>
                    <br />
                    <br />
            
                    <span id="return_hover">@Html.ActionLink("Return To HomePage", "Index", "Home")</span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    a:hover {
        color: orangered;
    }
</style>