﻿@{
    ViewBag.Title = "Rupee For Humanty Run";
}
@section ExtendedMetaInformation {
    <meta name="description" content="Rupee for Humanity run">
    <meta name="keywords" content="Running, EGL, Fitness, Women, Run, Fit, Cycle, Exercise, charity">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Rupee For Humanity</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://click2race.blob.core.windows.net:443/portalimages/rfhbanner2016.jpg" alt="rfh_banner" class="img-rounded" />
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "rfh_2016" } }) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About Event</h4>
                    <p>Rupee For Humanity (RFH) is an online NGO registered with the Government, started by a bunch of engineers having passion to work for the country and its development. It is a non-profit organization aimed at eradicating illiteracy from the roots and making India rise up high in the ladder of developed nations.</p>
                    <p>RFH provides :-</p>
                    <ul>
                        <li>
                            Right to education for every child
                        </li><li>
                                 Food, medical care and healthy atmosphere for the poor and needy.      
                        </li>
                    </ul>
                    <p>
                        For more information about our NGO, please visit the below link
                        https://www.facebook.com/RupeeForHumanity .
                        RFH has initiated a program - "Shikshakaar - Shikshan ka adhikaar", a step to eradicate illiteracy in India. We believe education is the backbone of any developing country. Driven by this belief, we provide free education for meritorious, poor, needy and orphaned children from NGOs, Government schools and various other sources.

                        As a part of this initiative, we conducted ‘RFH 10K Run - Run for Literacy’ last year at Cubbon park, Bangalore and from the contributions of kind hearts like you , we were able to sponsor education for 52 underprivileged kids from various places including stationary, books and school uniforms
                        We are proud to host the event again this year "RFH 10K Run - Run for Literacy"

                        For any more information about organizers or for sponsorships, you can reach out Raghavendra TN +91-9164358027 and Ashish SR +91-9743088879
                    </p>
                </div>
                <br />
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date:</h4><h5 style="color:orangered"> 24th April, 2016</h5>
                    <h4>Event Location:</h4><h5 style="color:orangered">Cubbon Park, Bangalore</h5>
                    <h4>Event Timing:</h4><h5 style="color:orangered">06:00 am</h5>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Distance</th>
                            <th>Racer Kit</th>
                            <th>Registration fee</th>
                            <th>T-Shirt Cost</th>
                            <th>Cost of Timing Chip and Timing Certificate</th>
                        </tr>
                        <tr>
                            <td>3km</td>
                            <td>Bib, Finisher Certificate, Medal</td>
                            <td>300/-</td>
                            <td>200/-</td>
                            <td>150/-</td>
                        </tr>
                        <tr>
                            <td>5km</td>
                            <td>Bib, Finisher Certificate, Medal</td>
                            <td>450/-</td>
                            <td>200/-</td>
                            <td>150/-</td>
                        </tr>
                        <tr>
                            <td>10km</td>
                            <td>Bib, Finisher Certificate, Medal</td>
                            <td>750/-</td>
                            <td>T-shirt is included</td>
                            <td>150/-</td>
                        </tr>
                    </table>
                    <br />
                    <hr>
                    <h4><a id="#terms_hover" href="https://click2race.blob.core.windows.net:443/docs/Terms&Condn_Rules&Regulations_RFH10KRun2016.docx" target="_blank">Terms & Conditions</a></h4>
                    <br/>
                    <div style="text-align: center;font-size: large">
                        <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "rfh_2016" } }) role="button">Continue</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>
        #enroll_link a:hover {
            color: orangered;
        }
    </style>
    <style>
        #terms_hover a:hover {
            color: orangered;
        }
    </style>
</div>
