﻿@{
    ViewBag.Title = "The Run 4 Life";
}
@section ExtendedMetaInformation {
    <meta name="description" content="The Run 4 Life">
    <meta name="keywords" content="running, cycling, planet, fitness, adventure, outdoor, event, activities, Rotary">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">The Run 4 Life</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/run_banner.jpg" alt="run_banner" class="img-rounded" />
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "run_2015" } }) role="button">Register</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About the Event</h4>
                    <p>
                        Inspired to Run! Come, join us and promote our campaign "Protect And Shelter Stray Dogs For A Safer Kochi” on 8<sup>th</sup> Nov 2015 at Durbar Hall Ground, where over 10,000 Kochites will be geared up to participate in the 1<sup>st</sup> edition of "The Run 4 Life". This is one of the biggest campaign in Kerala conducted every year by Rotary Cochin Central with a central theme, and for 2015, the slogan focuses upon creating awareness among citizens of the city about “Protect And Shelter Stray Dogs For A Safer Kochi”.
</p>
                       <br/>
                       <p>The Rotary Club of Cochin Central is organising this event for the first time to promote the concept of safe and sound roads without stray dogs through the campaign titled “The Run 4 Life" - "Protect And Shelter Stray Dogs For A Safer Kochi”. This event will be supported by young rotarians, businessmen and individuals from various avenues supporting our cause. The priority of this campaign is to uphold the safety of human life.</p>
                   
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Details</h4>
                    <p>Event Date: 8<sup>th</sup> November, 2015</p>
                    <p>Venue: Durbar Hall Ground, Ernakulam</p>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Run Category</th>
                            <th>Start Time</th>
                            <th>Adult Registration Fee</th>
                            <th>Children Registration Fee(Upto 14 years)</th>
                        </tr>
                        <tr>
                            <td>10km Run</td>
                            <td>5:30am</td>
                            <td>INR 300</td>
                            <td>INR 100</td>                            
                        </tr>
                        <tr>
                            <td>5km Fun Run/Walk</td>
                            <td>5:30am</td>
                            <td>INR 300</td>
                            <td>INR 100</td>
                        </tr>
                    </table>
                </div><br/>
                <hr>
                    <div id="Prizes">
                        <h4>Prizes</h4>
                        <p style="color:orangered">Attractive Prizes for the Winners</p>
                        <p>1. T Shirts for First 2000 registrations</p>
                        <p>2. E-certificates for all participants</p>
                        <p>3. Medal for all finishers within cut-off time</p>
                    </div>
                <hr>
                <h4>Route</h4>
                <img src="https://clicktorace.blob.core.windows.net/portalimages/Route Map_Run4Life.jpg" alt="Route map"/>
                <hr/>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "run_2015" } }) role="button">Register</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #terms_hover a:hover {
        color: orangered;
    }
</style>
