﻿@{
    ViewBag.Title = "WTC Skyscraper Dash-Bengaluru '15";
}
@section ExtendedMetaInformation {
    <meta name="description" content="WTC Skyscraper Dash-Bengaluru '15">
    <meta name="keywords" content="Skyscraper Dash,Skyscraper Dash Bengaluru,World Trade Centre,WTC Skyscraper Dash,sky_2015,TALLEST commercial building in Bengaluru">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">WTC Skyscraper Dash-Bengaluru '15</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/skyscraper.jpg" alt="Skyscraper Dash" class="img-rounded" />
                </div>
                <br/>
                <br/>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll","Register",new RouteValueDictionary(){{"eventid","sky_2015"}}) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About Event and the Organisers</h4>
                    <p>Skyscraper Dash Bengaluru is BACK!</p>
                    <br/>
                    <p>The 2015 Edition will be held again at the World Trade Center at Brigade Gateway, the TALLEST commercial building in Bengaluru.  If you participated in last year's edition you know you are up for a lung busting, quad burning, vertical running treat! Come and better your time from last year. </p><br/>
                    <p>If you are a first timer, come participate in a totally unique sport; stair running! Stair running is an established sport world wide that we have brought to India. Stair running builds cardiovascular endurance and muscular strength and will help in your regular running as well.</p>
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date:</h4><h5 style="color:orangered">  9th August 2015, 7am – 11am</h5>
                    <h4>Event Location:</h4><h5 style="color:orangered">World Trade Centre, Brigade Gateway Campus, Malleswaram , Bengaluru - 560055</h5>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <p>Skyscraper Dash is held in the beautiful Brigade Gateway complex which also houses the World Trade Center and Orion Mall. Run start is from the plaza behind Orion Mall. Participation categories are the same as last year:</p>
                    <p>Dash Only: </p><p>No fuss. No slow miles. 31 floors, 850 stairs, a single sprint 150 metres to the base of the World Trade Center and then right to the top!</p>
                    <p>2km Run + Dash: </p><p>The most unique 2k you have ever run. The last 130 meters is a dead straight vertical ascent of the World Trade Center, up 850 stairs, with the finish line at the rooftop!</p>
                    <p>Everest Challenge: </p><p>A team event in which the team completes 8848 meters of stair climbing up (and down) which is equivalent of the height of Mount Everest! This year, the challenge would be tougher than last year. More details forthcoming. 
                    Write to us at dash@sport365india.com if you're interested in this category.</p>
                    <br/>
                    <p>All categories end at the Ultra High Lounge on the World Trade Center rooftop. Soak in some of the best views of the city from the top and join in our trademark rocking afterparty.</p>
                    <br/>
                    <p>All participants will be timed, receive a finishers medal. There will be prizes for the top Male and Female finishers in each category.</p>
                    <br/>
                    <p>Please note that to avoid crowding and for safety reasons, participants will be assigned to waves, which will start at defined intervals. You can choose your wave at the time of bib-collection.</p>
                    <br/>
                    <p>We are a professional race company and have created over 200 world class events in the past 3 years ranging from the XWarrior obstacle race, Skyscraper Dash, duathlons, triathlons and many more. </p>
                    <br/>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Event Name</th>
                            <th>Registration Fee till 9th June</th>
                            <th>Registration Fee from 9th June-2nd Aug</th>
                        </tr>
                        <tr>
                            <td>The Dash</td>
                            <td>456/-</td>
                            <td>684/-</td>
                        </tr>
                        <tr>
                            <td>The 2km+Dash</td>
                            <td>684/-</td>
                            <td>912/-</td>
                        </tr>
                    </table>
                    <br/>
                    <p>Note : Everest Challenge - Participants can contact us at dash@sport365india.com for details
                </div>
                <hr>
                <div id="starttimeroute">
                    <h4>Start Time </h4>
                    <p>7am</p>
                </div>
                <hr>
                <div id="prizes">
                    <h4>Prizes</h4>
                    <p>Yet to be announced</p>
                </div>
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll","Register",new RouteValueDictionary(){{"eventid","sky_2015"}}) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>