﻿@{
    ViewBag.Title = "Shriram properties Bangalore Marathon";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";

}

<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item imgtop">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/spbmtop.jpg" alt="">

        </div>
        <div class="line" align="center" style="padding-left:40%;">
            <a href="/Register/FastLane?eventid=SPBM_Luxor2017" class="tab-label s-12 m-6 l-4">Click to Register</a>
        </div>

        <!-- FIRST BLOCK -->
        <div id="first-block">
            <div class="line">
                <h1>Shriram Properties Bengaluru Marathon - Run in Shriram Luxor</h1>
                <p style="color:#FFAE00">
                    28 May 2017 <br><strong>Venue</strong> : Hennur Main Road, Chikkagubbi, Beside United International School, Bengaluru
                </p>
            </div>
        </div>
        <!-- FEATURES -->

        <div id="first-block" style="text-align:left">

            <div class="line">
                <h1>About Run at Shriram Luxor</h1>
                <p>This run is to help runners train for SPBM 2017. The scenic route around Shriram Luxor property provides the change required for a routine sunday morning run.</p> <br>
                <h1>About the Event</h1>
                <p>Running in India has been growing by leaps and bounds over the years and Bengaluru is one of the cities leading this change. Bengaluru boasts of having the largest runners community in India and many Bengaluru runners across different age categories have been winning at the major marathon events in the country. Bengaluru has been referred to as the fitness capital of India.</p><br>
                <p>Bengaluru is all set for the 4th edition of its annual city marathon, which will take runners through important landmarks of the city. We believe this event will go a long way in promoting running in the city and encourage a fit and healthy lifestyle.</p>
                <br>
                <h1>About Organisers</h1>
                <p>NEB Sports, organizes big banner events such as Shriram Properties Bengaluru Marathon, IDBI Federal Life Insurance New Delhi Marathon, IDBI Federal Life Insurance Mumbai Half Marathon, IDBI Federal Life Insurance Kolkata Full Marathon, Bengaluru 10k Challenge, Delhi 10K Challenge, Pune 10K Challenge, Hyderabad Ultra Marathon, NIDJAM, and more. The focus of our events is to provide a good experience to participants and encourage people to adapt a fit and healthy lifestyle.</p>
                <br>
                <h1>Event Details</h1>
                <table style="text-align:center">
                    <tbody>

                        <tr>
                            <td><strong>Event Date</strong></td>
                            <td><strong>28 May 2017</strong></td>
                        </tr>
                        <tr>
                            <td>Venue</td>
                            <td>Hennur Main Road, Chikkagubbi, Beside United International School, Bengaluru</td>
                        </tr>
                        <tr>
                            <td>Distance</td>
                            <td>5K - 10K</td>
                        </tr>
                        <tr>
                            <td>Reporting Time</td>
                            <td>6:00am to 6:30am (T-Shirt Distribution will be done at this time)</td>
                        </tr>
                        <tr>
                            <td>Warm Up</td>
                            <td>6:30am to 6:40am	</td>
                        </tr>
                        <tr>
                            <td>Start Time</td>
                            <td>6:45am</td>
                        </tr>
                        <tr>
                            <td>Cool Down Session</td>
                            <td>7:45am</td>
                        </tr>

                        <tr>
                            <td>Breakfast</td>
                            <td>8:00am</td>
                        </tr>

                    </tbody>
                </table><br>

                <br>

                <p>
                    <strong>NOTE :</strong>
                    <ul style="color:white">
                        <li>Free T-shirts will be given to 500 registered runners on a first come first serve basis.</li>
                    </ul>

                </p>

            </div><br>

            <br>
            <br>
            <div class="line" align="center" style="padding-left:40%;">
                <a href="/Register/FastLane?eventid=SPBM_Luxor2017" class="tab-label s-12 m-6 l-4">Click to Register</a>
            </div>
        </div>

        <!-- CONTACT -->
        <!-- MAP -->

</section>

<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>
