﻿ @{
     ViewBag.Title = "Shriram Properties Bengaluru Marathon - Adidas Training Run 1";
}
@section ExtendedMetaInformation {
    <meta name="description" content="spbm stadium Run 2017">
    <meta name="keywords" content="spbm,relay">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Shriram Properties Bengaluru Marathon - Adidas Training Run 1</h3>
            <div class="well">
        
                <br />
               
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "SPBM_Promo_Run" } }) role="button">Register</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>
                        ​​About the Run </h4>
                        <p> This run is to help runners train for the main race day of SPBM 2017, which is less than 150 days away. This run is going to bring runners across the city to one of the oldest locality of Bengaluru - Jayanagar.</p>
                        <h4>About the Marathon </h4>
                        <p>
                            Running in India has been growing by leaps and bounds over the years and Bengaluru is one of the cities leading this change. Bengaluru boasts of having the largest runners community in India and many Bengaluru runners across different age categories have been winning at the major marathon events in the country. Bengaluru has been referred to as the fitness capital of India.
                            </p>
                    <p>Bengaluru is all set for the 4th edition of its annual city marathon, which will take runners through important landmarks of the city. We believe this event will go a long way in promoting running in the city and encourage a fit and healthy lifestyle.</p>
                            <h4>About the Organizers</h4>
                        <p>NEB Sports, organizes big banner events such as Shriram Properties Bengaluru Marathon, IDBI Federal Life Insurance New Delhi Marathon, IDBI Federal Life Insurance Mumbai Half Marathon, IDBI Federal Life Insurance Kolkata Full Marathon, Bengaluru 10k Challenge, Delhi 10K Challenge, Pune 10K Challenge, Hyderabad Ultra Marathon, NIDJAM, and more. The focus of our events is to provide a good experience to participants and encourage people to adapt a fit and healthy lifestyle.</p>
</div>
                <hr>
                <div id="starttimeandroutedetails">
                    
                    <h4>Event Date:</h4> <h5 style="color:orangered"> 3 June 2017</h5>
                    <h4>Venue:</h4><h5 style="color:orangered"> Shalini Ground, Jayanagar 5th Block</h5>
                    @*<h4>Starting Point:</h4><h5 style="color:orangered"> Cubbon Park</h5>*@
                    <h4>Distance:</h4><h5 style="color:orangered"> 5K & 10K</h5>
                    <h4>Reporting Time:</h4><h5 style="color:orangered"> 6:00am to 6:30am (T-Shirt Distribution will be done at this time)</h5>
                    <h4>Warm Up:</h4><h5 style="color:orangered"> 6:30am - 6:40am</h5>
                    <h4>Start Time:</h4><h5 style="color:orangered"> 6:45am</h5>
                    <h4>Cool Down Session:</h4><h5 style="color:orangered"> 7:45am</h5>
                    <h4>Breakfast:</h4><h5 style="color:orangered"> 8:00am</h5>
                </div>

               <hr />
                Free T-shirts will be given to 500 registered runners on a first come first serve basis.
                <hr />
                <div style="text-align: center;font-size: large">

                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "SPBM_Promo_Run" } }) role="button">Register</a></span>
                </div>
                <br />
                
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #terms_hover a:hover {
        color: orangered;
    }
</style>
