﻿@{
    ViewBag.Title = "Spice Coast";
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">IDBI Federal Life Insurance Spice Coast Marathon 2015</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/scm_optimized.jpg" alt="Spice Coast Marathon" class="img-rounded" />
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll","Register",new RouteValueDictionary(){{"eventid","spice_fed_2015"}}) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About Event and the Organisers</h4>
                    <p>
                        The second edition of IDBI Federal Life Insurance Spice Coast Marathon 2015 is taking place in Kochi on November 15, 2015. Come and experience a race you won't forget in God's own country!<strong> The full marathon course is USATF certified and hence is a Boston qualifier.</strong>
                        <strong>
                            Come and Run India's best destination marathon.<br />
                            The race is brought to you by “Soles of Cochin”, a group of enthusiastic runners and IDBI Federal Life Insurance who love to give the participants the most unforgettable race experience. Promoted by the District Tourism Promotion Council, Ernakulam, it starts from Willingdon Island and takes the runners along Mattancherry and Fort Kochi - with beautiful scenery and heritage along the course.
                        </strong>
                    </p>
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date:</h4><h5 style="color:orangered"> 15th November,2015</h5>
                    <h4>Event Location:</h4><h5 style="color:orangered">Cochin</h5>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Distance</th>
                            <th>Registration Fee</th>
                        </tr>
                        <tr>
                            <td>Full Marathon(42.195km)</td>
                            <td>1100/-</td>
                        </tr>
                        <tr>
                            <td>Half Marathon(21.1km)</td>
                            <td>900/-</td>
                        </tr>
                        <tr>
                            <td>Family Fun Run(5km)</td>
                            <td>500/-</td>
                        </tr>
                    </table>
                    <br />
                    <p>Note : Race day T shirts and Post Race breakfast will be provided to all the registered runners</p>
                </div>
                <hr>
                <div id="starttimeroute">
                    <h4>Start Time and Route</h4>
                    <p>Please check the race website for details</p>
                </div>
                <hr>
                @*<div id="prizes">
                    <h4>Prizes</h4>
                    <p>Yet to be announced</p>
                </div>*@
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll","Register",new RouteValueDictionary(){{"eventid","spice_fed_2015"}}) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>