﻿@{
    ViewBag.Title = "STRIDES FOR AUTISM 2016";
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">STRIDES FOR AUTISM 2016</h3>
            <div class="well">
                <div id="logo" style="text-align: center;">
                    @*<img src="https://clicktorace.blob.core.windows.net/portalimages/trot_slider.jpg" alt="cwdrpic" class="img-rounded" />*@
                </div>
                <br />
                <br />
                <div style="text-align: center; font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll", "Register", new RouteValueDictionary() {{"eventid", "sfa_2016"}}) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About Event</h4>
                    <p>Autism is a very complex and challenging neuro-developmental disorder which has no identified cause or cure!</p>
                    <p>ALFAA , an NGO registered under Charitable Trust 2009, The Govt of Karnataka, Department of Women and Child of the Persons with Disabilities Act 1995, is trying to give a respite and find a solution for the old parents of Autism Spectrum Disorder individuals who are always grappling with the worry of "WHAT AFTER US"! It is very hard for them to accept that it is a LIFELONG CONDITION!</p>
                    <p>The main objective is to set up a rehabilitation-cum-respite-cum- residential campus for adults with autism.</p>
                    <p>The residential campus is situated on Hosur road around 55 kms from the city of Bengaluru, and was inaugurated on the 4th of June 2016 with basic infrastructure.</p>
                    <p>The residential home is called- ALFAA ANUGRAHA HOMES</p>
                    <p>The teenagers and adults with Autism have severe communication and comprehension deficiency and need a lot of meaningful and physical engagements through the day.</p>
                    <p>We now need to set up a SENSORY GYMNASIUM, HYDRO THERAPEUTIC SWIMMING POOL and AN ADULT USE PARK and we seek help from generous organisations and individuals to support us in our humble endeavour!</p>
                    <p>Register and join us in the "STRIDES FOR AUTISM" and run for a cause!</p>
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date and Time :</h4><h5 style="color: orangered"> 07th August, 2016, 7:00 am</h5>
                    <h4>Event Location:</h4><h5 style="color: orangered">Assembly- Kanteerva Stadium, Bangalore & Route - Cubbon Park</h5>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Distance</th>
                            <th>Registration fee</th>
                        </tr>
                        <tr>
                            <td>1km (Autism power stride)</td>
                            <td>300/-(includes breakfast)</td>
                        </tr>
                        <tr>
                            <td>5km (For a cause)</td>
                            <td>500/- ( includes breakfast and a t shirt ) </td>
                        </tr>
                    </table>
                    <br/>
                </div>
                <hr>
                <div style="text-align: center; font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll", "Register", new RouteValueDictionary() {{"eventid", "sfa_2016"}}) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>