﻿@{
    ViewBag.Title = "STRIDES FOR AUTISM 2017";
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">STRIDES FOR AUTISM 2017</h3>
            <div class="well">
                
                <br />
                <br />
                <div style="text-align: center; font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "sfa_2017" } }) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <h4>About Event</h4>
                    <p>2nd of April has been declared by the UN as the World Autism Awareness Day. AUTISM has been recognized in INDIA for the very first time as a disorder by the new Persons with Disability Act 2016. WE call upon everyone to come together on this day for a challenging new generation cause like AUTISM.</p>
                    <p>After the stupendous success of the first edition of “STRIDES FOR AUTISM”, we are back with the 2nd Edition, organized by ALFAA and their event partners, Get Going. Come, Register and run for a cause!</p>
                </div>
                <div id="aboutorganiser">
                    <h4>About Organiser</h4>
                    <p>ALFAA, an NGO registered in 2009 under the Charitable Trust Act, Govt of Karnataka. It is also registered under the Persons with Disabilities Act, 1995 under section 51 & 52, with Department of Women and Child, Govt. of Karnataka. It works for the cause of Autism with special focus on teenage and adults. </p>
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date and Time :</h4><h5 style="color: orangered"> 2nd April, 2017, 6:00 am</h5>
                    <h4>Event Location:</h4><h5 style="color: orangered">Cubbon park Assembly at Bandstand
</h5>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Distance</th>
                            <th>Registration fee</th>
                        </tr>
                        <tr>
                            <td>10km </td>
                            <td>800/- </td>
                        </tr>
                        <tr>
                            <td>5km  </td>
                            <td>600/-  </td>
                        </tr>
                    </table>
                   
                    <b>  NOTE: Each registration cost includes t-shirt, breakfast, medal and a certificate.</b><br />
                    <b>Last day to register for this event is 30th March 2017</b><br />
                </div>
                <hr>
                <div style="text-align: center; font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "sfa_2017" } }) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>