﻿@using System.Diagnostics

@using marathonrunners.Models
@model Marathonrunners.Models.TransactionSuccessfullModel
@{

    EventDetails eventDetail = EventData.GetEventDetails(Model.EventId);

    Layout = null;

}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <!-- NAME: 1 COLUMN -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Order Confirmation</title>
    <style type="text/css">
        body,
        #bodyTable,
        #bodyCell {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
        }

        table {
            border-collapse: collapse;
        }

        img,
        a img {
            border: 0;
            outline: none;
            text-decoration: none;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 0;
            padding: 0;
        }

        p {
            margin: 1em 0;
            padding: 0;
        }

        a {
            word-wrap: break-word;
        }

        .ReadMsgBody {
            width: 100%;
        }

        .ExternalClass {
            width: 100%;
        }

            .ExternalClass,
            .ExternalClass p,
            .ExternalClass span,
            .ExternalClass font,
            .ExternalClass td,
            .ExternalClass div {
                line-height: 100%;
            }

        table,
        td {
            mso-table-lspace: 0pt;
            mso-table-rspace: 0pt;
        }

        #outlook a {
            padding: 0;
        }

        img {
            -ms-interpolation-mode: bicubic;
        }

        body,
        table,
        td,
        p,
        a,
        li,
        blockquote {
            -ms-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

        #bodyCell {
            padding: 20px;
        }

        .mcnImage {
            vertical-align: bottom;
        }

        .mcnTextContent img {
            height: auto !important;
        }

        body,
        #bodyTable {
            background-color: #F2F2F2;
        }

        #bodyCell {
            border-top: 0;
        }

        #templateContainer {
            border: 0;
        }

        h1 {
            color: #606060 !important;
            display: block;
            font-family: Helvetica;
            font-size: 40px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: -1px;
            margin: 0;
            text-align: left;
        }

        h2 {
            color: #404040 !important;
            display: block;
            font-family: Helvetica;
            font-size: 26px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: -.75px;
            margin: 0;
            text-align: left;
        }

        h3 {
            color: #606060 !important;
            display: block;
            font-family: Helvetica;
            font-size: 18px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: -.5px;
            margin: 0;
            text-align: left;
        }

        h4 {
            color: #808080 !important;
            display: block;
            font-family: Helvetica;
            font-size: 16px;
            font-style: normal;
            font-weight: bold;
            line-height: 125%;
            letter-spacing: normal;
            margin: 0;
            text-align: left;
        }

        #templatePreheader {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .preheaderContainer .mcnTextContent,
        .preheaderContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 11px;
            line-height: 125%;
            text-align: left;
        }

            .preheaderContainer .mcnTextContent a {
                color: #606060;
                font-weight: normal;
                text-decoration: underline;
            }

        #templateHeader {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .headerContainer .mcnTextContent,
        .headerContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 15px;
            line-height: 150%;
            text-align: left;
        }

            .headerContainer .mcnTextContent a {
                color: #6DC6DD;
                font-weight: normal;
                text-decoration: underline;
            }

        #templateBody {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .bodyContainer .mcnTextContent,
        .bodyContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 15px;
            line-height: 150%;
            text-align: left;
        }

            .bodyContainer .mcnTextContent a {
                color: #6DC6DD;
                font-weight: normal;
                text-decoration: underline;
            }

        #templateFooter {
            background-color: #FFFFFF;
            border-top: 0;
            border-bottom: 0;
        }

        .footerContainer .mcnTextContent,
        .footerContainer .mcnTextContent p {
            color: #606060;
            font-family: Helvetica;
            font-size: 11px;
            line-height: 125%;
            text-align: left;
        }

            .footerContainer .mcnTextContent a {
                color: #606060;
                font-weight: normal;
                text-decoration: underline;
            }

        @@media only screen and (max-width: 480px) {
            body, table, td, p, a, li, blockquote {
                -webkit-text-size-adjust: none !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            body {
                width: 100% !important;
                min-width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[id=bodyCell] {
                padding: 10px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnTextContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnBoxedTextContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcpreview-image-uploader] {
                width: 100% !important;
                display: none !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            img[class=mcnImage] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnImageGroupContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageGroupContent] {
                padding: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageGroupBlockInner] {
                padding-bottom: 0 !important;
                padding-top: 0 !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            tbody[class=mcnImageGroupBlockOuter] {
                padding-bottom: 9px !important;
                padding-top: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnCaptionTopContent], table[class=mcnCaptionBottomContent] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnCaptionLeftTextContentContainer], table[class=mcnCaptionRightTextContentContainer], table[class=mcnCaptionLeftImageContentContainer], table[class=mcnCaptionRightImageContentContainer], table[class=mcnImageCardLeftTextContentContainer], table[class=mcnImageCardRightTextContentContainer] {
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardLeftImageContent], td[class=mcnImageCardRightImageContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
                padding-bottom: 0 !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardBottomImageContent] {
                padding-bottom: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardTopImageContent] {
                padding-top: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardLeftImageContent], td[class=mcnImageCardRightImageContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
                padding-bottom: 0 !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardBottomImageContent] {
                padding-bottom: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnImageCardTopImageContent] {
                padding-top: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnCaptionLeftContentOuter] td[class=mcnTextContent], table[class=mcnCaptionRightContentOuter] td[class=mcnTextContent] {
                padding-top: 9px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnCaptionBlockInner] table[class=mcnCaptionTopContent]:last-child td[class=mcnTextContent] {
                padding-top: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnBoxedTextContentColumn] {
                padding-left: 18px !important;
                padding-right: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=mcnTextContent] {
                padding-right: 18px !important;
                padding-left: 18px !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[id=templateContainer], table[id=templatePreheader], table[id=templateHeader], table[id=templateBody], table[id=templateFooter] {
                max-width: 600px !important;
                width: 100% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            h1 {
                font-size: 24px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            h2 {
                font-size: 20px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            h3 {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            h4 {
                font-size: 16px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[class=mcnBoxedTextContentContainer] td[class=mcnTextContent], td[class=mcnBoxedTextContentContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            table[id=templatePreheader] {
                display: block !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=preheaderContainer] td[class=mcnTextContent], td[class=preheaderContainer] td[class=mcnTextContent] p {
                font-size: 14px !important;
                line-height: 115% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=headerContainer] td[class=mcnTextContent], td[class=headerContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=bodyContainer] td[class=mcnTextContent], td[class=bodyContainer] td[class=mcnTextContent] p {
                font-size: 18px !important;
                line-height: 125% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=footerContainer] td[class=mcnTextContent], td[class=footerContainer] td[class=mcnTextContent] p {
                font-size: 14px !important;
                line-height: 115% !important;
            }
        }

        @@media only screen and (max-width: 480px) {
            td[class=footerContainer] a[class=utilityLink] {
                display: block !important;
            }
        }
    </style>
</head>

<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <center>
        <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top" id="bodyCell">
                    <!-- BEGIN TEMPLATE // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateContainer">
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN PREHEADER // -->
                                <!-- // END PREHEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN HEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateHeader">
                                    <tr>
                                        <td valign="top" class="headerContainer">
                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                                                <tbody class="mcnImageBlockOuter">
                                                    <tr>
                                                        <td valign="top" style="padding:0px" class="mcnImageBlockInner">
                                                            <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                                                <tbody>
                                                                    <tr>
                                                                        <td class="mcnImageContent" valign="top" style="padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0;">
                                                                            <a href="https://click2race.in" title="" class="" target="_blank">
                                                                                <img align="left" alt="" src="https://gallery.mailchimp.com/fa05630a8113957212a3e5eb8/images/afc054e0-fc1f-4c9f-a51d-a8548cdf1cb2.png" width="600" style="max-width:1016px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage" />
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <!-- // END HEADER -->

                </td>
            </tr>
            <tr>
                <td align="center" valign="top">
                    <!-- BEGIN BODY // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateBody">
                        <tr>
                            <td valign="top" class="bodyContainer">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                    <tbody class="mcnTextBlockOuter">
                                        <tr>
                                            <td valign="top" class="preheaderContainer" style="padding-top:9px;">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                    <tbody class="mcnTextBlockOuter">
                                                        <tr>
                                                            <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                                Hey&nbsp;<strong> @Model.Name!</strong>

                                                                @if (eventDetail != null && eventDetail.IsDonationEvent) {
                                                                    <p>
                                                                        Donation for &nbsp;<strong>@Model.EventName</strong>
                                                                    </p>
                                                                } else {
                                                                    <p>
                                                                        Your registration for&nbsp;<strong>@Model.EventName</strong>&nbsp;is confirmed!&nbsp; Please go through the details below to ensure all data is accurate.
                                                                    </p>
                                                                }

                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td valign="top" class="mcnTextBlockInner">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                    <tbody>
                                                        <tr>
                                                            <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                                @if (eventDetail != null && eventDetail.IsDonationEvent) {
                                                                    <p>
                                                                        Thank you for donating for the cause!&nbsp;
                                                                        <br />
                                                                        <br />
                                                                        <strong>Donation Details</strong>
                                                                    </p>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>Donation Cause :</td>
                                                                                <td>@Model.EventName</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                    <table>
                                                                        <tbody>
                                                                            <tr>
                                                                                <td> <strong>Registration Details</strong></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Registration Id: @Model.TransactionId</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Event: @eventDetail.EventTitle </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Date: @Model.DateAndTime.ToShortDateString()</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Venue: @eventDetail.Location</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>Category: @Model.EventName </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                }
                                                                <br /> @if (eventDetail != null && eventDetail.IsDonationEvent) {
                                                                    <strong>Donor Details</strong> } else {
                                                                    <strong>Participant Details</strong> } @foreach (var user in Model.Participants) {
                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>Registration Id: @Model.TransactionId</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Name: @user.FirstName @user.LastName</td>
                                                                                </tr>
                                                                                @if (user.Address != "NOT DEFINED") {
                                                                                    <tr>
                                                                                        <td>Address: @user.Address</td>
                                                                                    </tr>
                                                                                } @if (user.MobileNumber != null) {
                                                                                    <tr>
                                                                                        <td>Mobile: @user.MobileNumber</td>
                                                                                    </tr>
                                                                                } @if (user.DOB != null) {
                                                                                    <tr>
                                                                                        <td>Date of Birth: @user.DOB.ToShortDateString()</td>
                                                                                    </tr>
                                                                                } @if (user.BloodGroup != null) {
                                                                                    <tr>
                                                                                        <td>Blood Group: @user.BloodGroup</td>
                                                                                    </tr>
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                        if (Model.Participants.Count > 1) {
                                                                            <br /> }
                                                                    }
                                                                    <br />
                                                                    <strong>Payment Details</strong> @if (Model.Donation) {
                                                                        <table>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>Donation (@Model.DonationCause): @Model.DonationAmount</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>Total Amount: @Model.Amount</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    } else {
                                                                        <table>
                                                                            <tbody>
                                                                                @if (!string.IsNullOrEmpty(Model.PromoCode) && Model.PromoCode != "NONE") {
                                                                                    <tr>
                                                                                        @{ var amountBeforeDiscount = Model.OriginalAmountAsDouble + Model.PromoCodeDiscount; }
                                                                                        <td>Original Amount :</td>
                                                                                        <td>@amountBeforeDiscount</td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td>Promo Code Discount (@Model.PromoCode) :</td>
                                                                                        <td>@Model.PromoCodeDiscount</td>
                                                                                    </tr>
                                                                                            }
                                                                                <tr>
                                                                                    <td>Total Amount :</td>
                                                                                    <td>@Model.Amount</td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                                            } @if (Model.AdditionalItems != null && Model.AdditionalItems.Count > 0) {
                                                                                                <br />
                                                                                                <strong>Additional Items</strong>
                                                                                                <table>
                                                                                                    <tbody>
                                                                                                        @foreach (var additionalItem in Model.AdditionalItems) {
                                                                                                            <tr>
                                                                                                                <td>@additionalItem.Name</td>
                                                                                                                <td>@additionalItem.MaxQuantity Qty.</td>
                                                                                                            </tr>
                                                                                                        }
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            } @if (Model.EmergencyContactName != null && Model.EmergencyContactNumber != null) {
                                                                                                <br />
                                                                                                <strong>Emergency Contact Details</strong>
                                                                                                <table>
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td>Name: @Model.EmergencyContactName</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td>Phone Number: @Model.EmergencyContactNumber</td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            } &nbsp;
                                                                                            <br /> @if (Model.APRInvoicePath != null) {
                                                                                                <span style="color: red; font-size: large;font-weight: bold">Please download your receipt from <a href="@Model.APRInvoicePath">here</a></span>
                                                                                                <br /> } Please follow us on <a href="https://www.facebook.com/click2race/?fref=ts>" target="_blank">FACEBOOK</a> for regular updates.
                                                                                            <br />
                                                                                            <br /> Please feel free to reach us at
                                                                                            <a href="mailto:support@click2race.in" target="_blank">support@click2race.in</a> for any queries.
                                                                                            <hr />
                                                                                            @*<br /> Stay Fit!&nbsp;
                                                                                                <br />
                                                                                                <strong>click2race</strong>*@
                                                                                            @if (eventDetail.EventId == "b10k_2017") {
                                                                                                <br />
                                                                                                <strong> Team Bengaluru 10K</strong>
                                                                                                <br />
                                                                                                <a href="http://bengaluru10k.com/">website</a> }
                                                                                            @*|  <br />
                                                                                                <a href="https://www.facebook.com/NEB10KChallenge/">facebook</a> |  <br />
                                                                                                <a href="https://www.instagram.com/bengaluru10kchallenge/">instagram</a> |  <br />
                                                                                                <a href="https://twitter.com/bengaluru10k">twitter</a>  <br />} <br />*@
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <!-- // END BODY -->
                                        </tr>
                                        <tr>
                                            <td align="center" valign="top">
                                                <!-- BEGIN FOOTER // -->
                                                <table border="0" cellpadding="0" cellspacing="0" width="600" id="templateFooter">
                                                    <tr>
                                                        <td valign="top" class="footerContainer" style="padding-bottom:9px;">
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                                <tbody class="mcnTextBlockOuter">
                                                                    <tr>
                                                                        <td valign="top" class="mcnTextBlockInner">
                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                                <tbody>
                                                                                    @*
                                                                                        <tr>
                                                                                            <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">
                                                                                                <em>Copyright © 2015 click2race.in, All rights reserved. |</em>
                                                                                                <br />
                                                                                                <br />
                                                                                            </td>
                                                                                        </tr>*@
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock">
                                                                <tbody class="mcnFollowBlockOuter">
                                                                    <tr>
                                                                        <td align="center" valign="top" style="padding:9px" class="mcnFollowBlockInner">
                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td align="center" style="padding-left:9px;padding-right:9px;">
                                                                                            <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContent" style="border: 1px solid #EEEEEE;">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td align="center" valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
                                                                                                            <table border="0" cellpadding="0" cellspacing="0">
                                                                                                                <tbody>
                                                                                                                    <tr>
                                                                                                                        <td valign="top">
                                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">
                                                                                                                                <tbody>
                                                                                                                                    <tr>
                                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:9px;">
                                                                                                                                            <a href="http://www.facebook.com/click2race" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-96.png" alt="Facebook" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;" /></a>
                                                                                                                                        </td>
                                                                                                                                    </tr>
                                                                                                                                </tbody>
                                                                                                                            </table>
                                                                                                                            <!--[if gte mso 6]>
                                                                                                                            </td>
                                                                                                                            <td align="left" valign="top">
                                                                                                                            <![endif]-->
                                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">
                                                                                                                                <tbody>
                                                                                                                                    <tr>
                                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:9px;">
                                                                                                                                            <a href="http://www.twitter.com/click2race" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-96.png" alt="Twitter" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;" /></a>
                                                                                                                                        </td>
                                                                                                                                    </tr>
                                                                                                                                </tbody>
                                                                                                                            </table>
                                                                                                                            <!--[if gte mso 6]>
                                                                                                                            </td>
                                                                                                                            <td align="left" valign="top">
                                                                                                                            <![endif]-->
                                                                                                                            <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">
                                                                                                                                <tbody>
                                                                                                                                    <tr>
                                                                                                                                        <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:0; padding-bottom:9px;">
                                                                                                                                            <a href="https://www.click2race.in" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-link-96.png" alt="Website" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;" /></a>
                                                                                                                                        </td>
                                                                                                                                    </tr>
                                                                                                                                </tbody>
                                                                                                                            </table>
                                                                                                                            <!--[if gte mso 6]>
                                                                                                                            </td>
                                                                                                                            <td align="left" valign="top">
                                                                                                                            <![endif]-->
                                                                                                                        </td>
                                                                                                                    </tr>
                                                                                                                </tbody>
                                                                                                            </table>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </td>
                                                    </tr>
                                                </table>
                                                <!-- // END FOOTER -->
                                            </td>
                                        </tr>
                                    </table>
                                    <!-- // END TEMPLATE -->
                                </center>
                            </body>

                        </html>



