﻿@model Marathonrunners.Models.TransactionSuccessfullModel
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=3Dutf-8" />
    <title>Order Confirmation</title>
    <style type="text/css">
        a:link {
            text-decoration: none;
            color: white;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>

</head>
<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif;color: white">
    <table width="530" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color:#246BB2;padding: 10px;">
        <thead width="500" align="left">
            <tr>
                <th width="210" style="color: white;font-size: small">
                    <a class="brand" href="http://www.click2race.in">
                        <span style="color: #F39C12; -webkit-text-shadow: none; -ms-text-shadow:none; text-shadow:none; font-size:xx-large; font-weight:bold">click<span style="color: white">2</span>race</span>
                    </a>
                    Lets make a healthy world!!
                </th>
                <th width="600" align="left" style="padding-left:20px;font-size:13px; font-weight:bold; color:white">
                    <a href="" style="color:white; text-decoration:none;"></a>
                </th>
            </tr>
        </thead>
        <tbody style="font-size:13px; line-height:1.75em;">
            <tr>
                <td style="padding-top: 35px; padding-bottom: 10px" colspan="4">
                    Hi @Model.Name!
                    <br />
                    <br />
                    Thanks for registering for the event!
                    <br />
                    <br />
                    Congratulations!! Your registration, on @Model.DateAndTime, for the event is 
                    successful.
                    <br />
                    <br />
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <h3>Registered Event Details</h3>
                    Registration Id : <strong>@Model.TransactionId</strong><br/>
                    Event : @Model.EventName<br/>
                </td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
                <td colspan="4">
                    <h3>Contact Details</h3>
                    Name: @Model.Name<br />
                    Mobile: <span style="color: white">@Model.Mobile</span> <br />
                </td>
            </tr>
            <tr><td><br/></td></tr>
            <tr>
                <td colspan="4">
                    <h3>Payment Details</h3>
                    Amount : @Model.Amount INR<br />
                </td>
            </tr>
            <tr><td><br /></td></tr>
            <tr>
              <td colspan="2" style="color:white">
                   Please follow us on <a href="https://www.facebook.com/click2race" target="_blank" style="color:white; text-decoration:none">FACEBOOK</a> for regular updates..
                  <br />
                  <br />
                    If you have any questions, you can send a mail to <a style="color:white; text-decoration: none;" href="mailto:support@click2race.in">support@click2race.in</a>
                    <br />
                  
                    <br />
                    Stay Fit!

                    <br />
                    <span style="color: #F39C12; -webkit-text-shadow: none; -ms-text-shadow:none; text-shadow:none; font-size:small; font-weight:bold">click<span style="color: white">2</span>race</span>
                </td>
            </tr>

        </tbody>
        <tfoot width="500" align="center">
            <tr>
                <td colspan="2" align="center" valign="top"
                    style="padding-top:10px;border-top:1px solid #F39C12; font-family:Georgia ,'Times New Roman',Times,serif; font-size:11px; line-height:18px;color:white;">
                    <a href="" style="color:white; text-decoration: none;">support@click2race.in</a>
                     |&nbsp;
                    <a href="https://www.facebook.com/click2race" target="_blank" style="color:white; text-decoration:none">
                        Like us
                        on facebook
                    </a>
                    |&nbsp;<a href="" style="color:white; text-decoration:none">
                        Tweet
                        about us
                    </a>
                </td>

            </tr>
            <tr>
                <td colspan="2" align="center"
                    style="font-family:Georgia, 'Times New Roman', Times, serif; font-size:11px; line-height:18px; padding-top:10px;color:white;">
                    <a style="color:white; text-decoration:none;">click2race.in</a>. All Rights Reserved.
                </td>

            </tr>
            <tr>
                <td colspan="2" valign="top" align="center" style="padding-top:10px;">
                    
                </td>
            </tr>
        </tfoot>
    </table>
    <img width="1px" height="1px" alt="" src="">
</body>
</html>
