﻿@{
    ViewBag.Title = "Trivandrum Marathon";
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Trivandrum Marathon</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/TM_2016_banner.jpg" alt="Trivandrum Marathon" class="img-rounded" />
                </div>
                <br/>
                <br/>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane","Register",new RouteValueDictionary(){{"eventid","tracs_2016"}}) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About Event and the Organisers</h4>
                    <p>Trivandrum (or Thiruvananthapuram) is the capital of the southern state of Kerala. The place is known for its idyllic beaches and rich culture because of which it draws tourists from all over the country. Trivandrum is also one of the cleanest cities in India. Even after being the capital city and one of the most developed cities of the state it is still a far call from the maddening rush of the metropolitans. Hill stations, serene beaches, backwaters and lagoons make it an ideal holiday destination. The place is also well known for its diverse flora and fauna and is also a major attraction for medical tourists learning Ayurveda. </p>
                    <p>TRACS short for Trivandrum Runners Club is a group of serious runners who wish to promote good health through running. The runners meet Tuesdays', Thursday's and Sundays in Kowdiar Square at 5:30 AM for group runs. Last year's Trivandrum marathon was organized by TRACS in November, 2015 and it was a grand success.</p>
                    <p>The next Marathon is scheduled for October 30th this year and you can register yourself and be a part of this running phenomenon that will change your life and others inspired by you for ever. For more information on TRACS you can visit <a href="https://www.facebook.com/tracstrivandrum/" target="_blank">here</a></p>
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date:</h4><h5 style="color:orangered"> 30th October,2016</h5>
                    <h4>Event Location:</h4><h5 style="color:orangered">Trivandrum</h5>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Distance</th>
                            <th>Registration Fee</th>
                        </tr>
                        <tr>
                            <td>Full Marathon(42.195km)</td>
                            <td>1100/-</td>
                        </tr>
                        <tr>
                            <td>Half Marathon(21.1km)</td>
                            <td>1000/-</td>
                        </tr>
                        <tr>
                            <td>10 km</td>
                            <td>900/-</td>
                        </tr>
                    </table>
                    <br/>
                    <p>Note : Race day T shirts and Post Race breakfast will be provided to all the registered runners</p>
                    <p>If you are trying to make payment through International Card(Foreign Card), then please contact support@click2race.in</p>
                </div>
                <hr>
                <div id="starttimeroute">
                    <h4>Start Time and Route</h4>
                    <p>Yet to be announced</p>
                </div>
                <hr>
                <div id="prizes">
                    <h4>Prizes</h4>
                    <p>We have very attractive and competitive prize included, will be announcing soon</p>
                </div>
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane","Register",new RouteValueDictionary(){{"eventid","tracs_2016"}}) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>