﻿@{
    ViewBag.Title = "IDBI Federal New Delhi Marathon Adidas Runners X Training Run – 5";
}
<title>SPBM 2015 - Taper Down with Yoga</title>
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header"></h3>
            <div class="well">
                @*<div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/training5banner.jpg" alt="" class="img-rounded" />
                </div>*@
                <br/>
                <br/>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll","Register",new RouteValueDictionary(){{"eventid","training5_2017"}}) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About Event</h4>
                    <p style="color:orangered">Training run for IDBI Federal New Delhi Marathon 2016</p>
                    @*<p>Inaugural Run to announce the launch of the Bengaluru Marathon 2015 is here!</p>*@
                    <br /><h4>Event Organisers</h4>
                    <p>NEB sports</p>
                    <br/>
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date:</h4><h5 style="color:orangered"> 5th Feb,2017</h5>
                    <h4>Event Location:</h4><h5 style="color:orangered"> Rahgiri</h5>
                    <h4>Reporting Time:</h4><h5 style="color:orangered"> 7:00am </h5>
                    <!--<h4>Warm Up Time:</h4><h5 style="color:orangered"> 6:20 am - 6:30 am</h5>-->
                    <h4>Start Time:</h4><h5 style="color:orangered"> 8am</h5>
                    <h4>Cool Down:</h4><h5 style="color:orangered"> 9:15am</h5>
                    <h4>Breakfast:</h4><h5 style="color:orangered"> 9:30am</h5>
                    @*<h4>Distance:</h4><h5 style="color:orangered"> 5kms</h5>*@
                    @*<h4>Activities:</h4><h5 style="color:orangered">  This will be a 5K Fun Event which will include breakfast post the run and a fair of sorts which will include Face Painting, Bouncy Castle, Clowns, Candy Floss machines and Helium Balloons</h5>*@
                </div>
                <hr>
                <div id="typesofevent">
                   <p>Note: T-shirt will be provided by NEB sports. This will be given to only registered (on www.click2race.in) runners and to the first 400 who show up at the venue. Runners need to bring in the confirmation number they have got after registration. Confirmation number can be shown on the mobile.</p>

                    <p>Please spread the word and join us!</p>
                </div>
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("Enroll", "Register", new RouteValueDictionary() { { "eventid", "training5_2017" } }) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #return_hover a:hover{
        color: orangered;
    }
</style>