﻿@{
    Layout = "../Shared/_LayoutNew.cshtml";
    ViewBag.Title = "Success";
}

<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        @*<div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/success.jpg" alt="">
            <div class="line"> </div>
        </div>*@

        <!-- FIRST BLOCK -->
        <div id="first-block">
            <div class="line" style="color:#fff">
                <h1 style="padding-bottom:5px;">Woohooo !!!!!</h1><br><br><br>
                <p>Your Transction has been successful !!! <span style="color:orange"><strong>Your Transaction Id is @ViewBag.TransactionId</strong></span> </p>
                <p>If you do not receive any confirmation mail from us within 15 minutes, then write to us @@ <a href="mailto:support@click2race.com">support@click2race.com</a></p><br><br>

            </div>
        </div>
        <!-- FEATURES -->
        <!-- CONTACT -->
        <!-- MAP -->
    </div>
</section>
<!-- FOOTER -->
<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>