﻿
@{
    ViewBag.Title = "Trivandrum Cyclathon 2016";
}
@section ExtendedMetaInformation {
    <meta name="description" content="Trivandrum Cyclathon 2016 cycling event">
    <meta name="keywords" content="trivandrum, cycling, cyclathon, fitness, adventure, outdoor, event, activities,trivandrum cyclathon 2016">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Trivandrum Cyclathon 2016</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/TC-2016Banner.jpg" alt="trivandrum_cyclathon" class="img-rounded" />
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "tc_2016" } }) role="button">Register</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About the Event</h4>
                    <strong>Presenting a high on adrenalin, fun filled and exciting event</strong><br />
                    <p>
                        Kerala’s first ever organized mass cycling event, ‘Trivandrum Cyclathon 2016’ will be held in the capital city, Trivandrum, on Sunday, 14th Feb 2016. The ride, which passes through Trivandrum’s prime locations, calls up all fitness freaks and cycling enthusiasts across Kerala to be a part of this event. The event is organized by Stark Event Expo Pvt. Ltd. in association with the District Administration, Trivandrum, and with the support of various cycling groups in the city.
                    </p>
                    <p>‘Trivandrum Cyclathon 2016’ intends to create public awareness about the importance of having a healthy lifestyle and aims to promote cycling as one of the best ways to reduce the risks of various lifestyle diseases that plague us today.</p>
                    <br />

                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Details</h4>
                    <p>Event Date: Sunday, 14<sup>th</sup> Feburary 2016</p>
                </div>
                <div id="eventlocation">
                    <h4>Event Location</h4>
                    <strong>Flag off your ride towards better health</strong><br />
                    <p>
                        The ride will be flagged off from Manaveeyam Road which is popularly known as ‘Manaveeyam Veedhi’.
                        One of Trivandrum’s most popular cultural hubs, Manaveeyam Road is at the heart of the capital city, and connects 2 busy main roads – the CV Raman Pillai Road and the arterial Vellayambalam – LMS Jn. Road. The Manaveeyam Road has been the venue for many cultural & sporting events in recent years, making it an ideal starting place for this unique first-time event.
                    </p>
                    <p>
                        So if you are looking to balance your way to a better life, this is ‘the spot’ to be in, on Sunday, 14th Feb 2016.
                    </p>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Ride Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <strong>Champions Ride 40 km</strong>
                    <p>For amateur cyclists, this ride is a test of strength, endurance & determination. Riders need to clock their best time to win the competition, which follows the Individual Time Trial (ITT) format. The ride is open to participants aged 18 and above.</p>
                    <br />
                    <strong>Trivandrum Fitness Ride 14 km</strong>
                    <p>The Trivandrum Fitness Ride is all about bringing the spirit of fitness to the streets of Trivandrum, highlighting to the public the importance of staying healthy. The ride carries a specific message to the general public – the importance of a daily regimen of exercising to stay fit and also the fact that cycling is one of the better ways to do it. Conceived as a fun ride, the ride will be for participants from aged 13 and above.    </p>
                    <br />
                    <strong>Stark Kids Fun Ride 2.5 km</strong>
                    <p>And while the young adults and the not so young adults ride themselves to glory, we have also lined up another unique event for the kids - ‘The Stark Kids Fun Ride.’</p>
                    <br />
                    <p>The Stark Kids Fun Ride provides the kids a great opportunity to be part of the fun and aims to introduce them to the benefits of exercising at an early age. The ride will be for kids in the age group of 10 to 12.</p>
                    <table>
                        <tr>
                            <th>Ride Category</th>
                            <th>Number Of Laps</th>
                            <th>Reporting Time</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Cut Off Time</th>
                            <th>Cost</th>
                        </tr>
                        <tr>
                            <td>Champions Ride 40 km</td>
                            <td>6</td>
                            <td>04:30am</td>
                            <td>05:30am</td>
                            <td>07:30am</td>
                            <td>2 hrs</td>
                            <td>1000INR</td>
                        </tr>
                        <tr>
                            <td>Trivandrum Fitness Ride 14 km</td>
                            <td>2</td>
                            <td>06:00am</td>
                            <td>06:30am</td>
                            <td>07:30am</td>
                            <td>1 hr</td>
                            <td>500 INR</td>
                        </tr>
                        <tr>
                            <td>Stark Kids Fun Ride 2.5 km</td>
                            <td>3</td>
                            <td>07:30am</td>
                            <td>08:00am</td>
                            <td>08:30am</td>
                            <td>30 mins</td>
                            <td>250 INR</td>
                        </tr>
                    </table>
                    <br>
                </div><br />
                <hr>
                <div id="Prizes">
                    <h4>Prizes</h4>
                    <p style="color: orangered">
                        <strong>Participate and pedal the wheel of fortune</strong><br />
                    <p>
                        All ride categories offer exciting prizes to the winners. After all, hard work always pays off!
                    </p>
                    <strong>Champions Ride 40 km</strong>
                    <ul>
                        <li>First Prize Rs. 25,000/-</li>
                        <li>Second Prize Rs. 15,000/-</li>
                        <li>Third Prize Rs. 10,000/-</li>
                        <li>
                            Attractive cash prizes for the top 3 Women & Senior Citizen finishers.
                            Also, medals for all finishers.
                        </li>
                    </ul>
                    <br />
                    <strong>Trivandrum Fitness Ride 14 km</strong>
                    Medals for all finishers.
                    <br />
                    <strong>Stark Kids Fun Ride 2.5 km</strong>
                    Attractive cycling goodies will be given to all participants.
                    <br />
                    <strong>And no one goes empty handed. Attractive certificates await all participants.</strong><br />
                    <h3> Stay Connected. We Will Meet You At The Finish Line!</h3>
                    <p>
                        Are you fit for the Trivandrum Cyclathon 2016? If you are, then the registration for the event opens on 30th November
                        2015. For any enquiries that you have, call us at +91 9745636344 or mail to info@trivandrumcyclathon.in
                    </p>
                </div>
                <br/>
                <br />
                <span> For more details, please log on to <a href="http://www.trivandrumcyclathon.in">www.trivandrumcyclathon.in</a></span>
                <br />
                <strong style="color: orangered">For more details you can download the brochure from <a href="https://clicktorace.blob.core.windows.net/docs/TC 2016 Brochure.pdf" target="_blank">here</a></strong>
                <hr>
                <br />
                <div>
                    <strong>Ride Rules & Regulations</strong>
                    <ol>
                        <li>
                            You are to participate only in the ride category for which you had applied for and for which your entry has been confirmed. Your entry and riding number is not transferable to any other person under any circumstance.
                        </li>
                        <li>
                            Participants found to have interchanged their riding number tag with another individual, will be disqualified from the Event and shall not be allowed to apply or participate in the next edition of the Event.
                        </li>
                        <li>
                            The Organizer reserves the right to disqualify or exclude any person from the event / competition who gives incorrect personal data/details on the entry form, who has been banned from competition under Union Cycliste Internationale jurisdiction who is suspected of having taken banned substances. No refund of entry fee will be made.
                        </li>
                        <li>
                            Prize Money is applicable only for the Champions Ride 40 km.
                        </li>
                        <li>
                            Participants are not allowed to ride with babies or children and unregistered riders.
                        </li>
                        <li>
                            Only those confirmed participants wearing the current Trivandrum Cyclathon 2016 riding number bibs will be allowed on the route. Any person found wearing the incorrect bib or not wearing the Trivandrum Cyclathon 2016 bib will not be allowed to continue on the race course.
                        </li>
                        <li>
                            Further, every rider must wear his/her riding number bib on the front of the vest worn. Disputes arising out of not properly visible, mutilated, folded, altered or damaged bib will not be entertained.
                        </li>
                        <li>
                            Organizers reserve the right to stop any participant from participating who is found medically unfit to continue in the opinion of the ride medical personnel.
                        </li>
                        <li>
                            For security reasons, participants are requested to come without any baggage. It is strongly recommended that you do not leave valuables like mobile phone, camera, jewellery, watch, electronic gadgets, etc. unnoticed. Organizers are not responsible for any loss or baggage and belongings during the event.
                        </li>
                        <li>
                            Participants are requested to cooperate with the police and security personnel deputed at the venue grounds, the Holding Area and on the route.
                        </li>
                        <li>
                            Participants/supporters are liable to random checking on ride day - this is for your own security.
                        </li>
                    </ol>
                </div>
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "tc_2016" } }) role="button">Register</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #terms_hover a:hover {
        color: orangered;
    }
</style>
