﻿@*Trivandrum Cyclathon 2017 event --Sukanya*@
@{
    ViewBag.Title = "Trivandrum Cyclathon 2017";
}
@section ExtendedMetaInformation {
    <meta name="description" content="Trivandrum Cyclathon 2017 cycling event">
    <meta name="keywords" content="trivandrum, cycling, cyclathon, fitness, adventure, outdoor, event, activities,trivandrum cyclathon 2017">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Trivandrum Cyclathon 2017</h3>
            <div class="well">
                <div id="logo" style="text-align:center;">
                    <img src="https://clicktorace.blob.core.windows.net/portalimages/Cyclathon_b-02.jpg" alt="trivandrum_cyclathon" class="img-rounded" usemap="#register" />
                    <map name="register">
                        <area shape="poly" coords ="398,47,400,85,586,83,584,47" alt="Sun" href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "tc_2017" } })>
                    </map>
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "tc_2017" } }) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About the Event</h4>
                    <strong>Presenting a high on adrenalin, fun filled and exciting event</strong><br />
                    <p>
                        Trivandrum Cyclathon 2017, <b>the 2nd edition of Trivandrum Cyclathon, a one of its kind cycling event,</b> will be held in the capital city, Trivandrum, on Saturday, 8th April 2017. The ride, which passes through Trivandrum’s prime locations, calls up all fitness freaks and cycling enthusiasts across Kerala to be a part of this event.
                    </p>
                    <p>Cycling is one of the healthiest, low-impact exercises that can be enjoyed by people of all ages, from young children to older adults. Trivandrum Cyclathon 2017 intends to create public awareness and promote cycling as one of the best ways to reduce the risks of health problems associated with today’s sedentary lifestyle. It will also be a platform for the cycling aficionados from the city and other parts of Kerala to showcase their cycling skills. We hope to make the event Trivandrum’s own marquee sporting event.</p>
                    <br />

                </div>
                <div id="aboutmanagement">
                    <h4>About Organisers</h4>
                    Stark Event Expo Pvt. Ltd., is one of Kerala’s leading event management agency and is part of the Stark Group, whose flagship company, Stark Communications Pvt. Ltd., is Kerala’s leading advertising and marketing communications agency. Trivandrum Cyclathon is a STARK initiative for a green & healthy Trivandrum. 
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Details</h4>
                    <p><h4>Event Date: Saturday, 8<sup>th</sup> April 2017</h4></p>
                </div>
                <div id="eventlocation">
                    <h4>Event Location: Manaveeyam Road</h4>
                    The event will be flagged off from Manaveeyam Road and will pass through Trivandrum’s prime spots covering a distance of about 7 Kms, which forms a closed loop. The race route covers the major points in the city, such as Kowdiar, Kuravankonam, Pattom, Plamoodu, PMG, LMS, Museum and Vellayambalam.
                    <p>
                        So if you are looking to balance your way to a better life, this is ‘the spot’ to be in, on Saturday, 8th April 2017.
                    </p>
                    <h4>Who all can participate?</h4>
                    Apparently cycling is not a herculean task but fitness is. So people who are willing to ride a bike, hoping to add an exciting day to their life, can surely participate.

                </div>

               
                <hr />
                <div id="typesofevent">
                    <h4>Ride Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <strong>Champions Ride 40 km</strong>
                    <p>For amateur cyclists, this ride is a test of strength, endurance & determination. This ride is a mass start ride and is open to participants aged 15 and above.</p>

                    <strong>Trivandrum Fitness Ride 14 km</strong>
                    <p>The Trivandrum Fitness Ride is all about bringing the spirit of fitness to the streets of Trivandrum, highlighting to the public the importance of staying healthy. The ride carries a specific message to the general public – the importance of a daily regimen of exercising to stay fit and also the fact that cycling is one of the better ways to do it. Conceived as a fun ride, the ride will be for participants from aged 12 and above.    </p>

                    <strong>Stark Kids Fun Ride 2.5 km</strong>
                    <p>
                        And while the young adults and the not so young adults ride themselves to glory, we have also lined up another unique event for the kids - ‘The Stark Kids Fun Ride.’
                        This Ride provides the kids a great opportunity to be part of the fun and aims to introduce them to the benefits of exercising at an early age. The ride will be for kids in the age group of 6 to 12.
                    </p>
                    <table>
                        <tr>
                            <th>Ride Category</th>
                            <th>Participant's Age</th>
                            <th>Number Of Laps</th>
                            <th>Reporting Time</th>
                            <th>Start Time</th>
                            <th>End Time</th>
                            <th>Cut Off Time</th>
                            <th>Cost</th>
                        </tr>
                        <tr>
                            <td>Champions Ride 40 km</td>
                            <td>15 and above</td>
                            <td>6 laps of 6.8 Km</td>
                            <td>04:30am</td>
                            <td>05:00am</td>
                            <td>07:00am</td>
                            <td>2 hrs</td>
                            <td>1000INR</td>
                        </tr>
                        <tr>
                            <td>Trivandrum Fitness Ride 14 km</td>
                            <td>12 and above</td>
                            <td>2 laps of 6.8 Km</td>
                            <td>06:00am</td>
                            <td>06:30am</td>
                            <td>07:30am</td>
                            <td>1 hr</td>
                            <td>500 INR</td>
                        </tr>
                        <tr>
                            <td>Stark Kids Fun Ride 2.5 km</td>
                            <td>6 to 12</td>
                            <td>3 laps of 850 Mtrs</td>
                            <td>07:30am</td>
                            <td>08:00am</td>
                            <td>08:30am</td>
                            <td>30 mins</td>
                            <td>250 INR</td>
                        </tr>
                    </table>
                    <br>
                </div><br />
                <hr>
                <div>
                    <strong>Ride Rules & Regulations</strong>
                    <ol>
                        <li>
                            You are to participate only in the ride category for which you had applied for and for which your entry has been confirmed. Your entry and riding number is not transferable to any other person under any circumstance.
                        </li>
                        <li>
                            Participants found to have interchanged their riding number tag with another individual, will be disqualified from the Event and shall not be allowed to apply or participate in the next edition of the Event.
                        </li>
                        <li>
                            The Organizer reserves the right to disqualify or exclude any person from the event / competition who gives incorrect personal data/details on the entry form, who has been banned from competition under Union Cycliste Internationale jurisdiction who is suspected of having taken banned substances. No refund of entry fee will be made.
                        </li>
                        
                        <li>
                            Participants are not allowed to ride with babies or children and unregistered riders.
                        </li>
                        <li>
                            Only those confirmed participants wearing the current Trivandrum Cyclathon 2017 riding number bibs will be allowed on the route. Any person found wearing the incorrect bib or not wearing the Trivandrum Cyclathon 2017 bib will not be allowed to continue on the race course.
                        </li>
                        <li>
                            Further, every rider must wear his/her riding number bib on the front of the vest worn. Disputes arising out of not properly visible, mutilated, folded, altered or damaged bib will not be entertained.
                        </li>
                        <li>
                            Organizers reserve the right to stop any participant from participating who is found medically unfit to continue in the opinion of the ride medical personnel.
                        </li>
                        <li>
                            For security reasons, participants are requested to come without any baggage. It is strongly recommended that you do not leave valuables like mobile phone, camera, jewellery, watch, electronic gadgets, etc. unnoticed. Organizers are not responsible for any loss or baggage and belongings during the event.
                        </li>
                        <li>
                            Participants are requested to cooperate with the police and security personnel deputed at the venue grounds, the Holding Area and on the route.
                        </li>
                        <li>
                            Participants/supporters are liable to random checking on ride day - this is for your own security.
                        </li>
                        <li>
                            Wearing Helmets are mandatory for all rides.
                        </li>
                    </ol>
                </div>
                <hr>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "tc_2017" } }) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #terms_hover a:hover {
        color: orangered;
    }
</style>
