﻿@{
    ViewBag.Title = "Injury Prevention for Runners";
}
@section ExtendedMetaInformation {
    <meta name="description" content="Injury Prevention for Runners">
    <meta name="keywords" content="TROT, Injury Prevention for Runners, injury, doctor, running">
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Injury Prevention for Runners</h3>
            <div class="well" style="min-height:700px">
                <div id="logo" style="text-align:center;">
                    @* <img src="https://clicktorace.blob.core.windows.net/portalimages/apr_banner.jpg" alt="pedal_banner" class="img-rounded" />*@
                </div>
                <br />
                <br />
                <div style="text-align: center;font-size: large">
                    @*<span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "trot_workshop_2015" } }) role="button">Register</a></span>*@
                </div>
                <div id="aboutevent">
                    <br />
                    <br />
                    <table>
                        <tr>
                            <td>
                                Topic :
                            </td>
                            <td>
                                Injury Prevention for Runners
                            </td>
                        </tr>
                        <tr>
                            <td>Resource Person :</td>
                            <td><strong>Dr.Gladson Johnson (Sports Physiotherapist & Barefoot Marathoner)</strong></td>
                        </tr>
                        <tr>
                            <td>Venue :</td>
                            <td>Hotel Iris, Brigade road, Bangalore.</td>
                        </tr>
                        <tr>
                            <td>Day & Date :</td>
                            <td>02/07/2016</td>
                        </tr>
                        <tr>
                            <td>Timing :</td>
                            <td>7AM- 1PM</td>
                        </tr>
                        <tr>
                            <td>Registration fee:</td>
                            <td>INR.2100/-</td>
                        </tr>
                        <tr>
                            <td>Inclusions :</td>
                            <td>Course Material, Course completion certificate, Breakfast, High tea</td>
                        </tr>
                        <tr>
                            <td>Dress code :</td>
                            <td>Running gear or any exercising gear.</td>
                        </tr>
                        <tr>
                            <td>Total participants :</td>
                            <td>40nos. NO SPOT REGISTRATION.</td>
                        </tr>
                    </table>
                    <br />
                    <p>
                        <strong>
                            Workshop Flow : ALL PARTICIPANTS are requested to assemble in front of hotel Iris by 6:00am. We shall all run together for an easy 5km run and join back to the hotel and start our workshop.
                            Topic will include, understanding injuries and how one is prone to it and how to prevent injuries related to running. Practicals will be demonstrated and made to do. Course material will be delivered. Course completion certificate will also be provided.
                        </strong></p>
                        <p>Topics To Be covered:-</p><br/>
                        <ol>
                            <li>Introduction into running injuries and causes.</li>
                            <li>Identifying how injury prone you are to injuries.</li>
                            <li>Correcting the identified risk factors and preventing injuries.</li>
                        </ol>                     
                        <br />
                        <br />
                </div>
                <div style="text-align: center;font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() { { "eventid", "trot_workshop_2016" } }) role="button">Register</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>
<style>
    #terms_hover a:hover {
        color: orangered;
    }
</style>
