﻿@{
    ViewBag.Title = "The Run Of Raramuri Tribe 2016";
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">The Run Of Raramuri Tribe 2016</h3>
            <div class="well">
                <div id="logo" style="text-align: center;">
                    @*<img src="https://clicktorace.blob.core.windows.net/portalimages/trot_slider.jpg" alt="cwdrpic" class="img-rounded" />*@
                </div>
                <br />
                <br />
                <div style="text-align: center; font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() {{"eventid", "trot_2016"}}) role="button">Continue</a></span>
                </div>
                <div id="aboutevent">
                    <br />
                    <h4>About Event</h4>
                    <p>"The run is organized for a cause, To raise funds for the Education and Health expenses for HIV Infected Children."</p>
                    <br />
                    <p>The Raramuri Runners evolved in the year 2011 with 7members from various walks of life with different medical issues who had the vision to see running as a way of life. Ever since there was no looking back for anyone.</p>
                    <p>
                        Our very own native event TRORT is the expressive version of the Raramuri Runners. This event has its prime goal to promote running among all as a way of healthy living.
                        The event is highly structured and organized to meet all runners requirements and is considered as one of the toughest terrains for running. TRORT has successfully completed 7 seasons and TRORT – 008 is to be held on 30/07/2016.
                    </p>
                    <br />
                    <p>The objective of TRORT is to reach towards a social cause through our available means which is running. We raise funds and contribute it to the socially needful.</p>
                </div>
                <hr>
                <div id="starttimeandroutedetails">
                    <h4>Event Date:</h4><h5 style="color: orangered"> 30th July 2016</h5>
                    <h4>Event Location:</h4><h5 style="color: orangered">Near KSIT, Kanakapura Road</h5>
                </div>
                <hr>
                <div id="typesofevent">
                    <h4>Race Details</h4>
                    <style>
                        table, th, td {
                            border-collapse: collapse;
                            border: 1px solid black;
                        }

                        th, td {
                            padding: 5px;
                        }
                    </style>
                    <table>
                        <tr>
                            <th>Distance</th>
                            <th>Registration fee</th>
                            <th>Start Time</th>
                            <th>Cut Off Time</th>
                        </tr>
                        <tr>
                            <td>10km</td>
                            <td>850/-</td>
                            <td>6am</td>
                            <td>8am</td>
                        </tr>
                        <tr>
                            <td>21.09km</td>
                            <td>850/-</td>
                            <td>5.00am</td>
                            <td>9.30am</td>
                        </tr>
                        <tr>
                            <td>42.19km</td>
                            <td>850/-</td>
                            <td>5.00am</td>
                            <td>12noon</td>
                        </tr>
                    </table>
                    <br/>
                    <p><strong>Note:Registrations closes when sufficient numbers are reached.</strong></p>
                </div>
                <hr>
                <div style="text-align: center; font-size: large">
                    <span id="enroll_link"><a href=@Url.Action("FastLane", "Register", new RouteValueDictionary() {{"eventid", "trot_2016"}}) role="button">Continue</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    #enroll_link a:hover {
        color: orangered;
    }
</style>