.container {
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
}

body{
 background-image: url("file:///android_asset/www/images/click2race/background.png");
}

.scroll{
  overflow-x: hidden;
}

.input_data {
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 90%;
  background-image: url("file:///android_asset/www/images/click2race/background.png");
  border-radius: 3px;
   -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}

.events{
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 1px #458B00;
  background: #003366;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}

.event_list{
  margin-top:10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 1px #458B00;
  background: white;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}

.event_btn {
  height: 150px;
  width: 120px;
  font-size: 15px;
  font-weight: bold;
  color: black;
  text-shadow: 0 1px #e3f1f1;
  background: white;
  border: 5px solid;
  border-color: white;
  outline: 0;
  text-align: center;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
 }

.input_data h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-align: center;
  text-shadow: 0 1px #458B00;
  background: #003366;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}

input[type=submit] {
  padding: 0 10px;
  height: 35px;
  width: 80px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-shadow: 0 1px #458B00;
  background: #003366;
  border: 1px solid;
  border-radius: 16px;
  outline: 0;
  }
input[type=submit]:active {
  background: #003366;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.reg_btn{
    padding: 0 10px;
      height: 35px;
      width: 80px;
      font-size: 15px;
      font-weight: bold;
      color: white;
      text-shadow: 0 1px #458B00;
      background: #003366;
      border: 1px solid;
      border-radius: 16px;
      outline: 0;
}