/********************/
/* EXPANDABLE LIST  */
/********************/
#listContainer{
  margin-top:0px;
}

#expList ul, li {
    list-style: none;
    margin:0;
    padding:0;
 }
#expList li {
    line-height:40px;
    background-repeat: no-repeat;
}

#expList .collapsed {
	left:0px;
    background-image: url(file:///android_asset/www/images/Register_screen/expand_tab_collapse_image.png);
}
#expList .expanded {
	left:0px;
    background-image: url(file:///android_asset/www/images/Register_screen/expand_tab.png);
}
