﻿@*<div class="courousel">
    <div class="slidesjs-container" style="overflow: hidden; position: relative; width: 746px; height: 238.085106382979px;">
        <div class="slidesjs-control" style="position: relative; left: 0px; width: 746px; height: 238.085106382979px;">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/bm_promo1.jpg" style="position: absolute; top: 0px; width: 100%; -webkit-backface-visibility: hidden; display: block; z-index: 10; left: 0px;" class="slidesjs-slide" slidesjs-index="0">
        </div>
    </div>
</div>*@


<div id="courosel" class="courousel">
    @*<img src="https://clicktorace.blob.core.windows.net/portalimages/cwdr2015_slider.jpg" style="width: 100%" class="slidesjs-slide" />*@
    <img src="https://clicktorace.blob.core.windows.net/portalimages/offers04.jpg" style="width: 100%" class="slidesjs-slide" />
    <img src="https://clicktorace.blob.core.windows.net/portalimages/Logo 750 x 260 pixel-10.jpg" style="width: 100%" class="slidesjs-slide" />
    <img src="https://clicktorace.blob.core.windows.net/portalimages/Mumbai Half Marathon 2017.jpg" style="width: 100%" class="slidesjs-slide" />
    <img src="https://clicktorace.blob.core.windows.net/portalimages/SPBM2017.jpg" style="width: 100%" class="slidesjs-slide" />
    @*<img src="https://clicktorace.blob.core.windows.net/portalimages/tracs_banner.jpg" style="width: 100%" class="slidesjs-slide"/>*@
    @*<img src="https://clicktorace.blob.core.windows.net/portalimages/coorg1_banner.jpg" style="width: 100%" class="slidesjs-slide" />*@
    @*<img src="https://clicktorace.blob.core.windows.net/portalimages/scm_optimized.jpg" style="width: 100%" class="slidesjs-slide" />*@
    @*<img src="https://clicktorace.blob.core.windows.net/portalimages/bm_promo1.jpg" style="width: 100%" class="slidesjs-slide" />*@
    @*<img src="https://clicktorace.blob.core.windows.net/portalimages/" style="width: 100%" class="slidesjs-slide" />*@
    @*<img src="https://clicktorace.blob.core.windows.net/portalimages/slider_group2.jpg" style="width: 100%" class="slidesjs-slide" />*@
</div>