﻿@model Marathonrunners.Core.Entities.UserInfo
@{
    Html.EnableClientValidation(true);
}
@{
    //Locals
    var title = new string[] { "Male","Female" };
}
<ul class="clk2raceSettingsList">
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'Image')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Photo</span>
            <div class="clk2raceSettingsListContent" style="position: relative">
                <img style="width: 70%;height: 70%" id="userphoto" src=@Model.UserPhoto alt=@Model.FirstName class="img-rounded">
                <div id='facebook' class="facebook" style="display: none">
                    <div id='block_1' class='facebook_block'></div>
                    <div id='block_2' class='facebook_block'></div>
                    <div id='block_3' class='facebook_block'></div>
                </div>
            </div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none">
            <span class="btn btn-success fileinput-button">
                <i class="fa fa-upload"></i>
                <span>Upload Photo</span>
                <input id="fileupload" type="file" name="files[]" accept="image/*">
            </span>
        </div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'Gender')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Title</span>
            <div class="clk2raceSettingsListContent" id="title">@title[@Model.Gender - 1]</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'FirstName')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">First Name</span>
            <div class="clk2raceSettingsListContent" id="firstname_view">@Model.FirstName</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'LastName')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Last Name</span>
            <div class="clk2raceSettingsListContent" id="lastname_view">@Model.LastName</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'DateOfBirth')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Date Of Birth</span>
            <div class="clk2raceSettingsListContent" id="dob_view">@Model.DOB.Date.ToString("yyyy-MM-dd")</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'Nationality')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Nationality</span>
            <div class="clk2raceSettingsListContent" id="nationality_view">@Model.Nationaility</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>

    <li id="userlocation">
        <a id="linksection" onclick="toggle_field_section(this, 'UserLocation')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Country</span>
            <div class="clk2raceSettingsListContent" id="country_view">@Model.Country</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>

    @*<li class="userlocation" @Html.Raw(others_display_style)>
            <a id="linksection" onclick="toggle_field_section(this, 'UserLocation')" class="pvm phs clk2raceSettingsListLink clearfix">
                <span class="clk2raceSettingsListLabel">Other State</span>
                <div class="clk2raceSettingsListContent" id="otherstate_view">@Model.OtherState</div>
                <span class="clk2raceSettingsListEdit">
                    <i class="fa fa-pencil fa-fw"></i>
                    <span id="edit">Edit</span>
                </span>
            </a>
        </li>

        <li class="userlocation" @Html.Raw(others_display_style)>
            <a id="linksection" onclick="toggle_field_section(this, 'UserLocation')" class="pvm phs clk2raceSettingsListLink clearfix">
                <span class="clk2raceSettingsListLabel">Other City</span>
                <div class="clk2raceSettingsListContent" id="othercity_view">@Model.OtherCity</div>
                <span class="clk2raceSettingsListEdit">
                    <i class="fa fa-pencil fa-fw"></i>
                    <span id="edit">Edit</span>
                </span>
            </a>
        </li>*@
    <li class="userlocation">
        <a id="linksection" onclick="toggle_field_section(this, 'UserLocation')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">State</span>
            <div class="clk2raceSettingsListContent" id="state_view">@Model.State</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
    </li>
    <li class="userlocation">
        <a id="linksection" onclick="toggle_field_section(this, 'UserLocation')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">City</span>
            <div class="clk2raceSettingsListContent" id="city_view">@Model.City</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
    </li>


    <li class="userlocation">
        <a id="linksection" onclick="toggle_field_section(this, 'UserLocation')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Postal Code</span>
            <div class="clk2raceSettingsListContent" id="pincode_view">@Model.Pincode</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'Address')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Address</span>
            <div class="clk2raceSettingsListContent" id="address_view">
                @Model.Address
            </div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'Mobile')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Mobile No.</span>
            <div class="clk2raceSettingsListContent" id="mobile_view">
                @Model.MobileNumber
            </div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'Occupation')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Occupation</span>
            <div class="clk2raceSettingsListContent" id="occupation_view">
                @Model.Occupation
            </div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'BloodGroup')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Blood Group</span>
            <div class="clk2raceSettingsListContent" id="bloodgroup_view">@Model.BloodGroup</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'ShirtSize')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">T-Shirt Size</span>
            <div class="clk2raceSettingsListContent" id="shirtsize_view">@Model.ShirtSzie</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'IdentityProof')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Identity Proof</span>
            <div class="clk2raceSettingsListContent" id="identityproof_view">@Model.IdentityProof</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'IdNum')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Identity No.</span>
            <div class="clk2raceSettingsListContent" id="idnum_view">@Model.IdNumber</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this, 'Image')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Photo ID</span>
            <div class="clk2raceSettingsListContent" style="position: relative">
                <img style="width: 70%;height: 70%" id="useridproof" src=@Model.PhotoIdProof alt="photoIDProof" class="img-rounded">
                <div id='facebook2' class="facebook" style="display: none">
                    <div id='block_1' class='facebook_block'></div>
                    <div id='block_2' class='facebook_block'></div>
                    <div id='block_3' class='facebook_block'></div>
                </div>
            </div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none">
            <span class="btn btn-success fileinput-button">
                <i class="fa fa-upload"></i>
                <span>Upload Image</span>
                <input id="fileuploadidproof" type="file" name="files[]" accept="image/*">
            </span>
        </div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this,'RunningClub')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel" id="runningclub_view">Running Club</span>
            <div class="clk2raceSettingsListContent">
                @Model.RunningClub
            </div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this, 'EmergencyContactName')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Emergency Contact </span>
            <div class="clk2raceSettingsListContent" id="emergencycontactname_view">@Model.EmergencyContactName</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this, 'EmergencyContactNumber')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Emergency Contact Number</span>
            <div class="clk2raceSettingsListContent" id="emergencycontactnumber_view">@Model.EmergencyContactNumber</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this, 'ChronicDisease')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Chronic Disease</span>
            <div class="clk2raceSettingsListContent" id="chronicdisease_view">@Model.ChronicDisease</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
    <li>
        <a id="linksection" onclick="toggle_field_section(this, 'NameOnBib')" class="pvm phs clk2raceSettingsListLink clearfix">
            <span class="clk2raceSettingsListLabel">Name On BIB</span>
            <div class="clk2raceSettingsListContent" id="nameonbib_view">@Model.NameOnBib</div>
            <span class="clk2raceSettingsListEdit">
                <i class="fa fa-pencil fa-fw"></i>
                <span id="edit">Edit</span>
            </span>
        </a>
        <div id="editsection" style="display: none" class="pvm phs clk2raceSettingsListLink clearfix"></div>
    </li>
</ul>
<!-- MainBody End ============================= -->