﻿@*TODO: Remove the hardcoded values and put it to css file*@
<div id="footerSection" style="width: 1000px; margin: 0 auto;">
    <div style="-moz-min-width: 1000px; -ms-min-width: 1000px; -o-min-width: 1000px; -webkit-min-width: 1000px; min-width: 1000px;width: 1000px; margin-left: 10px;">
        <div>
            <div style="float: left;width: 700px">
                <h5>Site Map</h5>
                <a>@Html.ActionLink("Home", "Index", "Home")</a>
                <a>@Html.ActionLink("About Us", "About", "Home")</a>
                <a>@Html.ActionLink("Contact Us", "Contact", "Home")</a>
            </div>
            <div id="socialMedia" style="">
                <h5>&nbsp;&nbsp;SOCIAL MEDIA </h5>
                <a href="https://www.facebook.com/click2race" target="_blank">
                    <img width="60" height="60" src="https://clicktorace.blob.core.windows.net/portalimages/facebook.png" title="facebook" alt="facebook" />
                </a>
                <a href="https://twitter.com/click2race" target="_blank">
                    <img width="60" height="60" src="https://clicktorace.blob.core.windows.net/portalimages/twitter.png" title="twitter" alt="twitter" />
                </a>
            </div>
            <br>
            <div id="policy" style="padding-top: 10px;padding-bottom: 10px;">
                <span class="underline">Policies :</span>
                <a href="#" data-reveal-id="myModal" onclick="generic_popup('/TermsConditionsHtml/Disclaimer.html')">Disclaimer |</a>
                <a href="#" data-reveal-id="myModal" onclick="generic_popup('/TermsConditionsHtml/Privacy.html')">Privacy |</a>
                <a href="#" data-reveal-id="myModal" onclick="generic_popup('/TermsConditionsHtml/TermsAndConditions.html')">Terms of Use</a>
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Copyright 2016 &copy; Click2race -- All Rights Reserved</span>
                <img style="width: 5%;height: 5%; margin-left: 135px;" src="https://clicktorace.blob.core.windows.net/portalimages/verifiedvisa.png" title="payumoney" alt="payumoney" />
                <img style="width: 5%;height: 5%;" src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.png" title="payumoney" alt="payumoney" />
                <img style="width: 5%;height: 5%;" src="https://clicktorace.blob.core.windows.net/portalimages/verisgn.png" title="payumoney" alt="payumoney" />
                <img style="width: 5%;height: 5%;" src="https://clicktorace.blob.core.windows.net/portalimages/securepayu.png" title="payumoney" alt="payumoney" />
            </div>
        </div>
        <p></p>

    </div>
    <!-- Container End -->
</div>
