﻿@*<!DOCTYPE html>
    <html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>click2race</title>
        <link rel="icon" type="image/png" href="~/Content/smallimages/favicon.ico">
        <link rel="stylesheet" href="../Contents-New/css/components.css">
        <link rel="stylesheet" href="../Contents-New/css/responsee.css">
        <link rel="stylesheet" href="../Contents-New/css/icons.css">
        <link rel="stylesheet" href="../Contents-New/css/form.css">
        <link rel="stylesheet" href="../Contents-New/owl-carousel/owl.carousel.css">
        <link rel="stylesheet" href="../Contents-New/owl-carousel/owl.theme.css">
        <link rel="stylesheet" href="../Contents-New/css/template-style.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="../Contents-New/js/jquery-1.8.3.min.js"></script>//
        <script type="text/javascript" src="../Contents-New/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../Contents-New/js/template-scripts.js"></script>
        <script src="~/Content/scripts/base.js"></script>

        <script type="text/javascript" src="../Contents-New/js/responsee.js"></script>//
        <script type="text/javascript" src="../Contents-New/owl-carousel/owl.carousel.js"></script>

        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                var theme_slider = $("#owl-demo");
                $("#owl-demo").owlCarousel({
                    navigation: false,
                    slideSpeed: 800,
                    paginationSpeed: 400,
                    autoPlay: 6000,
                    addClassActive: true,
                    transitionStyle: "fade",
                    singleItem: true
                });
                $("#owl-demo2").owlCarousel({
                    slideSpeed: 300,
                    autoPlay: true,
                    navigation: true,
                    navigationText: ["&#xf007", "&#xf006"],
                    pagination: false,
                    singleItem: true
                });

                // Custom Navigation Events
                $(".next-arrow").click(function () {
                    theme_slider.trigger('owl.next');
                })
                $(".prev-arrow").click(function () {
                    theme_slider.trigger('owl.prev');
                })
            });
        </script>

    </head>
    <body class="size-1140">*@

@*<header>
            <div id="topbar">
                <div class="line">

                    <div> Welcome!
    @if (!User.Identity.IsAuthenticated)
    {<strong> Guest </strong>
    }
    else
    {<strong>, @Session["user"] (@Html.ActionLink("My Races", "MyRace", "Account"))</strong>}
    </div>

                    <div class="s-12 m-6 l-7">
                        <p><a href="#" onclick="menu_section('_RunningEvents')">Running</a>
                        | <a href="#" onclick="    menu_section('_CyclingEvents')">Cycling</a>
          </p>
                    </div>

                    <div class="s-12 m-6 l-4">
                        <div class="social right">
                            @if (!User.Identity.IsAuthenticated)
                            {<span><a href="~/account/Login">Login</a> | @Html.ActionLink("Signup", "Register", "Account", new { ReturnUrl = "" }, null) </span>}
                            else
                            {

                                using (Html.BeginForm("LogOff", "Account", FormMethod.Post,  new { id = "logoutForm"}))
                                {
                                    @Html.AntiForgeryToken()
                                    <span>
                                        <a href="javascript:document.getElementById('logoutForm').submit()" role="button"><span><i></i></span>Logout</a>|
                                        <a href=@Url.Action("ChangePassword","Account")>ChangePassword</a>
                                    </span>
                                }
                            }
                            <a href="https://www.facebook.com/click2race" target="_blank" title="facebook"><i class="icon-facebook_circle"></i></a>
                            <a href="https://twitter.com/click2race" target="_blank" title="Twitter"><i class="icon-twitter_circle"></i></a>

                        </div>
                    </div>
                </div>
            </div>
            <nav>

                <div class="line">
                    <div class="s-12 l-2">
                        <p class="logo"><a href="~/Home/Index"><img src="https://clicktorace.blob.core.windows.net/portalimages/logo.png" alt="" /></a></p>
                    </div>
                    <div class="top-nav s-12 l-10">
                        <p class="nav-text">Custom menu text</p>
                        <ul class="right">

                            <li><a href="~/Home/Index" ><span style="color:#FF8E00">Home</span></a></li>
                            <li><a href="~/Home/About">About</a></li>
                            <li><a href="~/Home/Groups">Groups</a></li>
                            <li><a href="~/Home/Racebook">Racebook</a></li>
                            <li><a href="~/Home/RunnersWallet">Runners Wallet</a></li>
                            <li><a href="~/Home/Contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>*@

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>click2race</title>
    <!-- fevicon start -->
    <link rel="apple-touch-icon" sizes="60x60" href="https://clicktorace.blob.core.windows.net/portalimages/apple-touch-icon.png">
    <link rel="icon" type="img/png" sizes="32x32" href="https://clicktorace.blob.core.windows.net/portalimages/favicon-32x32.png">
    <link rel="icon" type="img/png" sizes="16x16" href="https://clicktorace.blob.core.windows.net/portalimages/favicon-16x16.png">
    @*<link rel="manifest" href="/manifest.json">*@
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!-- fevicon end -->
    <link rel="stylesheet" href="../Contents-New/css/components.css">
    <link rel="stylesheet" href="../Contents-New/css/responsee.css">
    <link rel="stylesheet" href="../Contents-New/css/icons.css">
    <link rel="stylesheet" href="../Contents-New/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../Contents-New/owl-carousel/owl.theme.css">
    @*<link rel="stylesheet" href="../Contents-New/css/form.css">*@
    <link rel="stylesheet" href="../Contents-New/css/form-Old.css">

    <style>
        .HighLight{
            color:#FF8E00;
        }
    </style>
    <!-- CUSTOM STYLE -->
    @*@RenderSection("ExtendedMetaInformation", false)*@
    @RenderSection("ExtendedMetaInformation", required: false)
    <link rel="stylesheet" href="../Contents-New/css/template-style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    @*<script src="~/Content/scripts/base.js"></script>*@
    @*<script type="text/javascript" src="../Contents-New/js/jquery-1.8.3.min.js"></script>
        <script type="text/javascript" src="../Contents-New/js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="../Contents-New/js/template-scripts.js"></script>*@
</head>
<body class="size-1140">
    <!-- TOP NAV WITH LOGO -->
    <header>
        <div id="userband">

            @if (!User.Identity.IsAuthenticated)
                {
                <p>
                    Welcome! Guest Not a user yet? Why not @Html.ActionLink("Signup", "Register", "Account", new { ReturnUrl = "" }, new {  @style = "color:#fff;" })
                </p>
                }
                else
                {
                <p>
                    Welcome! &nbsp;   @Session["user"] (<a href="~/Account/MyRace" style="color:#fff;">My Races</a> )
                </p>}




        </div>

        <div id="topbar">

            <div class="line">
                <div class="s-12 m-6 l-7">
                    <p>
                        <a href="#" onclick="menu_section('_RunningEvents')">Running</a>
                        | <a href="#" onclick="    menu_section('_CyclingEvents')">Cycling</a>
                    </p>
                </div>
                <div class="s-12 m-6 l-4">
                    <div class="social right">
                        @if (!User.Identity.IsAuthenticated)
                        {<span><a href="~/account/Login">Login</a> | @Html.ActionLink("Signup", "Register", "Account", new { ReturnUrl = "" }, null) </span>}
                        else
                        {

                            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <span>
                                    <a href="javascript:document.getElementById('logoutForm').submit()" role="button"><span><i></i></span>Logout </a>|
                                    <a href=@Url.Action("ChangePassword","Account")>Change Password</a>
                                </span>
                            }
                        }
                        @*<a>Login</a> | <a>Signup</a>*@ &nbsp;&nbsp;&nbsp;
                        <a href="https://www.facebook.com/click2race" target="_blank" title="facebook"><i class="icon-facebook_circle"></i></a>
                        <a href="https://twitter.com/click2race" target="_blank" title="Twitter"><i class="icon-twitter_circle"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <div class="line">
                <div class="s-12 l-2">
                    <p class="logo"><a href="~/Home/Index"><img src="https://clicktorace.blob.core.windows.net/portalimages/logo.png" alt="" /></a></p>
                </div>
                <div class="top-nav s-12 l-10">
                    <p class="nav-text">Menu</p>
                    <ul class="right">
                        <li id="liHome"><a href="~/Home/Index">Home</a></li>
                        <li><a href="~/Home/About">About</a></li>
                        <li><a href="~/Home/Groups">Groups</a></li>
                        <li><a href="~/Home/RunnersWallet">Runners Wallet</a></li>
                        <li><a href="~/Home/Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>
    <!-- Header End====================================================================== -->

</body>
</html>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jqueryajax")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/util")
<script src="~/Content/scripts/countries.js"></script>
<script>print_nationality("nationality");</script>
<script>print_country("country");</script>

<script type="text/javascript" src="../Contents-New/owl-carousel/owl.carousel.js"></script>
<script>
$('.nav-text').on('click', function () {
    $('.top-nav > ul').toggle();
});

</script>
