﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width">
    <title>@ViewBag.Title</title>
    <meta name="description" content="One goto place for all the races, register once and then just CLICK 2 RACE">
    <meta name="keywords" content="click2race, marathon running, marathons in 2014, marathon events, triathlon, cycling, swimming">
    <meta name="author" content="click2race">
    <meta name="generator" content="click2race">
    @RenderSection("ExtendedMetaInformation", required: false)
    @Styles.Render("~/Content/base")
    @*<link href="~/Content/css/base.min.css" rel="stylesheet" />*@
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    @*<link href="~/Content/css/bootstrap-responsive.css" rel="stylesheet" />*@
    <link href="~/Content/css/bootstrap-overrides.min.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/font-icons/flaticon.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.fileupload.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-social.min.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/smallimages/favicon.ico">
   <script type="text/javascript">
  var appInsights=window.appInsights||function(config){
    function r(config){t[config]=function(){var i=arguments;t.queue.push(function(){t[config].apply(t,i)})}}var t={config:config},u=document,e=window,o="script",s=u.createElement(o),i,f;for(s.src=config.url||"//az416426.vo.msecnd.net/scripts/a/ai.0.js",u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=["Event","Exception","Metric","PageView","Trace"];i.length;)r("track"+i.pop());return r("setAuthenticatedUserContext"),r("clearAuthenticatedUserContext"),config.disableExceptionTracking||(i="onerror",r("_"+i),f=e[i],e[i]=function(config,r,u,e,o){var s=f&&f(config,r,u,e,o);return s!==!0&&t["_"+i](config,r,u,e,o),s}),t
    }({
        instrumentationKey:"ad780efd-a919-4c77-abad-0717d1641bdb"
    });

    window.appInsights=appInsights;
    appInsights.trackPageView();
    </script>
</head>
<body>
    <div id="maindiv">
        <div id="header">
            <div class="" style="width: 1000px; -moz-min-width:1000px; -ms-min-width:1000px; -o-min-width:1000px; -webkit-min-width:1000px; min-width:1000px; margin: 0 auto;">
                <div id="welcomeLine" class="row">
                </div>
                <!-- Navbar ================================================== -->
                <div id="logoArea" class="navbar2">
                    @*<a id="smallScreen" data-target="#topMenu" data-toggle="collapse" class="btn btn-navbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>*@
                    <div class="navbar-inner2">
                        <a class="brand" href=@Url.Action("Index","Home")>
                            @*TODO: Fixx all these hard cooded values*@
                            <span style="color: #F39C12; -webkit-text-shadow: none; -ms-text-shadow:none; text-shadow:none; font-size:xx-large; font-weight:bold">click<span style="color: white">2</span>race</span>
                        </a>
                        @*@Html.Action("Search", "Home")*@
                        <ul id="topMenu" class="" style="list-style: none;padding: 0;float: right;">
                            <li class="" style=" display: inline;">@Html.ActionLink("Home", "Index", "Home")</li>
                            <li class="" style=" display: inline;">@Html.ActionLink("About Us", "About", "Home")</li>
                            <li class="" style=" display: inline;">@Html.ActionLink("Groups", "Groups", "Home")</li>
                            @*<li class="" style=" display: inline;">@Html.ActionLink("RACEBOOK***", "Racebook", "Home")</li>
                            <li class="" style=" display: inline;">@Html.ActionLink("Runner's Wallet", "RunnersWallet", "Home")</li>*@
                            <li class="" style=" display: inline;">@Html.ActionLink("Contact Us", "Contact", "Home")</li>
                            <li class="dropdown" style=" display: inline-block">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#"><i class="fa fa-cog fa-fw"></i>Account</a>
                                @Html.Partial("_LoginPartial")
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <!-- Header End====================================================================== -->
        @*</div>*@

    </div>
    <!-- Footer ================================================================== -->
    @Html.Partial("_Footer")
    <!-- Placed at the end of the document so the pages load faster ============================================= -->
    @*@Scripts.Render("~/bundles/modernizr")*@
    @Scripts.Render("~/bundles/jquery")
    @*<script src="~/Content/scripts/jquery.slides.min.js"></script>*@
    @*<script src="~/Content/scripts/jquery-ui.js"></script>*@
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Content/scripts/jquery.validate.unobtrusive.min.js"></script>*@
    @*<script src="~/Content/scripts/additional-methods.js"></script>*@
    @*<script src="~/Content/scripts/jquery.passstrength.min.js"></script>*@
    @Scripts.Render("~/bundles/jqueryajax")
    @*<script src="~/Content/scripts/jquery.bpopup.min.js"></script>*@
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/util")
    @*<script src="~/Content/scripts/jquery.fileupload.js"></script>*@
    @*<script src="~/Content/scripts/jquery.ui.widget.js"></script>*@
    @*<script src="~/Content/scripts/updater.js"></script>*@
    <script>print_nationality("nationality");</script>
    <script>print_country("country");</script>
    @*<script src="~/Content/scripts/transaction.js"></script>*@
    @*<script src="~/Content/scripts/mailgun_validator.js"></script>*@
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <div id="popup">
        <span class="modalbutton b-close"><span>X</span></span>
        <div class="content"></div>
    </div>
    <!-- UserVoice JavaScript SDK (only needed once on a page) -->
    <script>(function () { var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true; uv.src = '//widget.uservoice.com/csVzXXWrQkCvSXEdFYbqRw.js'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s) })()</script>
    <!-- A tab to launch the Classic Widget -->
    @*<script>
        UserVoice = window.UserVoice || [];
        UserVoice.push(['showTab', 'classic_widget', {
            mode: 'full',
            primary_color: '#246BB2',
            link_color: '#f39c32',
            default_mode: 'feedback',
            forum_id: 261771,
            support_tab_name: 'How can we help you?',
            feedback_tab_name: 'Please give your worthy feedback',
            tab_label: 'Feedback & Support',
            tab_color: '#246BB2',
            tab_position: 'middle-left',
            tab_inverted: false
        }]);
    </script>*@
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-19822481-3', 'auto');
        ga('send', 'pageview');

    </script>
</body>
</html>
