﻿<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Click2race :: Admin Page</title>
    @*<link rel="icon" type="image/png" href="~/Content/smallimages/favicon.ico">*@
    <link rel="stylesheet" href="../Contents-New/admin/css/components.css">
    <link rel="stylesheet" href="../Contents-New/admin/css/icons.css">
    <link rel="stylesheet" href="../Contents-New/admin/css/responsee.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="../Contents-New/admin/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../Contents-New/admin/js/jquery-ui.min.js"></script>
    <!----font-Awesome----->
    <link rel="stylesheet" href="../Contents-New/admin/css/font-awesome.min.css">
    <!----font-Awesome----->
</head>

<body class="size-1140" style=" background-image:url(../Contents-New/admin/img/3.jpg);">
    <!-- TOP NAV WITH LOGO -->
    <header>
        <nav>
            <div class="line">
                <div class="s-12 l-2"> <a href="index.html"><img class="s-5 l-12 center" src="../Contents-New/admin/img/logo.png"></a> </div>
            </div>
        </nav>
    </header>
    <!-- ASIDE NAV AND CONTENT -->
    <div class="line" style="margin-top:10%;">
        <div class="box  margin-bottom">
            <div class="margin">
                <!-- ASIDE NAV 1 -->
                <!-- CONTENT -->
                <section class="s-12 l-9">
                    @*<div id="maindiv">
                        <div id="header">

                        </div>*@
                    <div>
                        @RenderBody()
                    </div>


                </section>
                <!-- ASIDE NAV 2 -->

            </div>
        </div>
    </div>

    <script type="text/javascript" src="../Contents-New/admin/js/responsee.js"></script>
</body>
</html>