<ul class="dropdown-menu">
    @if (User.Identity.IsAuthenticated) {
        <li>
            <a href=@Url.Action("Edit","Account")><span><i class="fa fa-pencil"></i></span>Update Profile</a>
        </li>
        <li>
            <a href=@Url.Action("MyRace","Account")><span><i class="fa fa-book"></i></span>My Race</a>
        </li>
        <li>
            <a href=@Url.Action("ChangePassword","Account")><span><i class="fa fa-pencil"></i></span>Change Password</a>
        </li>
        <li>
            <a href="#"><span><i class="fa fa-frown-o"></i></span>De-activate account</a>
        </li>
        <li class="divider">
        </li>
        <li>
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()" role="button"><span><i class="fa fa-power-off"></i></span>Logout</a>
            }
        </li>

    } else {
        <li><a href=@Url.Action("Login","Account") role="button"><span><i class="fa fa-sign-in"></i></span>Login</a></li>
        <li><a href=@Url.Action("ForgotPassword","Account") role="button"><span><i class="fa fa-frown-o"></i></span>Forgot Password</a></li>
    }
</ul>