﻿
<form class="form-inline navbar-search" method="post" action="#">
    <input id="srchFld" class="srchTxt" type="text" />
    <select class="srchTxt">
        <option>All</option>
        <option>Running</option>
        <option>Cycling</option>
        @*<option>Swimming</option>
        <option>Triathlon</option>*@
    </select>
    <button type="submit" id="submitButton" class="btn btn-primary">Go</button>
</form>