﻿<div id="sidebar" class="span3">
    <div class="well well-small"><a id="myCart" href="#">You have registered for</a></div>
    <ul id="sideManu" class="nav nav-tabs nav-stacked">
        <li class="subMenu open">
            <a> Marathon Category 1</a>
            <ul>
                <li><a class="active" href="#"><i class="fa fa-chevron-right"></i>Sub Category 1 </a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 2 </a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 3 </a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 4 </a></li>
            </ul>
        </li>
        <li class="subMenu">
            <a> Marathon Category 2 </a>
            <ul style="display:none">
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 1 (2)</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 2 (5)</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 3 (5)</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 4  (45)</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 5 (6)</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 6 (5)</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 7 (3)</a></li>
            </ul>
        </li>
        <li class="subMenu">
            <a>Marathon Category 3 </a>
            <ul style="display:none">
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 1  (35)</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 2 (8)</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 3 (5)</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 4  (45)</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 5 (8)</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 6 (5)</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 7 (3)</a></li>
                <li><a href="#"><i class="fa fa-chevron-right"></i>Sub Category 8 (11)</a></li>
            </ul>
        </li>
        <li><a href="#">Marathon Category 4</a></li>
        <li><a href="#">Marathon Category 5</a></li>
        <li><a href="#">Marathon Category 6</a></li>
    </ul>
    <br />

    <div class="thumbnail">
        <img src="~/Content/images/payment_methods.png" title="Bootshop Payment Methods" alt="Payments Methods">
        <div class="caption">
            <h5>Payment Method</h5>
        </div>
    </div>
</div>
