﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";

    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<div id="carousel">

    <div class="item imgtop">
  
</div>
   
        <div id="first-block" >
            <div class="line">
                <h2 style="color:#fff;"> Oops! Something went wrong!!</h2>
                <div >
                    <div style="color:#fff;">
                        @if (ViewBag.ErrorMessage != null)
                        {
                            @ViewBag.ErrorMessage
                        }
                        <br />
                        <br />
                        <br />
                        <br />
                        <span id="return_hover">@Html.ActionLink("Return To HomePage", "Index", "Home", new { @style = "color:#fff;" })</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
 

    <footer>
        <div class="line">
            <div class="s-12 l-6 ">
                <p>
                    Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                    <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="~/Home/TermsOfUse">Terms of Use</a>
                </p>

            </div>
            <div class="s-3 l-5">

                <div class="line">
                    <div class="margin">
                        <div class="s-6 l-five">
                            <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                        </div>
                        <div class="s-6 l-five">
                            <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                        </div>
                        <div class="s-6 l-five">
                            <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                        </div>
                        <div class="s-6 l-five">
                            <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                        </div>
                    </div>
                </div>




            </div>




        </div>
    </footer>
