﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
}
<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item imgtop">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/closetop.jpg" alt="">

        </div>
        <!-- FIRST BLOCK -->
        <div id="first-block">
            <div class="line">
                <h1>Registration for this event is closed.</h1>

            </div>
        </div>
        <!-- FEATURES -->
        <!-- CONTACT -->
        <!-- MAP -->

</section>
