body {
    /*background-color: white;*/
    /*background-image: url("..")*/
    /*background-image: url(https://clicktorace.blob.core.windows.net/portalimages/background.jpg);*/
    background: url(https://clicktorace.blob.core.windows.net/portalimages/background.jpg) 0 0;
    float: left;
    -moz-min-width: 100%;
    -ms-min-width: 100%;
    -o-min-width: 100%;
    -webkit-min-width: 100%;
    min-width: 100%;
}

#mainBody { /* background: url(../images/seperator.png) repeat-x 0 0; */
    border-top: 2px solid #dedede;
    padding-top: 0;
    min-width: 1000px;
    width: 1000px;
    min-height: 350px;
    margin: 0 auto;
}

#maincontainer {
    min-height: 450px;
    background-color: white;
}

a:hover {
    color: #f39c32;
}

#headerpage {
    background-color: white;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.clr {
    clear: both;
}

.cntr {
    text-align: center;
}

.marginLess {
    margin: 0;
}

#logoArea, #logoArea a {
    line-height: 35px;
}

    #logoArea .btn, #logoArea .btn-group {
        margin-top: 0;
    }

#logo {
    padding-right: 28px;
}

#welcomeLine {
    padding: 8px 0 4px;
}
/* Sidebar--------- */
#myCart img {
    float: left;
    margin-right: 8px;
}

#myCart .badge {
    padding: 9px;
}

#myCart {
    font-size: 13px;
    font-weight: bold;
    line-height: 33px;
}

#sidebar ul ul li a {
    font-size: 12px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

    #sidebar ul li li a {
        background: #eee;
        padding-left: 14px;
        font-weight: normal;
        display: block;
        font-size: 13px;
        line-height: 26px;
    }
/* body--- */
.thumbnail > a {
    display: block;
    text-align: center;
    height: 153px;
}

.thumbnail h5, .thumbnail p {
    text-align: center;
}
/* Product page--- */
.alignR {
    text-align: right;
}

.control-label.alignL, .alignL {
    text-align: left;
}

.loginFrm {
    margin-bottom: 8px;
}

    .loginFrm .control-group {
        padding: 8px 14px 0;
        margin-bottom: 0;
        text-align: center;
    }
/* Compair product page */
.checkbox input[type="checkbox"] {
    margin: 4px 0 8px -20px;
}

#sm {
    text-align: right;
}

    #sm a {
        margin: 4px;
        width: 32px;
    }
/* Carousel  */
#myCarousel {
    text-align: center;
    margin-bottom: 0;
}

    #myCarousel .btn {
        position: absolute;
        bottom: 10%;
        right: 17%;
        padding: 2% 6%;
        z-index: 9999;
    }

    #myCarousel .carousel-caption {
        display: none;
    }

    #myCarousel.homCar .item img {
        width: 100%;
        max-height: 506px;
    }

#productView .btn-toolbar {
    padding-left: 3px;
}

#productDetail > li, .nav-pills > li {
    float: right;
}

#myTabContent {
    text-align: justify;
}

#compairTbl td {
    text-align: center;
}

#accordion2, #legalNotice, .justify, #mainCol {
    text-align: justify;
}

#myCarousel .carousel-control {
    display: none;
}

#myCarousel:hover .carousel-control {
    display: block;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #fff;
    background-color: #CF0007;
    text-shadow: none;
}
/* Footer section--------------- */
#footerSection {
    background: #246BB2;
    color: white;
    /*margin-top: 20px;*/
    border-top: 1px solid white;
    height: 100%;
}

    #footerSection a {
        color: #ccc;
        font-size: small;
        padding: 0;
        line-height: 24px;
        display: block;
    }

        #footerSection a:hover {
            color: #fff;
        }

    #footerSection #socialMedia a {
        min-width: 25px;
        display: inline;
        margin-right: 6px;
        text-align: center;
        line-height: 1.5em;
        text-decoration: none;
    }

    #footerSection #policy a {
        min-width: 25px;
        display: inline;
        font-size: small;
        text-align: center;
        line-height: 1.5em;
    }

    #footerSection #policy span {
        min-width: 25px;
        display: inline;
        text-align: center;
        line-height: 1.5em;
        font-size: smaller;
    }

#socialMedia img {
    max-width: 60px;
}

#footerSection #socialMedia a:hover {
    background: none;
}
/* ===================================================== */
/* Light Box------------------- */
#jquery-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    width: 100%;
    height: 500px;
}

#jquery-lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    text-align: center;
    line-height: 0;
}

    #jquery-lightbox a img {
        border: none;
    }

#lightbox-container-image-box {
    position: relative;
    background-color: #fff;
    width: 250px;
    height: 250px;
    margin: 0 auto;
}

#lightbox-container-image {
    padding: 10px;
}

#lightbox-loading {
    position: absolute;
    top: 40%;
    left: 0%;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

#lightbox-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#lightbox-container-image-box > #lightbox-nav {
    left: 0;
}

#lightbox-nav a {
    outline: none;
}

#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
    width: 49%;
    height: 100%;
    zoom: 1;
    display: block;
}

#lightbox-nav-btnPrev {
    left: 0;
    float: left;
}

#lightbox-nav-btnNext {
    right: 0;
    float: right;
}

#lightbox-container-image-data-box {
    font: 10px Verdana, Helvetica, sans-serif;
    background-color: #fff;
    margin: 0 auto;
    line-height: 1.4em;
    overflow: auto;
    width: 100%;
    padding: 0 10px 0;
}

#lightbox-container-image-data {
    padding: 0 10px;
    color: #666;
}

    #lightbox-container-image-data #lightbox-image-details {
        width: 70%;
        float: left;
        text-align: left;
    }

#lightbox-image-details-caption {
    font-weight: bold;
}

#lightbox-image-details-currentNumber {
    display: block;
    clear: left;
    padding-bottom: 1.0em;
}

#lightbox-secNav-btnClose {
    width: 66px;
    float: right;
    padding-bottom: 0.7em;
}
/* ------------------------------- */
.navbar-search .srchTxt {
    border-radius: 0;
    border: 1px solid #444;
}

/*[class^="icon-"], [class*=" icon-"] {
    background-image: none;
}*/

.navbar .nav > li > a {
    padding: 10px;
    color: #DDD;
    text-shadow: none;
    font-size: 16px;
}

    .navbar .nav > li > a:hover {
        color: #fff;
    }

#logoArea, #logoArea a {
    outline: none;
    position: inherit;
}

.alignR .checkbox input[type="checkbox"] {
    float: right;
    margin: 4px 0 8px 11px;
}

#logoArea #smallScreen {
    margin: 21px 14px 0 0;
}

.navbar-search {
    margin-top: 8px;
}


.menupad {
    text-align: center;
    position: relative;
    width: 300px;
    height: 70px;
    margin-bottom: 5px;
}

#maindiv {
    -moz-min-width: 850px;
    -ms-min-width: 850px;
    -o-min-width: 850px;
    -webkit-min-width: 850px;
    min-width: 850px;
    padding-bottom: 5px;
}

.courousel {
    /*width: 900px;*/
    /*height: 300px;*/
    /*float: right;*/
    border: 2px solid white;
    -ms-border-radius: 2px;
    border-radius: 2px;
}

.register {
    width: 50%;
    margin-left: 25%;
    min-height: 700px;
}

.registermultipleforms {
    /*width: 50%;
    margin-left: 25%;*/
    min-height: 700px;
}

.error_link {
    width: 50%;
    margin-left: 25%;
    font-size: x-large;
    margin-top: 20%;
    color: red;
    text-align: center;
    text-align: -webkit-center;
}

.success_link {
    width: 50%;
    margin-left: 25%;
    font-size: x-large;
    margin-top: 20%;
    color: #246BB2;
    text-align: center;
    text-align: -webkit-center;
}

.black_hover {
    font-size: x-large;
    text-align: center;
    padding-top: 30%;
}

.center_header {
    text-align: center;
}


/*Terms and conditions*/
#popup, #popup_home {
    background-color: #fff;
    -ms-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -webkit-box-shadow: 0 0 25px 5px #999;
    -ms-box-shadow: 0 0 25px 5px #999;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    -moz-min-width: 800px;
    -ms-min-width: 800px;
    -o-min-width: 800px;
    -webkit-min-width: 800px;
    min-width: 800px;
    width: 80%;
    padding: 25px;
}


.modalbutton.b-close, .modalbutton.bClose {
    -ms-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
    font: bold 131% sans-serif;
    padding: 0 6px 2px;
    position: absolute;
    right: -7px;
    top: -7px;
}

.modalbutton {
    background-color: #246BB2;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 2px 3px #000000;
    -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    -ms-box-shadow: 0 2px 3px #000000;
    -ms-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    box-shadow: 0 2px 3px #000000;
    box-shadow: 0 2px 3px rgba(0,0,0,0.3);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
    display: block;
}

label.error {
    color: #ff0000;
    display: block;
}

.field-validation-valid {
    display: none;
}
/*TODO: find a way to fix this*/
/*.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}*/

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label {
    margin: 1em 0 0 0;
}

.display-field,
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}

.thumbnailsize {
    width: 200px;
    height: 290px;
}

.thumbnailformsize {
    width: 300px;
    height: auto;
}

.wrapper {
    min-height: 70%;
    height: auto !important;
    margin: 0 auto -4em;
}

.lower, .push {
    height: 4em;
}

.clk2raceSettingsListEdit {
    color: #3b5998;
    float: right;
    padding-left: 25px;
    padding-right: 5px;
    text-align: right;
}

.clk2raceSettingsListGroupEdit {
    color: #3b5998;
    float: right;
    padding-left: 25px;
    padding-right: 5px;
    text-align: right;
}

.clk2raceSettingsListContent {
    padding-left: 0;
    width: 250px;
    /*white-space: nowrap;*/
    overflow: hidden !important;
    /*text-overflow: ellipsis;*/
    float: left;
}

.clk2raceSettingsListLabel {
    color: #333;
    float: left;
    width: 165px;
}

.clk2raceSettingsList {
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
    margin: 0 0 0 0;
}


    .clk2raceSettingsList a.clk2raceSettingsListLink {
        background: transparent;
        display: block;
        text-decoration: none;
        color: #333;
    }

        .clk2raceSettingsList a.clk2raceSettingsListLink:hover {
            background-color: #f2efef;
        }

.pvm {
    padding-top: 10px;
    padding-bottom: 10px;
}

.phs {
    padding-left: 5px;
    padding-right: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.clk2raceSettingsListEdit:hover {
    text-decoration: underline;
}

.clk2raceSettingsList > li {
    border-color: #246BB2;
    border-style: solid;
    border-width: 1px 0 0 0;
}


.clk2raceSettingMenu {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

    .clk2raceSettingMenu li a {
        text-decoration: none;
        padding: 10.5px 11px;
        display: block;
    }

        .clk2raceSettingMenu li a:visited {
            color: white;
        }

        .clk2raceSettingMenu li a:hover, .clk2raceSettingMenu li .current {
            color: white;
            background-color: #246BB2;
        }

.buttonlink, .buttonlink:focus, .buttonlink:hover {
    /* Remove all decorations to look like normal text */
    background: none;
    border: none;
    display: inline;
    font: inherit;
    margin: 0;
    padding: 0;
    outline: none;
    outline-offset: 0;
    /* Additional styles to look like a link */
    color: #3b5998;
    cursor: pointer;
    text-decoration: underline;
}

    .buttonlink::-moz-focus-inner {
        border: none;
        padding: 0;
    }

.forminsideul {
    margin: 0;
    padding: 0;
    /*display: table-row;*/
}

    .forminsideul li {
        padding: 2px;
        display: table;
        width: 100%;
    }

    .forminsideul span {
        padding: 5px;
    }

    .forminsideul div {
        padding: 5px;
    }

.black_hover a:hover {
    color: black;
}

.navbar2 {
    margin-bottom: 5px;
    line-height: 45px;
}


.navbar-inner2 {
    min-width: 900px;
    padding-right: 20px;
    padding-left: 20px;
    min-height: 40px;
    padding: 10px;
    border: 1px solid #d4d4d4;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: #246BB2;
    background-image: none;
    background-repeat: repeat-x;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

#topMenu > li > a {
    padding: 10px;
    color: white;
    -ms-text-shadow: none;
    text-shadow: none;
    font-size: 16px;
}

    #topMenu > li > a:hover {
        text-decoration: none;
        color: #f39c32;
    }

#enroll_link {
    background-color: #246BB2;
    padding: 10px;
    color: white;
}

    #enroll_link a {
        color: white;
    }


/*EnrollBengaluruMarathon Start*/
.mid-section {
    /* padding-left: 10px; */
    margin-top: 50%;
    margin-left: 10%;
    background: #246BB2;
    padding: 10px;
    padding-top: 50px;
    margin-right: 10%;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    color: white;
}

.leftedit {
    width: 52%;
    float: left;
    margin-left: 5px;
}

.rightpay {
    width: 45%;
    float: right;
}

.CSSTableGenerator {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}

    .CSSTableGenerator table {
        border-collapse: collapse;
        border-spacing: 0;
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    .CSSTableGenerator tr:last-child td:last-child {
        -moz-border-radius-bottomright: 0px;
        -webkit-border-bottom-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .CSSTableGenerator table tr:first-child td:first-child {
        -moz-border-radius-topleft: 0px;
        -webkit-border-top-left-radius: 0px;
        border-top-left-radius: 0px;
    }

    .CSSTableGenerator table tr:first-child td:last-child {
        -moz-border-radius-topright: 0px;
        -webkit-border-top-right-radius: 0px;
        border-top-right-radius: 0px;
    }

    .CSSTableGenerator tr:last-child td:first-child {
        -moz-border-radius-bottomleft: 0px;
        -webkit-border-bottom-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .CSSTableGenerator tr:hover td {
    }

    .CSSTableGenerator tr:nth-child(odd) {
        background-color: #b7b0a8;
    }

    .CSSTableGenerator tr:nth-child(even) {
        background-color: #ffffff;
    }

    .CSSTableGenerator td {
        vertical-align: middle;
        border: 1px solid #000000;
        border-width: 0px 1px 1px 0px;
        text-align: left;
        padding: 7px;
        font-size: 10px;
        font-family: Arial;
        font-weight: normal;
        color: #000000;
    }

    .CSSTableGenerator tr:last-child td {
        border-width: 0px 1px 0px 0px;
    }

    .CSSTableGenerator tr td:last-child {
        border-width: 0px 0px 1px 0px;
    }

    .CSSTableGenerator tr:last-child td:last-child {
        border-width: 0px 0px 0px 0px;
    }

    .CSSTableGenerator tr:first-child td {
        background: -o-linear-gradient(bottom, #918c87 5%, #262321 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #918c87), color-stop(1, #262321) );
        background: -moz-linear-gradient( center top, #918c87 5%, #262321 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#918c87", endColorstr="#262321");
        background: -o-linear-gradient(top,#918c87,262321);
        background-color: #918c87;
        border: 0px solid #000000;
        text-align: center;
        border-width: 0px 0px 1px 1px;
        font-size: 14px;
        font-family: Arial;
        font-weight: bold;
        color: #ffffff;
    }

    .CSSTableGenerator tr:first-child:hover td {
        background: -o-linear-gradient(bottom, #918c87 5%, #262321 100%);
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #918c87), color-stop(1, #262321) );
        background: -moz-linear-gradient( center top, #918c87 5%, #262321 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#918c87", endColorstr="#262321");
        background: -o-linear-gradient(top,#918c87,262321);
        background-color: #918c87;
    }

    .CSSTableGenerator tr:first-child td:first-child {
        border-width: 0px 0px 1px 0px;
    }

    .CSSTableGenerator tr:first-child td:last-child {
        border-width: 0px 0px 1px 1px;
    }

/*EnrollBengaluruMarathon End*/

