﻿@model Marathonrunners.Models.AccountActivationViewModel
@{
    ViewBag.Title = "AccountActivation";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";

}
<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item">
            <img src="img/password.jpg" alt="">
            <div class="line"> </div>
        </div>
        <!-- form starts -->

        <div id="contact">
            <div class="line">

                <div class="margin">
                    <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
                        <img src="img/contact.jpg" alt="">
                    </div>
                    <div class="s-12 m-12 l-4 margin-bottom right-align">

                        <!-- <address>
                            <p><strong>Adress:</strong> Gallayova 19, 841 02 Bratislava</p>
                            <p><strong>Country:</strong> Slovakia - Europe</p>
                            <p><strong>E-mail:</strong> info@visiondesign.sk</p>
                         </address>-->
                        <br />
                        <p><strong>Password Criteria</strong></p>

                        <p>Minimum Length 7 Character</p>
                        <p>Atlease 1 Numeric Character</p>
                        <p>Example : Click2race</p>
                    </div>
                    <div class="s-12 m-12 l-5">
@using (Html.BeginForm("AccountActivation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "activation_form", @class = "customform", @role = "form" })) {
    @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                            <h3>Activation Code</h3>
                            <div class="s-12">
                        @Html.TextBoxFor(model => model.ActivationCode, new {  @value = ViewBag.ActivationCode, @readonly = "readonly", @style = "display:none" })
</div><br>
                            <h3>Password</h3>
                            <div class="s-12">
                        @*<input name="newpw" placeholder="Password" title="New Password" type="password" />*@
                                @Html.PasswordFor(model => model.Password, new { @name = "password", @id = "password", @placeholder = "Password", @title = "This should print" })
                                @Html.ValidationMessageFor(model => model.Password)


                            </div>
                            <h3>Confirm Password</h3>
                            <div class="s-12">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @name = "confirm_password", @id = "confirm_password", @placeholder = "Re-enter Password" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)


                        @*<input name="changepw" placeholder="Confirm Password" title="Confirm Password" type="password" />*@
                            </div>     
                      <div class="s-12 m-12 l-4">
                          <button class="color-btn" id="submitbtn" type="submit">Activate</button>
                          @*<input class="btn btn-large btn-success" type="submit" id="submitbtn" value="Activate" />*@
                        </div>
}
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- formm ends -->
        <!-- FIRST BLOCK -->
        <!-- FEATURES -->
        <!-- CONTACT -->
        <!-- MAP -->

</section>
<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>
@*<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header"> Create a password</h3>
            <div class="well" style="height: 700px">
                <div class="register">

                    @using (Html.BeginForm("AccountActivation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "activation_form", @class = "form-horizontal", @role = "form" })) {
                        @Html.AntiForgeryToken()
                        <div class="alert alert-info fade in">
                            Password criteria:
                            <ol>
                                <li>
                                    Minimum Length 7 characters
                                </li>
                                <li>
                                    Atleast one Numeric character
                                </li>
                            </ol>
                            Example: qwerty1
                        </div>
                        if (!ViewData.ModelState.IsValid) {
                            <div class="alert alert-block alert-error fade in">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>@Html.ValidationSummary()</strong>
                            </div>
                        }
                        <div class="control-group">
                            @Html.LabelFor(model => model.ActivationCode, new { @class = "control-label" })
                            <div class="controls">
                                <label>@ViewBag.ActivationCode</label>
                                @Html.TextBoxFor(model => model.ActivationCode, new { @class = "control-label", @value = ViewBag.ActivationCode, @readonly = "readonly", @style = "display:none" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                            <div class="controls">
                                @Html.PasswordFor(model => model.Password, new { @name = "password", @id = "password", @placeholder = "Password", @title = "This should print" })
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label" })
                            <div class="controls">
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @name = "confirm_password", @id = "confirm_password", @placeholder = "Re-enter Password" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                            </div>
                        </div>
                        <div style="text-align: center">
                            <input class="btn btn-large btn-success" type="submit" id="submitbtn" value="Activate" />
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>*@
