﻿@{
    Layout = null;
}
@*<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">*@
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Account Activation Link</title>
    <link href="~/Content/css/accountactivation.css" rel="stylesheet" />
</head>
<body>
    <center>
        <table border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="bodyTable">
            <tr>
                <td align="center" valign="top" id="bodyCell">
                    <!-- BEGIN TEMPLATE // -->
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN PREHEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templatePreheader">
                                    <tr>
                                        <td align="center" valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                                                <tr>
                                                    <td valign="top" class="preheaderContainer" style="padding-top:10px; padding-bottom:10px;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                                                            <tbody class="mcnDividerBlockOuter">
                                                                <tr>
                                                                    <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                                        <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span></span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnImageBlock">
                                                            <tbody class="mcnImageBlockOuter">
                                                                <tr>
                                                                    <td valign="top" style="padding:9px" class="mcnImageBlockInner">
                                                                        <table align="left" width="100%" border="0" cellpadding="0" cellspacing="0" class="mcnImageContentContainer">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td class="mcnImageContent" valign="top" style="padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 0; text-align:center;">


                                                                                        <img align="center" alt="" src="https://gallery.mailchimp.com/fa05630a8113957212a3e5eb8/images/d14389d1-d406-473b-a5f7-96daf21bee51.jpg" width="213" style="max-width:213px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">


                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END PREHEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN HEADER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateHeader">
                                    <tr>
                                        <td align="center" valign="top" style="padding-top:20px; padding-bottom:20px;">
                                            <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                                                <tr>
                                                    <td align="center" height="10" valign="top" width="10">
                                                        <img src="https://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/d4042106-8117-4b79-b76b-91f8d64c5dff.gif" height="10" width="10" style="display:block; line-height:0px;">
                                                    </td>
                                                    <td align="center" height="10" valign="top" class="headerRearBackground" style="opacity:0.5;">
                                                        <img src="https://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/640a7ee0-db88-4905-a550-89e571c94697.png" class="mcnImage" height="10" width="580" style="display:block; line-height:0px;">
                                                    </td>
                                                    <td align="center" height="10" valign="top" width="10">
                                                        <img src="https://gallery.mailchimp.com/27aac8a65e64c994c4416d6b8/images/d4042106-8117-4b79-b76b-91f8d64c5dff.gif" height="10" width="10" style="display:block; line-height:0px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center" colspan="3" valign="top">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="headerFrontBackground">
                                                            <tr>
                                                                <td align="center" valign="top">
                                                                    <!-- BEGIN HEADER // -->
                                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" id="">
                                                                        <tr>
                                                                            <td valign="top" class="headerContainer" style="padding-top:20px; padding-bottom:20px;">
                                                                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                                                    <tbody class="mcnTextBlockOuter">
                                                                                        <tr>
                                                                                            <td valign="top" class="mcnTextBlockInner">

                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                                                    <tbody>
                                                                                                        <tr>

                                                                                                            <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                                                                <h1 style="text-align: center;">You are just one step away from Registering for the Event..</h1>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>

                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                                                    <tbody class="mcnTextBlockOuter">
                                                                                        <tr>
                                                                                            <td valign="top" class="mcnTextBlockInner">

                                                                                                <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                                                    <tbody>
                                                                                                        <tr>

                                                                                                            <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                                                                <div style="text-align: center;">Here is your account activation link, after this your registrations for any event will be just one click away!</div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>

                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnButtonBlock">
                                                                                    <tbody class="mcnButtonBlockOuter">
                                                                                        <tr>
                                                                                            <td style="padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;" valign="top" align="center" class="mcnButtonBlockInner">
                                                                                                <table border="0" cellpadding="0" cellspacing="0" class="mcnButtonContentContainer" style="border-collapse: separate !important;border: 2px solid #F2F2F2;border-radius: 4px;background-color: #FFFFFF;">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td align="center" valign="middle" class="mcnButtonContent" style="font-family: Arial; font-size: 16px; padding: 20px;">
                                                                                                                <a class="mcnButton " title="Activate Account" href="@ViewBag.ActivationLink" target="_blank" style="font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #D55258;">Activate Account</a>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <!-- // END HEADER -->
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END HEADER -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top">
                                <!-- BEGIN BODY // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                                    <tr>
                                        <td align="center" valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                                                <tr>
                                                    <td valign="top" class="bodyContainer" style="padding-top:10px; padding-bottom:10px;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                            <tbody class="mcnTextBlockOuter">
                                                                <tr>
                                                                    <td valign="top" class="mcnTextBlockInner">

                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                            <tbody>
                                                                                <tr>

                                                                                    <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                                        <em>
                                                                                            Stay Fit,<br>
                                                                                            www.click2race.in
                                                                                        </em>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END BODY -->
                            </td>
                        </tr>
                        <tr>
                            <td align="center" valign="top" style="padding-bottom:40px;">
                                <!-- BEGIN FOOTER // -->
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateFooter">
                                    <tr>
                                        <td align="center" valign="top">
                                            <table border="0" cellpadding="0" cellspacing="0" width="600" class="templateContainer">
                                                <tr>
                                                    <td valign="top" class="footerContainer" style="padding-top:10px; padding-bottom:10px;">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnDividerBlock">
                                                            <tbody class="mcnDividerBlockOuter">
                                                                <tr>
                                                                    <td class="mcnDividerBlockInner" style="padding: 18px;">
                                                                        <table class="mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-top-width: 1px;border-top-style: solid;border-top-color: #AAAAAA;">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span></span>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnTextBlock">
                                                            <tbody class="mcnTextBlockOuter">
                                                                <tr>
                                                                    <td valign="top" class="mcnTextBlockInner">

                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" width="600" class="mcnTextContentContainer">
                                                                            <tbody>
                                                                                <tr>

                                                                                    <td valign="top" class="mcnTextContent" style="padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;">

                                                                                        <em>Copyright © 2016 click2race, All rights reserved.</em><br>
                                                                                        <br>
                                                                                        <strong>Our mailing address is:</strong><br>
                                                                                        support@click2race.in<br>
                                                                                        <br>
                                                                                        <a class="utilityLink" href="*|UNSUB|*">unsubscribe from this list</a>&nbsp; &nbsp;<br>
                                                                                        &nbsp;
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowBlock">
                                                            <tbody class="mcnFollowBlockOuter">
                                                                <tr>
                                                                    <td align="center" valign="top" style="padding:9px" class="mcnFollowBlockInner">
                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContentContainer">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td align="center" style="padding-left:9px;padding-right:9px;">
                                                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="mcnFollowContent" style="border: 1px solid #EEEEEE;background-color: #FAFAFA;">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td align="center" valign="top" style="padding-top:9px; padding-right:9px; padding-left:9px;">
                                                                                                        <table border="0" cellpadding="0" cellspacing="0">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td valign="top">


                                                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">

                                                                                                                            <tbody>
                                                                                                                                <tr>
                                                                                                                                    <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:10px; padding-bottom:5px;">
                                                                                                                                        <a href="https://www.facebook.com/click2race" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-96.png" alt="Facebook" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;"></a>
                                                                                                                                    </td>
                                                                                                                                </tr>


                                                                                                                                <tr>
                                                                                                                                    <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right:10px; padding-bottom:9px;">
                                                                                                                                        <a href="https://www.facebook.com/click2race" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Facebook</a>
                                                                                                                                    </td>
                                                                                                                                </tr>

                                                                                                                            </tbody>
                                                                                                                        </table>


                                                                                                                        <!--[if gte mso 6]>
                                                                                                                        </td>
                                                                                                                        <td align="left" valign="top">
                                                                                                                        <![endif]-->


                                                                                                                        <table align="left" border="0" cellpadding="0" cellspacing="0" class="mcnFollowStacked">

                                                                                                                            <tbody>
                                                                                                                                <tr>
                                                                                                                                    <td align="center" valign="top" class="mcnFollowIconContent" style="padding-right:0; padding-bottom:5px;">
                                                                                                                                        <a href="https://www.click2race.in" target="_blank"><img src="http://cdn-images.mailchimp.com/icons/social-block-v2/color-link-96.png" alt="Website" class="mcnFollowBlockIcon" width="48" style="width:48px; max-width:48px; display:block;"></a>
                                                                                                                                    </td>
                                                                                                                                </tr>


                                                                                                                                <tr>
                                                                                                                                    <td align="center" valign="top" class="mcnFollowTextContent" style="padding-right:0; padding-bottom:9px;">
                                                                                                                                        <a href="https://www.click2race.in" target="_blank" style="color: #606060;font-family: Arial;font-size: 11px;font-weight: normal;line-height: 100%;text-align: center;text-decoration: none;">Website</a>
                                                                                                                                    </td>
                                                                                                                                </tr>

                                                                                                                            </tbody>
                                                                                                                        </table>


                                                                                                                        <!--[if gte mso 6]>
                                                                                                                        </td>
                                                                                                                        <td align="left" valign="top">
                                                                                                                        <![endif]-->

                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <!-- // END FOOTER -->
                            </td>
                        </tr>
                    </table>
                    <!-- // END TEMPLATE -->
                </td>
            </tr>
        </table>
    </center>
</body>
</html>