﻿@using Microsoft.AspNet.Identity
@model Marathonrunners.Models.ManageUserViewModel
@{

    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages//changepwtop.jpg" alt="">
            <div class="line"> </div>
        </div>
        <!-- form starts -->

        <div id="contact">
            <div class="line">

                <div class="margin">
                    <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
                        <img src="https://clicktorace.blob.core.windows.net/portalimages//contact.jpg" alt="">
                    </div>
                    <div class="s-12 m-12 l-4 margin-bottom right-align">

                        <!-- <address>
                            <p><strong>Adress:</strong> Gallayova 19, 841 02 Bratislava</p>
                            <p><strong>Country:</strong> Slovakia - Europe</p>
                            <p><strong>E-mail:</strong> info@visiondesign.sk</p>
                         </address>-->
                        <br />

                        <p>Minimum Length 7 Character</p>
                        <p>Atlease 1 Numeric Character</p>
                        <p>Example : Click2race</p>
                    </div>
                   
                               </div>
                    <div class="s-12 m-12 l-5">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <strong>@Html.ValidationSummary()</strong>
                        }
                       @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "customform", role = "form" })) {
                        @Html.AntiForgeryToken()
                            <h3>Current Password</h3>
                            <div class="s-12">
                        @*<input name="currentpw" placeholder="Current Password" title="Current Password" type="password" />*@
                                @Html.PasswordFor(model => model.OldPassword, new { @name = "oldpassword", @id = "oldpassword", @placeholder = "Old Password", @title = "Old Password" })
                                @Html.ValidationMessageFor(model => model.OldPassword)
                            </div>
                            <h3>New Password</h3>
                            <div class="s-12">
                        @*<input name="newpw" placeholder="New Password" title="New Password" type="password" />*@
                                @Html.PasswordFor(model => model.NewPassword, new { @name = "password", @id = "password", @placeholder = "Password", @title = "New Password" })
                                @Html.ValidationMessageFor(model => model.NewPassword)
                            </div>
                            <h3>Confirm Password</h3>
                            <div class="s-12">
                        @*<input name="changepw" placeholder="Confirm Password" title="Confirm Password" type="password" />*@
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @name = "confirm_password", @id = "confirm_password", @placeholder = "Re-enter Password" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword)
                        </div>   
                               <div class="s-12 m-12 l-4"><button class="color-btn" type="submit" id="submitbtn">Update</button></div>
                       }
                    </div>
                </div>
            </div>
        </div>

        <!-- formm ends -->
        <!-- FIRST BLOCK -->
        <!-- FEATURES -->
        <!-- CONTACT -->
        <!-- MAP -->

</section>
<!-- FOOTER -->
<footer>
    <div class="line">
        <div class="s-12 l-6">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="disclaimer.html">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a href="privacypolicy.html">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="terms.html">Terms of Use</a>
            </p>
        </div>
        <div class="s-12 l-6"> </div>
    </div>
</footer>
