﻿@model Marathonrunners.Core.Entities.UserInfo
@{
    ViewBag.Title = "Update Profile";
    Html.EnableClientValidation(true);
}
@{
    //Locals
    var title = new string[] { "Male", "Female" };
}
<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header">Update Profile</h3>
            <div class="well">
                <div class="container-fluid">
                    <div class="row-fluid">
                        <div id="headerpage">
                            <div class="row-fluid">
                                <div class="span3">
                                </div>
                                <div class="span7 form-horizontal">
                                    @Html.Partial("_Edit", @Model)
                                </div>
                                <div class="span2"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- MainBody End ============================= -->