﻿@using Microsoft.AspNet.Identity
@using Microsoft.Ajax.Utilities
@using Microsoft.Owin.Security
@model Marathonrunners.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
@*<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/forgotpw.jpg" alt="">
            <div class="line"> </div>
        </div>
        <!-- form starts -->

        <div id="contact">
            <div class="line">

                <div class="margin">
                    <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
                        <img src="https://clicktorace.blob.core.windows.net/portalimages/contact.jpg" alt="">
                    </div>
                    <div class="s-12 m-12 l-4 margin-bottom right-align">

                        <!-- <address>
                            <p><strong>Adress:</strong> Gallayova 19, 841 02 Bratislava</p>
                            <p><strong>Country:</strong> Slovakia - Europe</p>
                            <p><strong>E-mail:</strong> info@visiondesign.sk</p>
                         </address>-->
                        <br />

                        <p><i class="icon-user icon"></i><button style="width:200px;">@Html.ActionLink(" Already User ? Signup", "Register", "Account", null)</button></p>
                        @{var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                        if (!loginProviders.Any())
                        {

                        }
                        else
                        {
                            using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
                            {
                                @Html.AntiForgeryToken()
                                <p>
                                    <i class="icon-google_plus icon"></i>
                                    <button style="width:200px;" type="submit" id="Google" name="provider" value="Google" title="Log in using your Google account">
                                        Signin with Google+
                                    </button>
                                </p>
                        <!-- <p class="margin-bottom"><i class="icon-twitter icon"></i> <a href="#">Responsee</a></p>-->
                            }
                        }
                        }    
                    </div>
                    <div class="s-12 m-12 l-5">
                        <h3>Enter Registered Email Id</h3>
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new {  role = "form" })) {
    @Html.AntiForgeryToken()
    if (!ViewData.ModelState.IsValid)
    {        
            <strong>@Html.ValidationSummary()</strong>
    }
                      
                            <div class="s-12">
                                @Html.TextBoxFor(m => m.Email, new { @placeholder ="Email Address" })
                            </div>
                           
                            <div class="s-12 m-12 l-4"><button class="color-btn" type="submit">Send Me</button></div>
}
                     
                    </div>
                </div>
            </div>
        </div>
</div>
        <!-- formm ends -->
        <!-- FIRST BLOCK -->
        <!-- FEATURES -->
        <!-- CONTACT -->
        <!-- MAP -->

</section>*@




<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/forgotpw.jpg" alt="">
            <div class="line"> </div>
        </div>
        <!-- form starts -->

        <div id="contact">
            <div class="line">

                <div class="margin">
                    <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
                        <img src="https://clicktorace.blob.core.windows.net/portalimages/contact.jpg" alt="">
                    </div>
                    <div class="s-12 m-12 l-4 margin-bottom right-align">


                        <br />

                        <p><i class="icon-user icon"></i><button style="width:200px;">@Html.ActionLink(" Already User ? Signup", "Register", "Account", null)</button></p>
                        
                        @{var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                        if (!loginProviders.Any())
                        {

                        }
                        else
                        {
                            using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl }))
                            {
                                @Html.AntiForgeryToken()
                                <p>
                                    <i class="icon-google_plus icon"></i>
                                    <button style="width:200px;" type="submit" id="Google" name="provider" value="Google" title="Log in using your Google account">
                                        Signin with Google+
                                    </button>
                                </p>
                        }
                        }
                        }
 </div>
   
                    <div class="s-12 m-12 l-5">
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    if (!ViewData.ModelState.IsValid)
    {
        <strong>@Html.ValidationSummary()</strong>
    }
                        <h3>Enter Registered Email Id</h3>
                            <div class="s-12">
                                @Html.TextBoxFor(m => m.Email, new { @placeholder ="Email Address" })
                            </div>
                           
                            <div class="s-12 m-12 l-4"><button class="color-btn" type="submit">Send Me</button></div>
                       }
                    </div>
                </div>
            </div>
        </div>

        <!-- formm ends -->
        <!-- FIRST BLOCK -->
        <!-- FEATURES -->
        <!-- CONTACT -->
        <!-- MAP -->

</section>
    <footer>
        <div class="line">
            <div class="s-12 l-6 ">
                <p>
                    Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                    <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                    <a href="~/Home/TermsOfUse">Terms of Use</a>
                </p>

            </div>
            <div class="s-3 l-5">

                <div class="line">
                    <div class="margin">
                        <div class="s-6 l-five">
                            <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                        </div>
                        <div class="s-6 l-five">
                            <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                        </div>
                        <div class="s-6 l-five">
                            <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                        </div>
                        <div class="s-6 l-five">
                            <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                        </div>
                    </div>
                </div>




            </div>




        </div>
    </footer>