﻿@using marathonrunners.Models
@using Microsoft.Ajax.Utilities
@using Microsoft.Owin.Security
@model Marathonrunners.Models.LoginViewModel
@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    //string param1 = HttpUtility.ParseQueryString(Request.QueryString["ReturnUrl"]).Get("eventid");
    Dictionary<String, String> result = new Dictionary<string, string>();
    bool isFastLaneActive = false;
    string eventId = "";
    if (Request.QueryString["ReturnUrl"] != null) {
        var query = from match in Request.QueryString["ReturnUrl"].Split('?').Where(m => m.Contains('='))
            .SelectMany(pr => pr.Split('&'))
                    where match.Contains('=')
                    select new KeyValuePair<string, String>(
                        match.Split('=')[0],
                        match.Split('=')[1]);
        query.ToList().ForEach(kvp => result.Add(kvp.Key, kvp.Value));
        if (result.ContainsKey("eventid")) {
            var eventData = EventData.GetEventDetails(result["eventid"]);
            if (eventData != null && eventData.IsFastLaneActive) {
                isFastLaneActive = true;
                eventId = result["eventid"];
            }
        }
    }
}


<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/logintop.jpg" alt="">
            <div class="line"> </div>
        </div>
        <!-- form starts -->

        <div id="contact">
            <div class="line">

                <div class="margin">
                    <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
                        <img src="https://clicktorace.blob.core.windows.net/portalimages/contact.jpg" alt="">
                    </div>
                    <div class="s-12 m-12 l-4 margin-bottom right-align">

                        <!-- <address>
                            <p><strong>Adress:</strong> Gallayova 19, 841 02 Bratislava</p>
                            <p><strong>Country:</strong> Slovakia - Europe</p>
                            <p><strong>E-mail:</strong> info@visiondesign.sk</p>
                         </address>-->
                        <br />

                        <p><i class="icon-user icon"></i><button style="width:200px;">@Html.ActionLink("Forgot Password?", "ForgotPassword", "Account")</button></p>

                        @{var loginProviders = Context.GetOwinContext().Authentication.GetExternalAuthenticationTypes();
                        if (!loginProviders.Any()) {

                        } 
                        else {
                            using (Html.BeginForm("ExternalLogin", "Account", new { ReturnUrl = ViewBag.ReturnUrl })) {
                                @Html.AntiForgeryToken()
                        <p><i class="icon-google_plus icon"></i> 
                            <button style="width:200px;" type="submit" id="Google" name="provider" value="Google" title="Log in using your Google account">
                                Signin with Google+
                            </button>
</p>
                        <!-- <p class="margin-bottom"><i class="icon-twitter icon"></i> <a href="#">Responsee</a></p>-->
}
                        }
                        }

                    </div>
                    <div class="s-12 m-12 l-5">
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "activation_form", @class = "customform", @role = "form" }))
{
    @Html.AntiForgeryToken()
   
                        <h3>Enter Username and Password</h3>
    if (!ViewData.ModelState.IsValid)
    {

        <strong>@Html.ValidationSummary()</strong>

    }
                        @*<form class="customform" action="">*@
                            <div class="s-12">
                        @*<input name="username" placeholder="User Name" title="Your Name" type="text" />*@
                                @Html.TextBoxFor(model => model.EmailAddress, new {  @placeholder = "Email Id"})
                            </div>
                            <div class="s-12">
                        @*<input name="password" placeholder="password" title="Password" type="password" />*@
                                @Html.PasswordFor(model => model.Password, new { @placeholder = "Password"})
                            </div>
                            <div class="s-12 m-12 l-4"><button class="color-btn" type="submit">Login</button>
                            </div>
    @*<div class="color-btn">
        @(!Request["ReturnUrl"].IsNullOrWhiteSpace() ?
                                      Html.ActionLink("Sign Up Now!!", "Register", "Account", new { ReturnUrl = Request["ReturnUrl"] }, null) :
                                      Html.ActionLink("Sign Up Now!!", "Register", "Account", null))
    </div>*@
}
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- formm ends -->
        <!-- FIRST BLOCK -->
        <!-- FEATURES -->
        <!-- CONTACT -->
        <!-- MAP -->

</section>
<!-- FOOTER -->
<footer>
    <div class="line">
        <div class="s-12 l-6">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="disclaimer.html">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a href="privacypolicy.html">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="terms.html">Terms of Use</a>
            </p>
        </div>
        <div class="s-12 l-6"> </div>
    </div>
</footer>
