﻿@model List<marathonrunners.Models.MyBookingViewModel>
@{
   
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
    }
<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/myracetop.jpg" alt="">
            <div class="line"> </div>
        </div>
        <!-- form starts -->

        <div id="about-us">
            <div class="s-12 m-12 l-4 media-container"> <img src="https://clicktorace.blob.core.windows.net/portalimages/myrace.jpg" alt=""> </div>
            <article class="s-12 m-12 l-8">
                <h2>My Race</h2>
                <p>
@if (!Model.Any()) {
    <h2>You have not registered for any event yet!</h2>
                    } else {
                    <table width="100%" border="1" cellpadding="5">
                        <tbody>
                            <tr style="background-color:#FF6E00; color:#fff; text-align:center">
                                <td>Registration Date</td>
                                <td>Registration ID</td>
                                <td>Event</td>
                            </tr>
                            @foreach (var t in @Model.OrderByDescending(x => x.RegistratiotnDateTime)) {
                                <tr>
                                    <td>@t.RegistratiotnDateTime</td>
                                    <td>@t.RegistrationId</td>
                                    <td>@t.RegisteredEvent</td>
                                </tr>
                            }
                        </tbody>
                    </table>
}

                </p>
            </article>
        </div>

        <!-- formm ends -->
        <!-- FIRST BLOCK -->
        <!-- FEATURES -->
        <!-- CONTACT -->
        <!-- MAP -->

</section>
<!-- FOOTER -->
<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>