﻿@using System
@using System.Web.UI.WebControls
@using ModelState = System.Web.ModelBinding.ModelState
@model Marathonrunners.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
@{
    Html.EnableClientValidation(true);
}
<style type="text/css">
    input[type="text"], select, .uneditable-input {
        height: 30px;
        width: 219px;
    }
</style>
<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="item"> <img src="https://clicktorace.blob.core.windows.net/portalimages/signuptop.jpg" alt=""> </div>
        <!-- form starts -->

    </div>

    <!-- form Stats -->

    <div id="contact">
        <div class="line">
            <h2 class="center_header" style="text-align:center;">SignUp Form</h2>

            <div class="s-12 m-12 l-12" style="text-align:center">
                <h3>All the fields are Mandatory</h3>
                @if (!ViewData.ModelState.IsValid)
                {

                    <strong>@Html.ValidationSummary()</strong>

                }
                @using (Html.BeginForm(@ViewBag.LoginProvider == null ? "Register" : "RegisterExternal", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "reg_form", @role = "form", @class = "form-control", @enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="s-12">
                        @Html.DropDownListFor(model => model.Title,
                                                        new List<SelectListItem>{
                                                            new SelectListItem { Text = "-", Value = ""},
                                                            new SelectListItem { Text = "Male", Value = "1"},
                                                            new SelectListItem { Text = "Female", Value = "2"}

                                                        }, new { @id = "title", @name = "Gender", @class = "span1" })
                        @Html.ValidationMessageFor(model => model.Title)
                    </div>

                    <div class="s-12">
                        @Html.TextBoxFor(model => model.FirstName, new
               {
                   @name = "inputFname",
                   @id = "inputFname",
                   @placeholder = "First Name",
                   @autocomplete = "off"
               })
                        @Html.ValidationMessageFor(model => model.FirstName)


                    </div>
                    <div class="s-12">
                        @Html.TextBoxFor(model => model.LastName, new
                   {
                       @name = "inputLname",
                       @id = "inputLnam",
                       @placeholder = "Last Name",
                       @autocomplete = "off"
                   })
                        @Html.ValidationMessageFor(model => model.LastName)


                    </div>

                    <div class="s-12">

                        @*<input type="date" name="checkin" class="form-control" required="required" placeholder="Date of Birth" style="padding:20px;">*@
                        @*@Html.TextBoxFor(model => model.DateOfBirth, new { @name = "datebirth", @id = "datebirth", @placeholder = "yyyy-mm-dd", @readonly = "readonly" })*@
                        @Html.TextBoxFor(model => model.DateOfBirth, new { @name = "datebirth", @id = "datebirth", @placeholder = "yyyy-mm-dd", @readonly = "readonly" })


                        @*<input type="date" name="datebirth" class="form-control" required="required" placeholder="Date of Birth" ">*@
                        @*@Html.ValidationMessageFor(model => model.DateOfBirth)*@
                    </div>
                    <div class="s-12">
                        @if (ViewBag.LoginProvider != null)
                        {
                            <input data-val="true" data-val-email="Invalid Email Address" data-val-required="Please enter your Email Address" id="input_email" name="EmailAddress" placeholder="Email ID" readonly="readonly" value=@ViewBag.LoginEmail type="email" />
                            @Html.ValidationMessageFor(model => model.EmailAddress)}
                        else
                        {
                            @Html.TextBoxFor(model => model.EmailAddress, new { @name = "input_email", @id = "input_email", @type = "email", @placeholder = "Email ID" })
                            @Html.ValidationMessageFor(model => model.EmailAddress)
                        }
                    </div>
                    <div class="s-12">
                        @Html.TextBoxFor(model => model.MobileNum, new { @name = "mobile", @id = "mobile", @placeholder = "Mobile Number", @minlength = "10", @maxlength = "10" })
                        @Html.ValidationMessageFor(model => model.MobileNum)
                        <p> Note: Please enter your contact number without the country code.<br> Eg - If your number is +91-9123456789, then you will enter as 9123456789</p>
                    </div>
                    <div class="s-12">
                        @Html.TextAreaFor(model => model.Address, new { @name = "address", @id = "address", @placeholder = "Address", @maxlength = "200", @cols = "26", @rows = "3" })
                        @Html.ValidationMessageFor(model => model.Address)


                    </div>
                    <div class="s-12">
                        @*<input type="text" name="city" class="form-control" required="required" placeholder="City" style="padding:15px;">*@
                        @Html.DropDownListFor(model => model.Nationality, new List<SelectListItem>(), new { @name = "nationality", @id = "nationality", @onchange = "nationality_onchange();" })
                        @Html.ValidationMessageFor(model => model.Nationality)
                        @Html.HiddenFor(model => model.HiddenNationality, new { @id = "hidden_nationality" })

                    </div>
                    <div class="s-12">
                        @*<input type="text" name="city" class="form-control" required="required" placeholder="City" style="padding:15px;">*@
                        @Html.DropDownListFor(model => model.Country, new List<SelectListItem>(), new { @name = "country", @id = "country", @onchange = "print_state('state', this.selectedIndex);" })
                        @Html.ValidationMessageFor(model => model.Country)
                        @Html.HiddenFor(model => model.HiddenCountry, new { @id = "hidden_country" })


                    </div>

                    <div class="s-12">
                        @Html.DropDownListFor(model => model.State, new List<SelectListItem>(), "Select State", new { @name = "state", @id = "state", @onchange = "print_city('city', this.selectedIndex);" })
                        @Html.ValidationMessageFor(model => model.State)
                        @Html.HiddenFor(model => model.HiddenState, new { @id = "hidden_state" })


                    </div>
                    <div class="s-12" id="other_state_div" style="display:none">
                        @Html.TextBoxFor(model => model.OtherState, new { @name = "other_state", @id = "other_state", @placeholder = "Other State" })
                    </div>
                    <div class="s-12">
                        @*<input type="text" name="city" class="form-control" required="required" placeholder="City" style="padding:15px;">*@
                        @Html.DropDownListFor(model => model.City, new List<SelectListItem>(), "Select City", new { @name = "city", @id = "city", @onchange = "$('#hidden_city').val($('#city :selected').text());" })
                        @Html.ValidationMessageFor(model => model.City)
                        @Html.HiddenFor(model => model.HiddenCity, new { @id = "hidden_city" })


                    </div>
                    <div class="s-12" id="other_city_div" style="display:none">
                        @Html.TextBoxFor(model => model.OtherCity, new { @name = "other_city", @id = "other_city", @placeholder = "Other City" })
                        @*@Html.ValidationMessageFor(model => model.OtherCity)*@
                        @Html.Hidden("othercity")
                    </div>
                    @*<div class="s-12">
                                <select required>
                                <option value="" selected="selected">ID Proof</option>
                                <option value="pan">PAN</option>
                                <option value="voterid">Voter ID</option>
                                <option value="passport">Passport</option>
                                <option value="aadhar">Aadhar</option>
                                <option value="drivinglicense">Driving License</option>
                            </select>
                        </div>
                        <div class="s-12">
                            <p>Photo ID Proof</p>
                            <input type="file" id="fileinput" multiple="multiple" />

                        </div>*@
                    <div class="s-12">
                        @*<input type="text" name="pin" class="form-control" required="required" placeholder="Pin Code" style="padding:15px;">*@
                        @Html.TextBoxFor(model => model.PostalCode, new { @name = "postcode", @id = "postcode", @placeholder = "Zip / Postal Code", @minlength = "4", @maxlength = "9" })
                        @Html.ValidationMessageFor(model => model.PostalCode)


                    </div>


                    <div class="s-12">
                        @Html.DropDownListFor(model => model.ShirtSize,
                    new List<SelectListItem>{
                        new SelectListItem { Text = "Select Tshirt Size", Value = ""},
                        new SelectListItem { Text = "XXL", Value = "XXL"},
                        new SelectListItem { Text = "XL", Value = "XL"},
                        new SelectListItem { Text = "L", Value = "L"},
                        new SelectListItem { Text = "M", Value = "M"},
                        new SelectListItem { Text = "S", Value = "S"},
                    }, new { @id = "tshirt_size", @name = "tshirt_size" })
                        @Html.ValidationMessageFor(model => model.ShirtSize)


                    </div>
                    <div class="s-12">
                        @Html.DropDownListFor(model => model.BloodGroup,
                    new List<SelectListItem>{
                        new SelectListItem { Text = "Select Bloodgroup", Value = ""},
                        new SelectListItem { Text = "A+", Value = "A+"},
                        new SelectListItem { Text = "A-", Value = "A-"},
                        new SelectListItem { Text = "B+", Value = "B+"},
                        new SelectListItem { Text = "B-", Value = "B-"},
                        new SelectListItem { Text = "AB+", Value = "AB+"},
                        new SelectListItem { Text = "AB-", Value = "AB-"},
                        new SelectListItem { Text = "O+", Value = "O+"},
                        new SelectListItem { Text = "O-", Value = "O-"},
                        new SelectListItem { Text = "Others", Value = "Others"}
                    }, new { @id = "blood_group", @name = "blood_group" })
                        @Html.ValidationMessageFor(model => model.BloodGroup)


                    </div>
                    <div class="s-12">
                        @Html.DropDownListFor(model => model.Occupation,
                    new List<SelectListItem>{
                        new SelectListItem { Text = "Select Occupation", Value = ""},
                        new SelectListItem { Text = "Business", Value = "Business"},
                        new SelectListItem { Text = "Self Employeed", Value = "Self Employeed"},
                        new SelectListItem { Text = "Salaried", Value = "Salaried"},
                        new SelectListItem { Text = "Retired", Value = "Retired"},
                        new SelectListItem { Text = "House Wife", Value = "House Wife"},
                        new SelectListItem { Text = "Student", Value = "Student"},
                        new SelectListItem { Text = "Govt. Employee", Value = "Govt. Employee"},
                        new SelectListItem { Text = "Sports Person", Value = "Sports Person"},
                        new SelectListItem { Text = "Unemployed", Value = "Unemployed"},
                        new SelectListItem { Text = "Others", Value = "Others"}
                    }, new { @id = "occupation", @name = "occupation" })

                    </div>
                    <div class="s-12">
                        @*<input type="tel" name="emergency_phone" class="form-control" required="required" placeholder="Emergency Number" style="padding:15px;">*@
                        @Html.TextBoxFor(model => model.EmergencyContactNumber, new { @name = "emcontactnum", @id = "emcontactnum", @placeholder = "Emergency Contact No.", @minlength = "10", @maxlength = "15" })
                        @Html.ValidationMessageFor(model => model.EmergencyContactNumber)


                    </div>
                    <div class="s-12">
                        @Html.TextBoxFor(model => model.EmergencyContactName, new { @name = "emcontactname", @id = "emcontactname", @placeholder = "Emergency Contact Name" })
                        @Html.ValidationMessageFor(model => model.EmergencyContactName)


                    </div>
                    <div class="s-12">
                        @Html.TextBoxFor(model => model.NameOnBIB, new { @name = "nameonbib", @id = "nameonbib", @placeholder = "Name on BIB", @maxlength = "10" })
                        @Html.ValidationMessageFor(model => model.NameOnBIB)


                    </div>
                    <div class="s-12">
                        <p>Do you suffer from any chronic diseases? </p>

                        @Html.DropDownListFor(model => model.ChronicDDropdown,
                                    new List<SelectListItem>{
                                new SelectListItem { Text = "Select", Value = ""},
                                new SelectListItem { Text = "Yes", Value = "yes"},
                                new SelectListItem { Text = "No", Value = "no"},
                               }, new { @name = "ChronicDDropdown", @id = "ChronicDDropdown", @placeholder = "None", @maxlength = "20", @onchange = "if (this.value=='yes'){this.form['chronicdisease'].style.visibility='visible'}else {this.form['chronicdisease'].style.visibility='hidden'};" })
                        @Html.ValidationMessageFor(model => model.ChronicDDropdown)
                        <br />


                        @Html.TextBoxFor(model => model.ChronicDisease, new { @name = "chronicdisease", @id = "chronicdisease", @placeholder = "Please enter disease name", @maxlength = "20", style = "visibility:hidden;" })
                        @Html.ValidationMessageFor(model => model.ChronicDisease)


                    </div>


                    <div class="s-12">
                        @*<input type="checkbox" name="terms" value="terms">
                            I agree to the <a href="http://kanishkkunal.in"
                                              target="popup"
                                              onclick="window.open('/TermsConditionsHtml/TermsAndConditions.html','popup','width=600,height=600,toolbar=no, location=no,'); return false;" title="click for terms and conditions"><span style="color:#FFB108">Terms and conditions</span></a>*@

                        @Html.CheckBoxFor(model => model.AgreesToTerms, new { @name = "terms_and_conditions", @id = "terms_and_conditions", @checked = true })
                        I agree to the <span class="underline" id="terms_hover">
                            <a href="http://kanishkkunal.in"
                               target="popup"
                               onclick="window.open('/TermsConditionsHtml/TermsAndConditions.html','popup','width=600,height=600,toolbar=no, location=no,'); return false;" title="click for terms and conditions">terms and conditions</a>
                        </span>

                        @Html.ValidationMessageFor(model => model.AgreesToTerms)
                    </div>
                    <div class="s-12">
                        @Html.CheckBoxFor(model => model.KeepMePosted, new { @name = "keep_me_posted", @id = "keep_me_posted", @checked = true })
                        Please keep me posted on click2race Events

                        @Html.ValidationMessageFor(model => model.KeepMePosted)
                    </div>
                    <div class="s-12 m-12 l-2" style="margin-left:40%; padding-top:20px;">

                        <input style="height:40px;width:100px;padding-top:10px;" type="submit" name="Submit" id="submitbtn" value="SignUp" class="color-btn">
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="line">
        <div class="s-12 l-6 ">
            <p>
                Copyright click2race.com. <a href="http://www.ivision.in" title="iVision">Powered by iVision</a>&nbsp;&nbsp;<br>
                <a href="~/Home/Disclaimer">Disclaimer</a> &nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/Privacy">Privacy</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="~/Home/TermsOfUse">Terms of Use</a>
            </p>

        </div>
        <div class="s-3 l-5">

            <div class="line">
                <div class="margin">
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/mastercard.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/visa.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/verisign.jpg" alt="" /></div>
                    </div>
                    <div class="s-6 l-five">
                        <div class="box-dark"><img src="https://clicktorace.blob.core.windows.net/portalimages/payu.jpg" alt="" /></div>
                    </div>
                </div>
            </div>




        </div>




    </div>
</footer>