﻿@using Microsoft.AspNet.Identity
@model Marathonrunners.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";

}
@*<div id="mainBody">
    <div class="row">
        <div id="headerpage">
            <h3 class="center_header"> Reset Password</h3>
            <div class="well" style="height: 700px">
                <div class="register">
                    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                        @Html.AntiForgeryToken()
                    <div class="alert alert-info fade in">
                        Password criteria:
                        <ol>
                            <li>
                                Minimum Length 7 characters
                            </li>
                            <li>
                                Atleast one Numeric character
                            </li>
                        </ol>
                        Example: qwerty1
                    </div>
                        if (!ViewData.ModelState.IsValid) {
                            <div class="alert alert-block alert-error fade in">
                                <button type="button" class="close" data-dismiss="alert">×</button>
                                <strong>@Html.ValidationSummary()</strong>
                            </div>
                        }
                        @Html.HiddenFor(model => model.Code)
                        <div class="control-group">
                            @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                            <div class="controls">
                                @Html.TextBoxFor(m => m.Email, new { @autocomplete = "off" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            <div class="controls">
                                @Html.PasswordFor(m => m.Password, new { @name = "password", @id = "password", @placeholder = "Password", @title = "New Password" })
                            </div>
                        </div>
                        <div class="control-group">
                            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                            <div class="controls">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @name = "confirm_password", @id = "confirm_password", @placeholder = "Re-enter Password" })
                            </div>
                        </div>
                        <div style="text-align: center">
                            <input class="btn btn-large btn-success" type="submit" id="submitbtn" value="Submit" />
                        </div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>*@
<section>
    <!-- CAROUSEL -->
    <div id="carousel">
        <div class="iteminner">
            <img src="https://clicktorace.blob.core.windows.net/portalimages/resettop.jpg" alt="">
            <div class="line"> </div>
        </div>
        <!-- form starts -->

        <div id="contact">
            <div class="line">

                <div class="margin">
                    <div class="s-12 m-12 l-3 hide-m hide-s margin-bottom right-align">
                        <img src="https://clicktorace.blob.core.windows.net/portalimages/contact.jpg" alt="">
                    </div>
                    <div class="s-12 m-12 l-4 margin-bottom right-align">

                        <!-- <address>
                            <p><strong>Adress:</strong> Gallayova 19, 841 02 Bratislava</p>
                            <p><strong>Country:</strong> Slovakia - Europe</p>
                            <p><strong>E-mail:</strong> info@visiondesign.sk</p>
                         </address>-->
                        <br />

                        <p>Minimum Length 7 Character</p>
                        <p>Atlease 1 Numeric Character</p>
                        <p>Example : Click2race</p>
                    </div>
                    <div class="s-12 m-12 l-5">
                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
                            @Html.AntiForgeryToken()
                            <h3>Registered Email ID</h3>
                            if (!ViewData.ModelState.IsValid) {
                            <div>
                                <strong>@Html.ValidationSummary()</strong>
                            </div>
                            }
                            <div class="s-12">
                            @*<input name="#" placeholder="Email ID" title="Current Password" type="email" />*@
                                @Html.TextBoxFor(m => m.Email, new { @autocomplete = "off" })


                            </div>
                            <h3>Password</h3>
                            <div class="s-12">
                            @*<input name="#" placeholder="New Password" title="Password" type="password" />*@
                                @Html.PasswordFor(m => m.Password, new { @name = "password", @id = "password", @placeholder = "Password", @title = "New Password" })
                            </div>
                            <h3>Confirm Password</h3>
                            <div class="s-12">
                            @*<input name="changepw" placeholder="Confirm Password" title="Confirm Password" type="password" />*@
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @name = "confirm_password", @id = "confirm_password", @placeholder = "Re-enter Password" })


                            </div>    
                                               <div class="s-12 m-12 l-4"><button class="color-btn" type="submit">Update</button></div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- formm ends -->
        <!-- FIRST BLOCK -->
        <!-- FEATURES -->
        <!-- CONTACT -->
        <!-- MAP -->
</div>
</section>
